{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2026/0000417 - Documents - Find a Section 62A application
{% endblock %}

{% block content %}
<style>
    .document-list li,
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 15px !important;
    }

    .document-list li {
        border-top: 1px solid #b1b4b6;
    }

    .document-list__meta-data {
        color: #505a5f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1rem;
        line-height: 1.25;
    }

    .document-list,
    .govuk-list {
        color: #0b0c0c;
    }

    .document-list,
    .govuk-list {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .document-list,
    .govuk-list {
        padding-left: 0;
        list-style-type: none;
    }

    .document-list .document-list,
    .document-list .govuk-list,
    .govuk-list .document-list,
    .govuk-list .govuk-list {
        margin-top: 10px
    }

    .document-list>li,
    .govuk-list>li {
        margin-bottom: 5px;
    }

    .document-list+.govuk-heading-l,
    .govuk-body+.govuk-heading-l,
    .govuk-body-m+.govuk-heading-l,
    .govuk-body-s+.govuk-heading-l,
    .govuk-list+.govuk-heading-l {
        padding-top: 15px;
    }

    @media(min-width: 40.0625em) {

        .document-list+.govuk-heading-l,
        .govuk-body+.govuk-heading-l,
        .govuk_body-m+.govuk-heading-l,
        .govuk-body-s+.govuk-heading-l,
        .govuk-list+.govuk-heading-l {
            padding-top: 20px;
        }
    }

    .document-list+.filter-accordion__title,
    .document-list+.govuk-heading-m,
    .document-list+.govuk-heading-s,
    .govuk-body+.filter-accordion__title,
    .govuk-body+.govuk-heading-m,
    .govuk-body+.govuk-heading-s,
    .govuk-body-m+.filter-accordion__title,
    .govuk-body-m+.govuk-heading-m,
    .govuk-body-m+.govuk-heading-s,
    .govuk-body-s+.filter-accordion__title,
    .govuk-body-s+.govuk-heading-m,
    .govuk-body-s+.govuk-heading-s,
    .govuk-list+.filter-accordion__title,
    .govuk-list+.govuk-heading-m,
    .govuk-list+.govuk-heading-s {
        padding-top: 5px;
    }

    @media(min-width: 40.0625em) {

        .document-list+.filter-accordion__title,
        .document-list+.govuk-heading-m,
        .document-list+.govuk-heading-s,
        .govuk-body+.filter-accordion__title,
        .govuk-body+.govuk-heading-m,
        .govuk-body+.govuk-heading-s,
        .govuk-body-m+.filter-accordion__title,
        .govuk-body-m+.govuk-heading-m,
        .govuk-body-m+.govuk-heading-s,
        .govuk-body-s+.filter-accordion__title,
        .govuk-body-s+.govuk-heading-m,
        .govuk-body-s+.govuk-heading-s,
        .govuk-list+.filter-accordion__title,
        .govuk-list+.govuk-heading-m,
        .govuk-list+.govuk-heading-s {
            padding-top: 10px;
        }
    }

    .document-list,
    .document-list li,
    .govuk-\!-margin-0 {
        margin: 0 !important;
    }

    .document-list li,
    .govuk-\!-padding-top-2 {
        padding-top: 10px !important;
    }

    .document-list li,
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 15px !important;
    }

    .document-list__meta-data {
        color: #505a5f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .filter {
        background-color: #f3f2f1;
        padding: 8px;
        border-radius: 5px;
        margin-left: 10px;
        border: 1px solid #505a5f;
        text-decoration: none;
        color: black;
    }

    .filters {
        margin-bottom: 16px;
        padding-bottom: 14px;
        border-bottom: 1px solid #b1b4b6;
    }

    .filters .govuk-details__text {
        border: none;
        padding-left: 0;
    }

    .filtersText {
        text-decoration: none;
        color: #000;
        font-weight: 700;
        font-size: 1.1875rem;
    }

    .filter:visited {
        color: black;
    }

    .govuk-details__summary::before {
        clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
        background-color: black;
        color: black;
        width: 3px;
        height: 3px;
    }

    .govuk-details[open]>.govuk-details__summary::before {
        clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
        width: 3px;
        height: 3px;
    }

    .govuk-accordion__section-button {
        font-size: 19px !important;
    }

    .govuk-accordion__section-button {
        padding-bottom: 0px !important;
    }

    #accordion-default-content-1 {
        padding-bottom: 0px !important;
    }

    .govuk-form-group {
        margin-bottom: 20px !important;
    }

    .govuk-accordion__section-content {
        padding-bottom: 0px !important;
    }

    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }
</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0000417/app-info">Application information</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2026-0000417/documents" aria-current="location">Documents</a>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0000417/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0000417/written-representations">Written representations (Comments and feedback)</a>
                </li>
            </ul>
        </nav>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div style="margin-left:12px;">

            <h2 class="govuk-heading-m">Filters</h2>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" data-remember-expanded="false">
                
                <!-- Category Section -->
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h3 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Category
                            </span>
                        </h3>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                        <div style="padding-left:30px;">
                            <form class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-grid-row">
                                        <div class="">
                                            <fieldset class="govuk-fieldset">
                                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                                    
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="category-1" name="document-category" type="checkbox" value="Application Plans and Documents">
                                                        <label class="govuk-label govuk-checkboxes__label" for="category-1">
                                                            Application Plans and Documents (15)
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="category-2" name="document-category" type="checkbox" value="Questionnaire and supporting documents">
                                                        <label class="govuk-label govuk-checkboxes__label" for="category-2">
                                                            Questionnaire and supporting documents (15)
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="category-3" name="document-category" type="checkbox" value="Planning Inspectorate Correspondence">
                                                        <label class="govuk-label govuk-checkboxes__label" for="category-3">
                                                            Planning Inspectorate Correspondence (1)
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="category-4" name="document-category" type="checkbox" value="Applicant Correspondence">
                                                        <label class="govuk-label govuk-checkboxes__label" for="category-4">
                                                            Applicant Correspondence (0)
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="category-5" name="document-category" type="checkbox" value="Decision">
                                                        <label class="govuk-label govuk-checkboxes__label" for="category-5">
                                                            Decision (0)
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="category-6" name="document-category" type="checkbox" value="Other">
                                                        <label class="govuk-label govuk-checkboxes__label" for="category-6">
                                                            Other (3)
                                                        </label>
                                                    </div>

                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- Date published Section -->
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                Date published
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                        <div style="padding-left:30px;">
                            <form class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    
                                    <!-- From Date -->
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                        <h4 class="govuk-fieldset__heading">
                                            From
                                        </h4>
                                    </legend>
                                    <div class="govuk-hint" id="date-from-hint">For example, 5 7 2022</div>
                                    <div class="govuk-date-input">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="date-from-day">Day</label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day" name="date-from-day" type="text" inputmode="numeric" aria-describedby="date-from-hint">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="date-from-month">Month</label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month" name="date-from-month" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="date-from-year">Year</label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year" name="date-from-year" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- To Date -->
                                    <legend style="margin-top:20px" class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                        <h4 class="govuk-fieldset__heading">
                                            To
                                        </h4>
                                    </legend>
                                    <div class="govuk-hint" id="date-to-hint">For example, 27 3 2023</div>
                                    <div class="govuk-date-input">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="date-to-day">Day</label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day" name="date-to-day" type="text" inputmode="numeric" aria-describedby="date-to-hint">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="date-to-month">Month</label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month" name="date-to-month" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="date-to-year">Year</label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year" name="date-to-year" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <a href="" class="govuk-button" id="apply-filters" style="margin-bottom:0px;">
                Apply filters
            </a>
        </div> 

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">S62A/2026/00000417</span>
            Documents
        </h1>
        
        <div>
            <div id="search-hint" class="govuk-hint">
                Search by document name</div>
            <form class="govuk-form-group" style="display: flex; gap: 8px; align-items: center">
                <label class="govuk-label govuk-visually-hidden" for="keyword-search">Keyword search</label>
                <input class="govuk-input" id="keyword-search" name="keyword-search" type="text" autocomplete="off"
                    style="width:100%;">
                <button class="govuk-button" id="keyword-search-button" type="submit"
                    style="margin-bottom:0px;">Search</button>
            </form>
        </div>

        <hr class="govuk-section-break govuk-section-break--l">

        <div id="pagination" class="govuk-body">
            <p class="govuk-body">
                Showing
                <strong>1</strong>
                to
                <strong>25</strong>
                of
                <strong>32</strong>
                documents, newest first.
            </p>

            <span>
                <strong>Results per page</strong>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;

            <span class="govuk-body">25</span>

            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="govuk-link--no-visited-state" href="?itemsPerPage=50" data-pagination="50">50</a>

            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="govuk-link--no-visited-state" href="?itemsPerPage=100" data-pagination="100">100</a>

            <div style="margin-top:20px">

               <ul class="govuk-list document-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Statement of Reasons and Decision Notice S62A00000417 (PDF, 245 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>29 Dec 2026</div>
                            <div></div>
                            <div>Decision</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">01-230526-0003_Redacted (PDF, 687 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>7 Nov 2026</div>
                            <div></div>
                            <div>Other</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Bat Survey_Redacted (PDF, 2.75 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>7 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Design and Access Statement_checked (PDF, 444 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>7 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Exisiting Elevations_checked (PDF, 646 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>7 Nov 2026</div>
                            <div></div>
                            <div>Other</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Existing Block Plan_checked (PDF, 76.1 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>7 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Existing Plans and Elevations_checked (PDF, 608 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>7 Nov 2026</div>
                            <div></div>
                            <div>Other</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">External Materials Schedule_checked (PDF, 49.9 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>5 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Howard_20260806_104158 Hard Soft Landscaping Plan levels_Redacted (PDF, 3.39 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>5 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Justification for Development and Sustainability Statement_checked (PDF, 283 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>5 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Location Plan_Redacted (PDF, 505 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>4 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Planning Application - 1 Wheatfield Road_Redacted (PDF, 4.16 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>4 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Proposed Plans and Elevations (2)_Redacted (PDF, 5.56 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>4 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Proposed Plans and Elevations_Redacted (PDF, 4.95 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>4 Nov 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Tree Protection Statement_checked (PDF, 306 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>31 Oct 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Howard_20260801_145225_Redacted (PDF, 2.4 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>31 Oct 2026</div>
                            <div></div>
                            <div>Application Plans and Documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">S62A Questionnaire (PDF, 118 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>31 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">106 - Nature Conservation (PDF, 20.8 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>31 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">2 - Settlement Strategy (PDF, 74.5 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>31 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">34 - Highways Considerations in Development Control (PDF, 36.8 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>30 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">39 - Parking Standards General Requirements (PDF, 234 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>30 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">4 - New Housing Development in Towns (PDF, 212 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>30 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">40 - Residential Development Parking Standards (PDF, 43.6 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>28 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">69 - General Design and Layout (PDF, 19.3 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>28 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">70 - Design and Layout of New Housing (PDF, 83 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>28 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">74 - Landscaping and Tree Preservation (PDF, 30.4 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>28 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Design Advice Leaflet No 1 (PDF, 5.61 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>25 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Front Sheet SADC Local Plan Review 1994 (PDF, 19.1 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>25 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Harpenden Neighbourhood Plan - version for referendum Nov 2018 Combined (PDF, 4.39 MB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>25 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Planning history 1 Wheatfield Road (PDF, 5.11 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>24 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="" rel="noreferrer">Revised Parking Policies and Standards January 2002 (PDF, 949 KB)</a>
                        <div class="document-list__meta-data" style="padding-top: 15px; padding-bottom: 15px">
                            <div>23 Oct 2026</div>
                            <div></div>
                            <div>Questionnaire and supporting documents</div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <nav class="govuk-pagination" aria-label="Pagination">
            <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="?page=1" aria-label="Page 1" aria-current="page">
                        1
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="?page=2" aria-label="Page 2">
                        2
                    </a>
                </li>
            </ul>

            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="?page=2" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden">
                            page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                        height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
                        <path
                            d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                </a>
            </div>
        </nav>
    </div>

</div>

{% endblock %}