{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorCreateFolder %}Error: {% endif %}Create a folder - {{ currentCase.reference | default('Case') }}
{% endblock %}

{% block beforeContent %}
  {# Dynamically set the back link based on where we came from #}
  {% set backLinkHref = "/current-service/back-office/manage-documents/index?ref=" ~ currentCase.reference %}
  {% if parentId != 'root' %}
    {% set backLinkHref = "/current-service/back-office/manage-documents/folder/" ~ parentId ~ "?ref=" ~ currentCase.reference %}
  {% endif %}

  {{ govukBackLink({ text: "Back", href: backLinkHref }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorCreateFolder %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorCreateFolder, href: "#create-folder" }]
        }) }}
      {% endif %}

      <form class="form" action="/current-service/back-office/manage-documents/create-folder" method="post" novalidate>
        
        {# Hidden inputs to pass the context safely into the POST route #}
        <input type="hidden" name="ref" value="{{ currentCase.reference }}">
        <input type="hidden" name="parentId" value="{{ parentId }}">

        {{ govukInput({
          id: "create-folder",
          name: "create-folder",
          value: data['create-folder'],
          label: {
            html: "<span class='govuk-caption-l'>Create a folder</span>Folder name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: { text: errorCreateFolder } if errorCreateFolder else null
        }) }}
        
        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

      {# Dynamically set the cancel link text #}
      {% if parentId == 'root' %}
        <p class="govuk-body">
          <a class="govuk-link" href="/current-service/back-office/manage-documents/index?ref={{ currentCase.reference }}">
            Cancel and return to Manage documents
          </a>
        </p>
      {% else %}
        <p class="govuk-body">
          <a class="govuk-link" href="/current-service/back-office/manage-documents/folder/{{ parentId }}?ref={{ currentCase.reference }}">
            Cancel and return to {{ parentFolder.name }} folder
          </a>
        </p>
      {% endif %}

    </div>
  </div>
{% endblock %}