{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  Did you use AI for this written representation? - Find a Section 62A application
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorIndividualOrBehalf %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorIndividualOrBehalf, href: "#individual-or-behalf" }]
      }) }}
    {% endif %}

    <form class="form" action="/current-service/front-office/testing/experimental/hys-flow/ai-2" method="post" novalidate>
      
      {{ govukRadios({
        idPrefix: "ai-1",
        name: "ai-1",
        fieldset: {
          legend: { 
            text: "Did you use AI for this written representation?", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        hint: {text:
            "You can use artificial intelligence (AI) tools to help draft or translate your written representation. You must check that everything is accurate and reflects your own views."
        },
        errorMessage: { text: errorIndiviudalOrBehalf } if errorIndividualOrBehalf else null,
        items: [
          { 
            value: "Yes", 
            text: "Yes", 
            checked: data['ai-1'] == 'Yes' 
          },
          { 
            value: "No", 
            text: "No", 
            checked: data['ai-1'] == 'No' 
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}