{% extends "layouts/new/front-office.html" %}


{% block content %}

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          
<h1 class="govuk-heading-l">Check group details</h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 60%;">Person</dt>
        <dt class="govuk-summary-list__key govuk-summary-list__actions">Actions</dt>
    </div>
    <div class="govuk-summary-list__row">

        <dd class="govuk-summary-list__value">
            Jean Smith
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
                            applicant</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden">
                            applicant</span></a>
                </li>
            </ul>
        </dd>

    </div>
    <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
            David Browning
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
                            applicant</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden">
                            applicant</span></a>
                </li>
            </ul>
        </dd>
    </div>



</dl>

<div style="padding-bottom: 20px;"><a href="manage-list-example-1.html" class="govuk-body govuk-link">Add another person</a>
</div>

<a href="" class="govuk-button">Continue</a>


        </main>
      </div>


{% endblock %}