{% extends "layouts/new/front-office.html" %}

{% set pageName = "Check your answers" %}

{% block content %}

    <style nonce="">
        .app-task-list {
            padding-left: 0;
        }
        .app-task-list > li {
            position: relative;
            list-style-type: none;

        }
        .app-task-list__section .govuk-tag {
            position: absolute;
            top: 3px;
            right: 0;
        }
        .app-task-list .govuk-summary-list {
            border-top: 1px solid #b1b4b6;
        }
    </style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
        <h1 class="govuk-heading-l">
            Check your answers
        </h1>

        <h2 class="govuk-heading-s">Personal details</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Who you are submitting for
                </dt>
                <dd class="govuk-summary-list__value">
                    On behalf of another person, an organisation or group of people</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">Who are you submitting a representation for?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Who are you representing?
                </dt>
                <dd class="govuk-summary-list__value">
                    A person</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">Who are you representing?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Are you an agent?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link">Change
                            <span class="govuk-visually-hidden">Are you acting as an agent on behalf of a client?</span></a>
                    </dd>
            </div>

            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Agent organisation name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        The Lilac Group
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link">Change
                            <span class="govuk-visually-hidden">What is the name of the organisation you work for?</span></a>
                    </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Your full name
                </dt>
                <dd class="govuk-summary-list__value">
                    Joe Smith<br>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">What is your name?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    joe.smith@gmail.com
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">What is your email address?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Represented person name
                </dt>
                <dd class="govuk-summary-list__value">
                    Steve Fox
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">What is your email address?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Tell us about application
                </dt>
                <dd class="govuk-summary-list__value">
                     We support the proposed development in principle but request additional measures to address local traffic congestion and biodiversity impacts.
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">What do you want to say about your application?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Attachments uploaded?
                </dt>
                <dd class="govuk-summary-list__value">
                    No
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">Do you want to include supporting documents with your comment?</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Used artificial intelligence (AI)?
                </dt>
                <dd class="govuk-summary-list__value">
                    No
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link">Change
                        <span class="govuk-visually-hidden">Did you use artiifical intelligence (AI) for this written representation?</span></a>
                </dd>
            </div>


        </dl>

        <a href="17-declaration.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button"
            data-govuk-button-init="">Continue</a>

    </div>

</div>

{% endblock %}