{% extends "layouts/new/front-office.html" %}


{% set pageName = "Declaration" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-l">
            Declaration
        </h1>
        <p class="govuk-body">By submitting this form, you are making a written representation on a Section 62A development application. 
            Your comment will be considered by the Planning Inspectors before they make a decision on the application.</p>
        
        <p class="govuk-body">Before you submit this representation, you must confirm that the information provided is accurate and true to the best of your knowledge.</p>

        <br>
        <div class="govuk-form-group">

            <p class="govuk-hint">Select each statement to confirm that you agree.</p>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label">
                        I consent to my name, comment and supporting documents being published on this website
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label">
                        The Planning Inspectorate may contact me by email about my comment and supporting documents
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label">
                        If I used artificial intelligence (AI) tools in my written representation, I have checked that all data is accurate and reflects my views

                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label">
                        If I used artificial intelligence, no automated content has been included that introduces false or misleading factual evidence

                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label">
                        I have read and understood the
                        <a href="">Customer Privacy Notice
                        </a>
                    </label>
                </div>
            </div>
        </div>

        <a class="govuk-button" href="/features/have-your-say-content/index">
            Accept and submit </a>
    </div>

</div>

</div>

{% endblock %}