{% extends "layouts/new/front-office.html" %}

{% set pageName = "What do you want to say about this application?" %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">


        <p class="govuk-body">



        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="event-name">
                                How did you use artificial intelligence (AI)?
                            </label>
                        </h1>

                    </div>
                </legend>
                <p class="govuk-hint">For example, to proofread or translate your written representation.</p>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
        </div>
        </fieldset>


        <a href="16-check-your-answers.html" class="govuk-button">
            Continue
        </a>
        </form>
    </div>

</div>

{% endblock %}