{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorAgentOrgName %}Error: {% endif %}What is the name of the agent organisation?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/create-a-case/4-1-has-agent"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/next-page-url" method="post" novalidate>
        
        {% call govukFieldset({
          legend: {
            text: "What is the name of the next person you are representing?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              text: "First name"
            },
            id: "first-name",
            name: "firstName",
            autocomplete: "given-name",
            spellcheck: false
          }) }}

          {{ govukInput({
            label: {
              text: "Last name"
            },
            id: "last-name",
            name: "lastName",
            autocomplete: "family-name",
            spellcheck: false
          }) }}

        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}