{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorAgentOrgName %}Error: {% endif %}What is the name of the agent organisation?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/create-a-case/4-1-has-agent"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorAgentOrgName %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorAgentOrgName, href: "#agent-org-name" }]
        }) }}
      {% endif %}

      <form class="form" action="/agent-org-name-answer" method="post" novalidate>

        {{ govukInput({
          id: "agent-org-name",
          name: "agent-org-name",
          value: data['agent-org-name'],
          label: {
            text: "What is the name of your organisation, charity or local community group?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We will publish your organisation name on the website along with your representation"
          },
          errorMessage: { text: errorAgentOrgName } if errorAgentOrgName else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}