{% extends "layouts/new/front-office.html" %}

{% set pageName = "" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
           
            <input type="hidden" name="_csrf" value="">
            <h1 class="govuk-heading-l">
                Upload supporting documents
            </h1>
            <p class="govuk-body">Use this page to upload your supporting documents. These will be published on the website along with your name and comment.</p>
            <div class="govuk-inset-text">
                Do not include in your supporting documents any personal information that could identify you or another person.
            </div>

            <p class="govuk-body">Note that:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>files must not be compressed (ZIP files will not be accepted)</li>
                <li>each file must be under 20MB</li>
                <li>only 3 files can be uploaded at a time</li>
                <li>total upload size must be under 1GB</li>
            </ul>

            <p class="govuk-body">You can use artificial intelligence (AI) tools to help draft or generate content related to your comment.
                You must check automated content does not introduce false or misleading factual evidence.</p>

            {% from "components/multi-file-upload.njk" import uploadArea %}

            {{ uploadArea() }}

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Guidance on what not to include
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">Do not include:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>personal data such as names, addresses, contact details, signatures and photos that could identify you or anyone else
                        </li>
                        <li>links to third party websites, except GOV.UK or chartered professional websites</li>
                        <li>sensitive information</li>
                    </ul>
                    <p class="govuk-body">Sensitive information refers to information that:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>could identify a child</li>
                        <li>relates to health</li>
                        <li>relates to crime&nbsp;</li>
                    </ul>
                    <p class="govuk-body">It also means any information relating to an individual's:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>race or ethnic origin</li>
                        <li>political or religious beliefs</li>
                        <li>trade union membership</li>
                        <li>genetic or biometric data</li>
                        <li>physical characteristics</li>
                        <li>mental health or sexual health</li>
                        <li>sexual orientation and sex life</li>
                    </ul>
                    <p class="govuk-body">If you include any personal data, third party links or sensitive data in your comment or supporting documents, this will be redacted and will not be taken into account by the Planning Inspectors.</p>
                    <p class="govuk-body">If you include any racist, inflammatory or abusive language, your written representation will be rejected.</p>

                </div>
            </details>

            <form action="" method="post" novalidate="">
                <input type="hidden" name="_csrf" value="">
                <input type="hidden" name="submitterAttachments" value="IiI=">
               <a href="15b-upload-supporting-documents-uploading.html" class="govuk-button">
                    Continue
                </a>
            </form>

        </div>

    </div>

{% endblock %}