{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorObscureName %}Error: {% endif %}Does the interested party want their name obscured?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/current-service/back-office/manage-representations/add-a-representation/06-name-of-the-person-submitting-the-representation" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorObscureName %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorObscureName, href: "#obscure-name" }]
      }) }}
    {% endif %}

    <form class="form" action="/obscure-name-answer" method="post" novalidate>
      
      {{ govukRadios({
        idPrefix: "obscure-name",
        name: "obscure-name",
        fieldset: {
          legend: { 
            text: "Does the interested party want their name obscured?", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        hint: { 
            text: "Select yes if the interested party has contacted the Planning Inspectorate asking for their name to be obscured from the front office."
        },
        errorMessage: { text: errorObscureName } if errorObscureName else null,
        items: [
          { 
            value: "Yes", 
            text: "Yes", 
            checked: data['obscure-name'] == 'Yes' 
          },
          { 
            value: "No", 
            text: "No", 
            checked: data['obscure-name'] == 'No' 
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}