{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorNameOfSendersOrgOrCharity %}Error: {% endif %}Name of sender's organisation or charity
{% endblock %}

{% block beforeContent %}

{% if data['preferred-contact-method'] == 'Email' %}
    {% set backLink = "/current-service/back-office/manage-representations/add-a-representation/08-email-address-provided" %}

{% elif data['preferred-contact-method'] == 'Post' %}
    {% set backLink = "/current-service/back-office/manage-representations/add-a-representation/09-postal-address-provided" %}

{% endif %}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorNameOfSendersOrgOrCharity %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorNameOfSendersOrgOrCharity, href: "#name-of-senders-org-or-charity" }]
        }) }}
      {% endif %}

      <form class="form" action="/name-of-senders-org-or-charity-answer" method="post" novalidate>

        {{ govukInput({
          id: "name-of-senders-org-or-charity",
          name: "name-of-senders-org-or-charity",
          spellcheck: false,
          value: data['name-of-senders-org-or-charity'],
          label: {
            text: "Name of the sender's organisation or charity",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "We will publish your organisation name on the website along with your representation." 
        },
          errorMessage: { text: errorNameOfSendersOrgOrCharity } if errorNameOfSendersOrgOrCharity else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}