{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  Representation added - data['submittedRepReference']
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        
        {{ govukPanel({
            titleText: "Representation added",
            html: "Representation reference<br><strong>" + data['submittedRepReference'] + "</strong>"
        }) }}
        
        <p class="govuk-body govuk-!-margin-top-6">
            <a href="/current-service/back-office/manage-representations/manage-representations" class="govuk-link">Go back to overview</a>
        </p>

    </div>
</div>

{% endblock %}