{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorHowWasThisRepresentationReceived %}Error: {% endif %}How was this representation received?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/current-service/back-office/manage-representations/review-representation/review" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorHowWasThisRepresentationReceived %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorHowWasThisRepresentationReceived, href: "#how-was-this-representation-received" }]
      }) }}
    {% endif %}

    <form class="form" action="/edit-how-was-this-representation-received" method="post" novalidate>
      
      {{ govukRadios({
        idPrefix: "how-was-this-representation-received",
        name: "how-was-this-representation-received",
        fieldset: {
          legend: { 
            text: "How was this representation received?", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        errorMessage: { text: errorHowWasThisRepresentationReceived } if errorHowWasThisRepresentationReceived else null,
        items: [
          { 
            value: "Phone", 
            text: "Phone", 
            checked: data['how-was-this-representation-received'] == 'Phone' 
          },
          { 
            value: "Email", 
            text: "Email", 
            checked: data['how-was-this-representation-received'] == 'Email' 
          },
          { 
            value: "Post", 
            text: "Post", 
            checked: data['how-was-this-representation-received'] == 'Post' 
          },
          { 
            value: "In person", 
            text: "In person", 
            checked: data['how-was-this-representation-received'] == 'In person' 
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Save" }) }}

    </form>
  </div>
</div>
{% endblock %}