{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
 {% if errorReasonForNotUsingOnlineService %}Error: {% endif %}Reason for not using the online service (optional)
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorReasonForNotUsingOnlineService %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorReasonForNotUsingOnlineService, href: "#reason-for-not-using-online-service" }]
      }) }}
    {% endif %}

    <form class="form" action="/edit-reason-for-not-using-online-service" method="post" novalidate>
      
      {{ govukTextarea({
        name: "reason-for-not-using-online-service",
        id: "reason-for-not-using-online-service",
        value: data['reason-for-not-using-online-service'],
        label: {
            text: "Reason for not using the online service (optional)",
            classes: "govuk-label--l",
            isPageHeading: true
        },
        hint: {
            text: "If you have them, add details about why the written representation was not submitted using the online service."
        }
     }) }}
      
      {{ govukButton({ text: "Save" }) }}

    </form>
  </div>
</div>
{% endblock %}