{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorTypeOfRepresentationSubmitted %}Error: {% endif %}Type of representation submitted
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/current-service/back-office/manage-representations/review-representation/review" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorTypeOfRepresentationSubmitted %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorTypeOfRepresentationSubmitted, href: "#type-of-representation-submitted" }]
      }) }}
    {% endif %}

    <form class="form" action="/edit-type-of-representation-submitted" method="post" novalidate>
      
      {{ govukRadios({
        idPrefix: "type-of-representation-submitted",
        name: "type-of-representation-submitted",
        fieldset: {
          legend: { 
            text: "Type of representation submitted", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        errorMessage: { text: errorTypeOfRepresentationSubmitted } if errorTypeOfRepresentationSubmitted else null,
        items: [
          { 
            value: "Consultees", 
            text: "Consultees", 
            checked: data['type-of-representation-submitted'] == 'Consultees' 
          },
          { 
            value: "Interested party", 
            text: "Interested party", 
            checked: data['type-of-representation-submitted'] == 'Interested party' 
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Save" }) }}

    </form>
  </div>
</div>
{% endblock %}