{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorTypeOfRepresentationSubmitted %}Error: {% endif %}Source of the representation
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSourceOfRepresentation %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorSourceOfRepresentation, href: "#source-of-representation" }]
      }) }}
    {% endif %}

    <form class="form" action="/edit-source-of-representation" method="post" novalidate>
      
      {{ govukRadios({
        idPrefix: "source-of-representation",
        name: "source-of-representation",
        fieldset: {
          legend: { 
            text: "Source of the representation", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        errorMessage: { text: errorSourceOfRepresentation } if errorSourceOfRepresentation else null,
        items: [
          { 
            value: "Myself", 
            text: "Myself", 
            checked: data['source-of-representation'] == 'Myself' 
          },
          { 
            value: "On behalf of another person, an organisation or group of people", 
            text: "On behalf of another person, an organisation or group of people", 
            checked: data['source-of-representation'] == 'On behalf of another person, an organisation or group of people' 
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Save" }) }}

    </form>
  </div>
</div>
{% endblock %}