{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorYourEmailAddress %}Error: {% endif %}Email address provided
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorYourEmailAddress %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorYourEmailAddress, href: "#your-email-address" }]
        }) }}
      {% endif %}

      <form class="form" action="/edit-your-email-address" method="post" novalidate>

        {{ govukInput({
          id: "your-email-address",
          name: "your-email-address",
          spellcheck: false,
          value: data['your-email-address'],
          label: {
            text: "Email address provided",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "We'll use this email address to send you information about the application. We will not publish your email address." 
        },
          errorMessage: { text: errorYourEmailAddress } if errorYourEmailAddress else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}