{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}Postal address provided
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorList %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
        }) }}
      {% endif %}

      <form action="/edit-postal-address" method="post" novalidate>

        {% call govukFieldset({
          describedBy: "postal-address-hint",
          legend: {
            text: "Postal address provided",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukHint({
            id: "postal-address-hint",
            text: "We will not publish your address"
        }) 

        }}
          {{ govukInput({
            label: {
              text: "Address line 1"
            },
            id: "postal-address-line-1",
            name: "postal-address-line-1",
            value: data['postal-address-line-1'],
            autocomplete: "address-line1",
            errorMessage: errors.postalAddressLine1
          }) }}

          {{ govukInput({
            label: {
              text: "Address line 2 (optional)"
            },
            id: "postal-address-line-2",
            name: "postal-address-line-2",
            value: data['postal-address-line-2'],
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "postal-address-town",
            name: "postal-address-town",
            value: data['postal-address-town'],
            autocomplete: "address-level2",
            errorMessage: errors.postalAddressTown
          }) }}

          {{ govukInput({
            label: {
              text: "County (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "postal-address-county",
            name: "postal-address-county",
            value: data['postal-address-county'],
            errorMessage: errors.postalAddressCounty
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "postal-address-postcode",
            name: "postal-address-postcode",
            value: data['postal-address-postcode'],
            autocomplete: "postal-code",
            errorMessage: errors.postalAddressPostcode
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}