{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
 {% if errorWrittenRepresentationSubmitted %}Error: {% endif %}Written representation submitted
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/manage-representations/review-representation/review"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorWrittenRepresentationSubmitted %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorWrittenRepresentationSubmitted, href: "#written-representation-submitted" }]
      }) }}
    {% endif %}

    <form class="form" action="/edit-written-representation-submitted" method="post" novalidate>
      

    <h1 class="govuk-heading-l">Written representation submitted</h1>

      {{ govukTextarea({
        name: "written-representation-submitted",
        id: "written-representation-submitted",
        value: data['written-representation-submitted'],
        label: {
            text: "Enter their comment",
            classes: "govuk-label govuk-!-font-weight-bold"
        },
        hint: {
            text: "You must tell us in your comment if you'd like to attend a hearing in the event that one is scheduled."
        },
        errorMessage: { text: errorWrittenRepresentationSubmitted } if errorWrittenRepresentationSubmitted else null
     }) }}
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}