{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorRepresentationMadeOnBehalfOf %}Error: {% endif %}Representation made on behalf of
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorRepresentationMadeOnBehalfOf %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorRepresentationMadeOnBehalfOf, href: "#representation-made-on-behalf-of" }]
      }) }}
    {% endif %}

    <form class="form" action="/edit-representation-made-on-behalf-of" method="post" novalidate>
      
      {{ govukRadios({
        idPrefix: "representation-made-on-behalf-of",
        name: "representation-made-on-behalf-of",
        fieldset: {
          legend: { 
            text: "Representation made on behalf of", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        errorMessage: { text: errorRepresentationMadeOnBehalfOf } if errorRepresentationMadeOnBehalfOf else null,
        items: [
          { 
            value: "A person", 
            text: "A person", 
            checked: data['representation-made-on-behalf-of'] == 'A person' 
          },
          { 
            value: "An organisation or charity that I work or volunteer for", 
            text: "An organisation or charity that I work or volunteer for", 
            checked: data['representation-made-on-behalf-of'] == 'An organisation or charity that I work or volunteer for' 
          },
          { 
            value: "An organisation or charity that I do not work or volunteer for", 
            text: "An organisation or charity that I do not work or volunteer for", 
            checked: data['representation-made-on-behalf-of'] == 'An organisation or charity that I do not work or volunteer for' 
          },
          { 
            value: "A group of people", 
            text: "A group of people", 
            checked: data['representation-made-on-behalf-of'] == 'A group of people' 
          } 
        ]
      }) }}
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}