{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorAgentOrganisationName %}Error: {% endif %}Name of agent's organisation
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/manage-representations/review-representation/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorAgentOrganisationName %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorAgentOrganisationName, href: "#agent-organisation-name" }]
        }) }}
      {% endif %}

      <form class="form" action="/edit-bo-agent-organisation-name" method="post" novalidate>

        {{ govukInput({
          id: "agent-organisation-name",
          name: "agent-organisation-name",
          spellcheck: false,
          value: data['agent-organisation-name'],
          label: {
            text: "Name of agent's organisation",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "We will publish your organisation name, your client's name and their representation on the website." 
        },
          errorMessage: { text: errorAgentOrganisationName } if errorAgentOrganisationName else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}