{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorAgentOrganisationName %}Error: {% endif %}Name of agent's organisation
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorAgentOrganisationName %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorAgentOrganisationName, href: "#agent-organisation-name" }]
        }) }}
      {% endif %}

      <form class="form" action="/edit-bo-agent-organisation-name" method="post" novalidate>

        {{ govukInput({
          id: "agent-organisation-name",
          name: "agent-organisation-name",
          spellcheck: false,
          value: data['agent-organisation-name'],
          label: {
            text: "Name of agent's organisation",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "We will publish your organisation name, your client's name and their representation on the website." 
        },
          errorMessage: { text: errorAgentOrganisationName } if errorAgentOrganisationName else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}