{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorSendersJobTitleOrRole %}Error: {% endif %}Sender's job title or role
{% endblock %}

{% block beforeContent %}
{% set actualRepStatus = rep.status %}
    
    {% if actualRepStatus == 'Accepted' or actualRepStatus == 'Rejected' %}
        {% set backLink = '/current-service/back-office/manage-representations/view' %}
    
    {% elif actualRepStatus == 'Awaiting review' %}
        {% set backLink = '/current-service/back-office/manage-representations/review-representation/review' %}
  
    {% else %}
        {# Fallback just in case something goes wrong #}
        {% set backLink = '/current-service/back-office/manage-representations/manage-representations' %}
    {% endif %}

    {{ govukBackLink({ 
        text: "Back", 
        href: backLink
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorSendersJobTitleOrRole %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorSendersJobTitleOrRole, href: "#senders-job-title-or-role" }]
        }) }}
      {% endif %}

      <form class="form" action="/edit-senders-job-title-or-role" method="post" novalidate>

        {{ govukInput({
          id: "senders-job-title-or-role",
          name: "senders-job-title-or-role",
          spellcheck: false,
          value: data['senders-job-title-or-role'],
          label: {
            text: "Sender's job title or role",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: { text: errorSendersJobTitleOrRole } if errorSendersJobTitleOrRole else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}