{% extends "layouts/new/back-office.html" %}

{# --- DYNAMIC HEADING LOGIC --- #}
{% set isEditing = data['edit-group-id'] %}
{% set headingText = "Change the person's name" if isEditing else "What is the name of the person you are representing?" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}{{ headingText }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ 
      text: "Back", 
      href: "/current-service/back-office/manage-representations/edit-representation/22-check-group-name-details"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form method="post" action="/edit-bo-name-of-person" novalidate>
    
      {% call govukFieldset({
          legend: {
              text: headingText,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
          }
      }) %}

        {{ govukInput({ 
          label: { text: "First name" }, 
          id: "person-first-name", 
          name: "person-first-name", 
          value: data['person-first-name'],
          autocomplete: "given-name",
          spellcheck: false,
          errorMessage: errors.firstName if errors.firstName else null
        }) }}
        
        {{ govukInput({ 
          label: { text: "Last name" }, 
          id: "person-last-name", 
          name: "person-last-name", 
          value: data['person-last-name'],
          autocomplete: "family-name",
          spellcheck: false,
          errorMessage: errors.lastName if errors.lastName else null
        }) }}

      {% endcall %}
      
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}