{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l">Check your answers</h1>

    {# ========================================================= #}
    {# PRE-RENDERED HTML SNIPPETS                                #}
    {# ========================================================= #}

    {# --- Date Mapping Array --- #}
    {% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

    {# --- Date Received HTML --- #}
    {% set dateReceivedHtml %}
      {% if data['date-the-representation-was-received-year'] and data['date-the-representation-was-received-month'] and data['date-the-representation-was-received-day'] %}
        {% set day = data['date-the-representation-was-received-day'] | int %}
        {% set monthIndex = data['date-the-representation-was-received-month'] | int %}
        {% set year = data['date-the-representation-was-received-year'] %}
        
        {{ day ~ " " ~ monthNames[monthIndex] ~ " " ~ year }}
      {% endif %}
    {% endset %}

    {# --- Groups of People HTML --- #}
    {% set groupOfPeopleHtml %}
      {% set groupOfPeopleList = data['group-name-list'] | default([]) %}
      {% if groupOfPeopleList.length > 0 %}
        <ul class="govuk-list {% if groupOfPeopleList.length > 1 %}govuk-list--bullet{% endif %}">
          {% for person in groupOfPeopleList %}
            <li>{{ person.firstName }} {{ person.lastName }}</li>
          {% endfor %}
        </ul>
      {% else %}
        None added
      {% endif %}
    {% endset %}

    {# --- Postal Address HTML --- #}
    {% set addressHtml %}
      {% if data['postal-address-line-1'] %}
        {{ data['postal-address-line-1'] }}<br>
        {% if data['postal-address-line-2'] %}{{ data['postal-address-line-2'] }}<br>{% endif %}
        {{ data['postal-address-town'] }}<br>
        {% if data['postal-address-county'] %}{{ data['postal-address-county'] }}<br>{% endif %}
        {{ data['postal-address-postcode'] }}
      {% endif %}
    {% endset %}

    {# ========================================================= #}
    {# SUMMARY LIST                                              #}
    {# ========================================================= #}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      {# --- 01: Date received --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What date was the representation received?</dt>
        <dd class="govuk-summary-list__value">
          {{ dateReceivedHtml }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/01-date-the-representation-was-received">Change<span class="govuk-visually-hidden"> date received</span></a>
        </dd>
      </div>

      {# --- 02: How received --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">How was this representation received?</dt>
        <dd class="govuk-summary-list__value">{{ data['how-was-this-representation-received'] }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/02-how-was-this-representation-received">Change<span class="govuk-visually-hidden"> method received</span></a>
        </dd>
      </div>

      {# --- 03: Reason not using online service (Conditional) --- #}
      {% if data['reason-for-not-using-online-service'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reason for not using the online service</dt>
        <dd class="govuk-summary-list__value">{{ data['reason-for-not-using-online-service'] }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/03-reason-for-not-using-online-service">Change<span class="govuk-visually-hidden"> reason not using online service</span></a>
        </dd>
      </div>
      {% endif %}

      {# --- 04: Type of representation --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Representation type</dt>
        <dd class="govuk-summary-list__value">{{ data['type-of-representation-submitted'] }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/04-type-of-representation-submitted">Change<span class="govuk-visually-hidden"> type of representation</span></a>
        </dd>
      </div>

      {# --- 05: Source of representation --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Who you are submitting for</dt>
        <dd class="govuk-summary-list__value">{{ data['source-of-representation'] }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/05-source-of-the-representation">Change<span class="govuk-visually-hidden"> source of representation</span></a>
        </dd>
      </div>

      {# --- Conditional: BEHALF OF LOGIC --- #}
      {% if data['source-of-representation'] == 'On behalf of another person, an organisation or group of people' %}
        
        {# 14: Who are they representing? #}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Who are you representing?</dt>
            <dd class="govuk-summary-list__value">{{ data['representation-made-on-behalf-of'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/14-representation-made-on-behalf-of">Change<span class="govuk-visually-hidden"> who are you representing?</span></a>
            </dd>
        </div>

        {# 15 & 16: Agent questions (Only for Person, Org they don't work for, or Group) #}
        {% if data['representation-made-on-behalf-of'] in ['A person', 'An organisation or charity that I do not work or volunteer for', 'A group of people'] %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Are you acting as an agent on behalf of a client?</dt>
              <dd class="govuk-summary-list__value">{{ data['is-agent'] }}</dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/15-was-the-representation-submitted-by-an-agent">Change<span class="govuk-visually-hidden"> submitted by agent?</span></a>
              </dd>
          </div>

          {% if data['is-agent'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Agent organisation name</dt>
              <dd class="govuk-summary-list__value">{{ data['agent-organisation-name'] }}</dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/16-name-of-agents-organisation">Change<span class="govuk-visually-hidden"> agent organisation name</span></a>
              </dd>
            </div>
          {% endif %}
        {% endif %}

      {% endif %}


      {# --- 06: Submitter full name --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your full name</dt>
          <dd class="govuk-summary-list__value">{{ data['your-first-name'] }} {{ data['your-last-name'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/06-name-of-the-person-submitting-the-representation">Change<span class="govuk-visually-hidden"> submitter name</span></a>
          </dd>
      </div>

      {# --- 07: Preferred contact method --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is your contact preference?</dt>
          <dd class="govuk-summary-list__value">{{ data['preferred-contact-method'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/07-preferred-contact-method">Change<span class="govuk-visually-hidden"> contact method</span></a>
          </dd>
      </div>

      {# --- 08: Email address (If chosen) --- #}
      {% if data['preferred-contact-method'] == 'Email' %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your email address</dt>
          <dd class="govuk-summary-list__value">{{ data['your-email-address'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/08-email-address-provided">Change<span class="govuk-visually-hidden"> email address</span></a>
          </dd>
      </div>
      {% endif %}

      {# --- 09: Postal address (If chosen) --- #}
      {% if data['preferred-contact-method'] == 'Post' %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your postal address</dt>
          <dd class="govuk-summary-list__value">{{ addressHtml | safe }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/09-postal-address-provided">Change<span class="govuk-visually-hidden"> postal address</span></a>
          </dd>
      </div>
      {% endif %}


      {# --- Conditional: ENTITY DETAILS --- #}
      {% if data['source-of-representation'] == 'On behalf of another person, an organisation or group of people' %}
        
        {# 17: Person #}
        {% if data['representation-made-on-behalf-of'] == 'A person' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Represented person name</dt>
            <dd class="govuk-summary-list__value">{{ data['name-of-individual-first-name'] }} {{ data['name-of-individual-last-name'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/17-name-of-the-individual-being-represented">Change<span class="govuk-visually-hidden"> represented person name</span></a>
            </dd>
        </div>
        {% endif %}

        {# 18 & 19: Org work for #}
        {% if data['representation-made-on-behalf-of'] == 'An organisation or charity that I work or volunteer for' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Your organisation or charity name</dt>
            <dd class="govuk-summary-list__value">{{ data['name-of-senders-org-or-charity'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/18-name-of-senders-organisation-or-charity">Change<span class="govuk-visually-hidden"> organisation name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Your job title or volunteer role</dt>
            <dd class="govuk-summary-list__value">{{ data['senders-job-title-or-role'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/19-senders-job-title-or-role">Change<span class="govuk-visually-hidden"> role or job title</span></a>
            </dd>
        </div>
        {% endif %}

        {# 20: Org DO NOT work for #}
        {% if data['representation-made-on-behalf-of'] == 'An organisation or charity that I do not work or volunteer for' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name of the organisation or charity representing</dt>
            <dd class="govuk-summary-list__value">{{ data['org-or-charity-being-represented'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/20-name-of-organisation-or-charity-being-represented">Change<span class="govuk-visually-hidden"> organisation representing</span></a>
            </dd>
        </div>
        {% endif %}

        {# 21 & 22: Group #}
        {% if data['representation-made-on-behalf-of'] == 'A group of people' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Your group name</dt>
            <dd class="govuk-summary-list__value">{{ data['name-of-the-group'] | default('-', true) }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/21-group-name">Change<span class="govuk-visually-hidden"> group name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Names in the group</dt>
            <dd class="govuk-summary-list__value">{{ groupOfPeopleHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/22-check-group-name-details">Change<span class="govuk-visually-hidden"> group name details</span></a>
            </dd>
        </div>
        {% endif %}

      {% endif %}

      {# --- 10: The Representation Comment --- #}
      {% set comment = data['written-representation-submitted'] | default('') %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us about application</dt>
          <dd class="govuk-summary-list__value">
          {% if comment.length > 100 %}
              <p class="govuk-body">{{ comment | truncate(100, true, "...") }}</p>
              <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Read full comment</span>
                </summary>
                <div class="govuk-details__text">
                    {{ comment | nl2br | safe }}
                </div>
              </details>
          {% else %}
              {{ comment | nl2br | safe }}
          {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/10-written-representation-submitted">Change<span class="govuk-visually-hidden"> comment</span></a>
          </dd>
      </div>

      {# --- 11: Hearing --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Would you like to be heard at a hearing?</dt>
          <dd class="govuk-summary-list__value">{{ data['would-you-like-to-be-heard-at-a-hearing'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/11-would-you-like-to-be-heard-at-a-hearing">Change<span class="govuk-visually-hidden"> hearing preference</span></a>
          </dd>
      </div>

      {# --- 12: Attachments Included? --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Attachments uploaded?</dt>
          <dd class="govuk-summary-list__value">{{ data['are-there-any-attachments'] }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/12-are-there-any-attachments">Change<span class="govuk-visually-hidden"> attachments included</span></a>
          </dd>
      </div>

      {# --- 13: Uploaded Files (If Yes) --- #}
      {% if data['are-there-any-attachments'] == 'Yes' %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Attachments</dt>
          <dd class="govuk-summary-list__value">
            {% if data['uploadedFiles'] %}
              {% set filesArray = data['uploadedFiles'].split('||') %}
              <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">
                {% for file in filesArray %}
                  {% if file %}
                    <li><a class="govuk-link" href="#">{{ file }}</a></li>
                  {% endif %}
                {% endfor %}
              </ol>
            {% else %}
              None provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/back-office/manage-representations/add-a-representation/13-upload-attachments">
              Change<span class="govuk-visually-hidden"> upload attachments</span>
            </a>
          </dd>
      </div>
      {% endif %}

    </dl>

    <form action="/representation-added" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      {{ govukButton({
        text: "Accept and submit"
      }) }}
    </form>

  </div>
</div>
{% endblock %}