//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

/*Front office*/

* {
	font-family: Arial, Helvetica, sans-serif !important;
}

/*Header styles*/


/*Sortable table*/

.govuk-table__header.sortable {
    color: #1d70b8;
}

.govuk-table__header.sortable::after {
    content: " ▲▼";
    font-size: 0.8em;
    padding-left: 0.3em;
}

.govuk-results-per-page {
    margin-top: 1em;
}

/*Teal homepage banner*/

.full-bleed {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.cd-banner {
    background: #10847F;
    color: #fff;
    padding: 24px 0;
    /* vertical padding only */
}

.cd-banner .govuk-heading-xl,
.cd-banner .govuk-body,
.cd-banner a.govuk-link {
    color: #fff;
}

.cd-banner a.govuk-link:hover {
    color: #fff;
    text-decoration: underline;
}


/*  New back office service navigation override */
/*Components*/

/*Dashboard box*/

.dashboard-box {
    padding: govuk-spacing(5) govuk-spacing(5) 1px;
	margin-bottom: govuk-spacing(7);
	box-shadow:
		0 2px 0 govuk-colour('mid-grey'),
		inset 2px 0 0 govuk-colour('mid-grey'),
		inset -2px 0 0 govuk-colour('mid-grey'),
		inset 0 4px 0 govuk-colour('blue');

	&--title {
		margin-bottom: govuk-spacing(4);
	}

	&--form {
		position: relative;
	}

	&--btn {
		margin-top: govuk-spacing(2);
		margin-bottom: 2px;
	}
}

.row-inline {
    display: flex;
    gap: 8px;
}

/*Filters for manage reps*/


.filter-container {
	background-color: #f3f2f1;
}

.filter-box {
	.govuk-checkboxes {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/* MoJ nav colour customisation */

.moj-side-navigation__item--active > a {
  color: black !important;
  border-left-color: #29A197 !important;
}


// Header Accessibility CSS
// size link not image correctly
.front-office-header__logo-wrapper a.govuk-header__link {
    display: inline-block;
    width: 30%; // for desktop
    padding: 5px; 
    box-sizing: border-box;
}

// mobile override
@media (max-width: 40.0625em) {
    .front-office-header__logo-wrapper a.govuk-header__link {
        width: 100%;
    }
}

// force image to fill container
#logo {
    display: block;
    width: 100%;
    height: auto;
}
// convert white pixels to black
.front-office-header__logo-wrapper a.govuk-header__link:focus img {
    filter: brightness(0);
}

/* Add the official GDS header navigation underline to the image link */
.front-office-header__logo-wrapper a.govuk-header__link:hover {
    /* GDS standard header links use a 1px solid white border on hover */
    border-bottom: 3px solid #ffffff; 
}

/* Ensure the border disappears when the yellow focus state activates */
.front-office-header__logo-wrapper a.govuk-header__link:focus:hover {
    border-bottom: none;
}