{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  Case Details - Manage Planning Applications
{% endblock %}

{% block content %}

{# ========================================================= #}
{# 1. FIND THE SPECIFIC CASE FROM THE URL QUERY              #}
{# ========================================================= #}
{% set currentCase = null %}
{% for case in data.cases %}
  {% if case.reference == data.reference %}
    {% set currentCase = case %}
  {% endif %}
{% endfor %}

{# ========================================================= #}
{# 2. FORMAT COMPLEX HTML VARIABLES (Addresses, Dates, etc)  #}
{# ========================================================= #}

{# Date Formatter #}
{% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

{# --- Primary LPA Contact HTML --- #}
{% set lpaContactsHtml = "-" %}
{% if currentCase.lpa or currentCase.lpaContact %}
  {% set lpaContactsHtml %}
    {% if currentCase.lpa %}
      {{ currentCase.lpa }}<br>
    {% endif %}
    
    {% if currentCase.lpaContact %}
      {% if currentCase.lpaContact.firstName or currentCase.lpaContact.lastName %}
        {{ currentCase.lpaContact.firstName }} {{ currentCase.lpaContact.lastName }}<br>
      {% endif %}
      
      {% if currentCase.lpaContact.email %}
        {{ currentCase.lpaContact.email }}<br>
      {% endif %}
      
      {% if currentCase.lpaContact.phone %}
        {{ currentCase.lpaContact.phone }}
      {% endif %}
    {% endif %}
  {% endset %}
{% endif %}

{# --- Secondary LPA Contact HTML --- #}
{% set secondaryLpaContactsHtml = "No" %}

{% if currentCase.hasSecondaryLpa === 'Yes' %}
  {% set secondaryLpaContactsHtml %}
    {% if currentCase.secondaryLpa %}
    {{ currentCase.secondaryLpa }}<br>
    {% endif %}
    
    {% if currentCase.secondaryLpaContact %}
      {% if currentCase.secondaryLpaContact.firstName or currentCase.secondaryLpaContact.lastName %}
        {{ currentCase.secondaryLpaContact.firstName }} {{ currentCase.secondaryLpaContact.lastName }}<br>
      {% endif %}
      
      {% if currentCase.secondaryLpaContact.email %}
        {{ currentCase.secondaryLpaContact.email }}<br>
      {% endif %}
      
      {% if currentCase.secondaryLpaContact.phone %}
        {{ currentCase.secondaryLpaContact.phone }}
      {% endif %}
    {% endif %}
  {% endset %}
{% endif %}

{% set expectedSubmissionDateHtml = "-" %}
{% if currentCase.expectedSubmissionDate.year and currentCase.expectedSubmissionDate.month and currentCase.expectedSubmissionDate.day %}
  {% set day = currentCase.expectedSubmissionDate.day | int %}
  {% set monthIndex = currentCase.expectedSubmissionDate.month | int %}
  {% set year = currentCase.expectedSubmissionDate.year %}
  {% set expectedSubmissionDateHtml = day ~ " " ~ monthNames[monthIndex] ~ " " ~ year %}
{% endif %}

{% set siteAddressHtml = "-" %}
{% if currentCase.siteAddress.line1 %}
  {% set siteAddressHtml %}
    {{ currentCase.siteAddress.line1 }}<br>
    {% if currentCase.siteAddress.line2 %}{{ currentCase.siteAddress.line2 }}<br>{% endif %}
    {% if currentCase.siteAddress.town %}{{ currentCase.siteAddress.town }}<br>{% endif %}
    {% if currentCase.siteAddress.county %}{{ currentCase.siteAddress.county }}<br>{% endif %}
    {% if currentCase.siteAddress.postcode %}{{ currentCase.siteAddress.postcode }}{% endif %}
  {% endset %}
{% endif %}

{% set siteCoordsHtml = "-" %}
{% if currentCase.siteCoords.easting and currentCase.siteCoords.northing %}
  {% set siteCoordsHtml %}
    Easting: {{ currentCase.siteCoords.easting }}<br>
    Northing: {{ currentCase.siteCoords.northing }}
  {% endset %}
{% endif %}

{% set agentAddressHtml = "-" %}
{% if currentCase.agentAddress and currentCase.agentAddress.line1 %}
  {% set agentAddressHtml %}
    {{ currentCase.agentAddress.line1 }}<br>
    {% if currentCase.agentAddress.line2 %}{{ currentCase.agentAddress.line2 }}<br>{% endif %}
    {% if currentCase.agentAddress.town %}{{ currentCase.agentAddress.town }}<br>{% endif %}
    {% if currentCase.agentAddress.county %}{{ currentCase.agentAddress.county }}<br>{% endif %}
    {% if currentCase.agentAddress.postcode %}{{ currentCase.agentAddress.postcode }}{% endif %}
  {% endset %}
{% endif %}

{% set applicantsHtml = "-" %}
{% if currentCase.applicantOrgs.length > 0 %}
  {% set applicantsHtml %}
    <ul class="govuk-list">
      {% for org in currentCase.applicantOrgs %}
        <li>{{ org.orgName }}</li>
      {% endfor %}
    </ul>
  {% endset %}
{% endif %}

{% set applicantOverviewContactsHtml = "-" %}
{% if currentCase.applicantOverviewContacts and currentCase.applicantOverviewContacts.length > 0 %}
  {% set applicantOverviewContactsHtml %}
    <ul class="govuk-list govuk-!-margin-bottom-0">
      {% for contact in currentCase.applicantOverviewContacts %}
        <li>
          {{ contact.orgName }}<br>
          {% if contact.email %}{{ contact.email }}<br>{% endif %}
          {% if contact.phone %}{{ contact.phone }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endset %}
{% endif %}

{% set applicantContactsHtml = "-" %}
{% if currentCase.applicantContacts.length > 0 %}
  {% set applicantContactsHtml %}
    <ul class="govuk-list">
      {% for contact in currentCase.applicantContacts %}
        <li>
          {{ contact.firstName }} {{ contact.lastName }}<br>
          {% if contact.email %}{{ contact.email }}<br>{% endif %}
          {% if contact.phone %}{{ contact.phone }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endset %}
{% endif %}

{% set agentContactsHtml = "-" %}
{% if currentCase.agentContacts.length > 0 %}
  {% set agentContactsHtml %}
    <ul class="govuk-list">
      {% for contact in currentCase.agentContacts %}
        <li>
          {{ contact.firstName }} {{ contact.lastName }}<br>
          {% if contact.email %}{{ contact.email }}<br>{% endif %}
          {% if contact.phone %}{{ contact.phone }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endset %}
{% endif %}


{# ========================================================= #}
{# 3. MAIN PAGE LAYOUT                                       #}
{# ========================================================= #}

{% if currentCase.linkedCaseReference %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application is connected to a
            <a class="govuk-notification-banner__link" href="/current-service/back-office/case-details?reference={{ currentCase.linkedCaseReference }}">
              {{ currentCase.linkedCaseType }} application
            </a>.
          </p>
        </div>
        </div>
      </div>
    </div>

    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <h1 class="govuk-heading-l">
      {{ currentCase.reference | default('Case Not Found') }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  
  {# --- LEFT NAVIGATION --- #}
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <li><a href="#overview" class="govuk-link govuk-link--no-visited-state">Overview</a></li>
      <li><a href="#details" class="govuk-link govuk-link--no-visited-state">Details</a></li>
      <li><a href="#contacts" class="govuk-link govuk-link--no-visited-state">Contacts</a></li>
      <li><a href="#dates" class="govuk-link govuk-link--no-visited-state">Dates</a></li>
      <li><a href="#representations-period" class="govuk-link govuk-link--no-visited-state">Representations Period</a></li>
      <li><a href="#case-team" class="govuk-link govuk-link--no-visited-state">Case team</a></li>
      <li><a href="#environmental-impact-assessment" class="govuk-link govuk-link--no-visited-state">Environmental impact assessment</a></li>
      <li><a href="#fee" class="govuk-link govuk-link--no-visited-state">Fee</a></li>
    </ul>
  </div>

  {# --- RIGHT BUTTONS --- #}
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Open SharePoint Folder</a>
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Manage representations</a>
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Manage application updates</a>
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">Publish Application</a>
  </div>

  {# --- SUMMARY CARDS --- #}
  <div class="govuk-grid-column-full">
    
    {# OVERVIEW CARD #}
    <div class="govuk-summary-card" id="overview">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Overview</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Application reference</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.reference }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Applicant contact</dt>
            <dd class="govuk-summary-list__value">{{ applicantOverviewContactsHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/current-service/back-office/edit-case/overview/applicant-overview-contact?reference={{ currentCase.reference }}">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Development description</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.devDescription | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application type</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.applicationType | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#"></a></dd>
          </div>

          {# CONDITIONAL SUB-TYPE ROW FOR LINKED CASES #}
          {% if currentCase.applicationSubType %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application Sub Type</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.applicationSubType }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#"></a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Connected Application</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.connectedApplication }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#"></a></dd>
          </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Local planning authority</dt>
            <dd class="govuk-summary-list__value">{{ lpaContactsHtml| safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Has secondary LPA</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.hasSecondaryLpa | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>

          {# CONDITIONAL SECONDARY LPA ROW #}
          {% if currentCase.hasSecondaryLpa === 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Secondary local planning authority</dt>
            <dd class="govuk-summary-list__value">{{ secondaryLpaContactsHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site address</dt>
            <dd class="govuk-summary-list__value">{{ siteAddressHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site coordinates</dt>
            <dd class="govuk-summary-list__value">{{ siteCoordsHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site area (ha)</dt>
            <dd class="govuk-summary-list__value">{% if currentCase.siteArea %}{{ currentCase.siteArea }} ha{% else %}-{% endif %}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Expected submission date</dt>
            <dd class="govuk-summary-list__value">{{ expectedSubmissionDateHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Decision outcome</dt>
            <dd class="govuk-summary-list__value">-</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Decision date</dt>
            <dd class="govuk-summary-list__value">-</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
        </dl>
      </div>
    </div>

    {# DETAILS CARD #}
    <div class="govuk-summary-card" id="details">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Details</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Last updated</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lastModified | default('-') }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Classification</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.applicationClassification | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Procedure</dt>
            <dd class="govuk-summary-list__value">-</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.status | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Stage</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.applicationStage | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">LPA reference</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lpaReference | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Nationally important</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.nationallyImportant | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Nationally important confirmation date</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.nationallyImportantConfirmationDate | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Green belt</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.greenBelt | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site is visible from public land</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.visiblePublicLand | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Health and safety issues</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.healthSafetyIssues | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CIL liable</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.cilLiable | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">BNG exempt</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.bngExempt | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cost application(s)</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.costApplications | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application classification</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.detailsApplicationClassification | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
        </dl>
      </div>
    </div>

    {# CONTACTS CARD #}
    <div class="govuk-summary-card" id="contacts">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Contacts</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Has agent</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.hasAgent | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          {% if currentCase.hasAgent == 'Yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Agent organisation</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.agentOrgName | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Agent address</dt>
            <dd class="govuk-summary-list__value">{{ agentAddressHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Agent contacts</dt>
            <dd class="govuk-summary-list__value">{{ agentContactsHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Applicants</dt>
            <dd class="govuk-summary-list__value">{{ applicantsHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Applicant contacts</dt>
            <dd class="govuk-summary-list__value">{{ applicantContactsHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
        </dl>
      </div>
    </div>

    {# DATES CARD (Placeholder for future data) #}
    <div class="govuk-summary-card" id="dates">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Dates</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application received date</dt>
            <dd class="govuk-summary-list__value">-</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application accepted date</dt>
            <dd class="govuk-summary-list__value">-</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit</a></dd>
          </div>
        </dl>
      </div>
    </div>

    {# AUDIT LOG CARD #}
    <div class="govuk-summary-card" id="case-audit-log">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Case audit log</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Last modified date</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lastModified | default('-') }}</dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Last modified by</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lastModifiedBy | default('-') }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Case history</dt>
            <dd class="govuk-summary-list__value">{% if currentCase.auditLog.length > 0 %}{{ currentCase.auditLog.length }} updates{% else %}-{% endif %}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/current-service/back-office/case-audit-log">View</a></dd>
          </div>
        </dl>
      </div>
    </div>

  </div>
</div>

{% endblock %}