{% extends "layouts/new/back-office.html" %}
{% from "components/dashboard-box/dashboard-box.njk" import dashboardBox %}
{% set activePage = "all-cases" %}

{% block pageTitle %}
  Manage Crown Development applications
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <h1 class="govuk-heading-xl">
    Manage Planning Applications
  </h1>

  <div class="govuk-grid-row row-inline">

    {{ dashboardBox({
    width: "two-thirds",
    classes: "govuk-!-margin-bottom-6",
    html: "<h1 class='govuk-label-wrapper'>
      <label class='govuk-label govuk-label--l' id='search-label' for='search-input'>
        Search cases
      </label>
    </h1>
    <div id='search-hint' class='govuk-hint'>
      To find a specific case, search by reference.
    </div>
    <div class='row-inline'><input class='govuk-input' id='search-input' value='' name='searchCriteria'
        type='text'><button type='submit' class='govuk-button govuk-button' data-module='govuk-button'
        id='search-button' data-govuk-button-init=''>
        Search
      </button></div>"
    }) }}

    {{ dashboardBox({
    width: "one-third",
    classes: "govuk-!-margin-bottom-6",
    html: "<h1 class='govuk-label-wrapper'>Create new case</h1>
    <h2>
      <a href='/create-case-start' id='create-case-link' class='govuk-link govuk-link--no-visited-state'>Create a
        case</a>
    </h2>"
    }) }}
  </div>
</div>

<table class="govuk-table" data-module="moj-sortable-table" data-moj-sortable-table-init="">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="descending"><button type="button"
          data-index="0">Reference<svg width="22" height="22" focusable="false" aria-hidden="true" role="img"
            viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.4375 7L11 15.8687L6.5625 7L15.4375 7Z" fill="currentColor"></path>
          </svg></button></th>
      <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Site
          location<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
            <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
          </svg></button></th>
      <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Local planning
          authority (LPA)<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
            <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
          </svg></button></th>
      <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3">Application
          type<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
            <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
          </svg></button></th>
      <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="4">Status<svg
            width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
            <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
          </svg></button></th>
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
    {# Grab the cases array from session data. If none exist, use an empty array. #}
    {% set cases = data['cases'] | default([]) %}

    {% if cases.length > 0 %}
      {# We use '| reverse' so the newest created case appears at the top of the table #}
      {% for case in cases | reverse %}
        <tr class="govuk-table__row">
          
          {# REFERENCE LINK #}
          <td class="govuk-table__cell" data-sort-value="{{ case.reference }}">
            <a class="govuk-link" href="/current-service/back-office/case-details?reference={{ case.reference }}">{{ case.reference }}</a>
          </td>
          
          {# SITE LOCATION #}
          <td class="govuk-table__cell pins-white-space-pre-wrap">
            {# If line1 exists, render the address #}
            {% if case.siteAddress.line1 %}
              {{ case.siteAddress.line1 }}{% if case.siteAddress.line2 %}, {{ case.siteAddress.line2 }}{% endif %}{% if case.siteAddress.town %}, {{ case.siteAddress.town }}{% endif %}{% if case.siteAddress.county %}, {{ case.siteAddress.county }}{% endif %}{% if case.siteAddress.postcode %}, {{ case.siteAddress.postcode }}{% endif %}
            
            {# If no line1, but coordinates exist, render coordinates #}
            {% elseif case.siteCoords.easting and case.siteCoords.northing %}
              Easting: {{ case.siteCoords.easting }}<br>Northing: {{ case.siteCoords.northing }}
            
            {# Fallback if completely blank #}
            {% else %}
              Not provided
            {% endif %}
          </td>
          
          {# LPA #}
          <td class="govuk-table__cell">{{ case.lpa }}</td>
          
          {# APPLICATION TYPE #}
          <td class="govuk-table__cell">{{ case.applicationType }}</td>
          
          {# STATUS TAG #}
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">{{ case.status }}</strong>
          </td>
          
        </tr>
      {% endfor %}
    
    {% else %}
      {# EMPTY STATE #}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="5">No cases have been created yet.</td>
      </tr>
    {% endif %}

  </tbody>
</table>

{% endblock %}