{% extends "layouts/new/back-office.html" %}

{% block content %}


  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link" style="margin:0px">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="agentTelephoneNumber">
                What is the telephone number of the Agent?
              </label>
            </h1>
            <div id="agentTelephoneNumber-hint" class="govuk-hint"></div>
            <input class="govuk-input" id="agentTelephoneNumber" name="agentTelephoneNumber" type="text" value="" aria-describedby="agentTelephoneNumber-hint">
          </div>

          <a href="10-applicant-email" class="govuk-button">Continue</a>
        </div>
      </div>
    </main>
  </div>
{% endblock %}

