{% extends "layouts/new/back-office.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
          
<h1 class="govuk-heading-l">Check existing house details</h1>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Market housing
    </h2>
    <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> (Lead tenant)</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> (Lead tenant)</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of unit
        </dt>
        <dd class="govuk-summary-list__value">
          Bedsit/studio
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unknown
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unknown no. of bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          1 bedroom
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          2 bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          3 bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          4+ bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total bedroom units
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Starter homes
    </h2>
    <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> (Lead tenant)</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> (Lead tenant)</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of unit
        </dt>
        <dd class="govuk-summary-list__value">
          Cluster flats
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unknown
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unknown no. of bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          1 bedroom
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          2 bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          3 bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          4+ bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total bedroom units
        </dt>
        <dd class="govuk-summary-list__value">
          17
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Social, affordable or intermediate rent
    </h2>
    <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> (Lead tenant)</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> (Lead tenant)</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of unit
        </dt>
        <dd class="govuk-summary-list__value">
          Bedsit/studio
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unknown
        </dt>
        <dd class="govuk-summary-list__value">
          100
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unknown no. of bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          1 bedroom
        </dt>
        <dd class="govuk-summary-list__value">
          100
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          2 bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          100
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          3 bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          100
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          4+ bedrooms
        </dt>
        <dd class="govuk-summary-list__value">
          100
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total bedroom units
        </dt>
        <dd class="govuk-summary-list__value">
          503
        </dd>
      </div>
    </dl>
  </div>
</div>



</dl>

<div class="govuk-button-group">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
   Add details
  </button>
  
</div>

<div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
   Cancel
  </button>
  
</div>


        </main>
      </div>


{% endblock %}