{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2024/0048 - Application information - Find a Section 62A application
{% endblock %}

{% block content %}

<style>
    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }
</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/app-info">Application information</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/documents" aria-current="location">Documents</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/hys">Have your say</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/written-representations">Written representations</a>
                </li>
            </ul>
        </nav>
    </div>

   <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">S62A/2024/0048</span>
      <h1 class="govuk-heading-l">Application updates</h1>

      <!--timeline starts here -->

      <d
<div class="moj-timeline">
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">9 October 2024</h2>
    </div>
    <div class="moj-timeline__description">
      <p class="govuk-!-margin-0">
        Decision Notice and Statement of Reasons      
      </p>
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">19 September 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Procedure is Written Representations<br>
      PINS to Applicant confirming procedure
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">11 September 2024</h2>
    </div>
    <div class="moj-timeline__description">
      St Albans City and District Council
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">5 September 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Harpenden Town Council
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">20 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      2 Consultees
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">16 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      4 Consultees added
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">14 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Questionnaire & supporting documents added
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">13 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      First published.
    </div>
  </div>
</div>

      </div>
    </div>

  {% endblock %}