{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2024/0048 - Documents - Find a Section 62A application
{% endblock %}

{% block content %}
<style>
    .document-list li,
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 15px !important;
    }

    .document-list li {
        border-top: 1px solid #b1b4b6;
    }

    .document-list__meta-data {
        color: #505a5f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .document-list,
    .govuk-list {
        color: #0b0c0c;
    }

    .document-list,
    .govuk-list {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .document-list,
    .govuk-list {
        padding-left: 0;
        list-style-type: none;
    }

    .document-list .document-list,
    .document-list .govuk-list,
    .govuk-list .document-list,
    .govuk-list .govuk-list {
        margin-top: 10px;
    }

    .document-list>li,
    .govuk-list>li {
        margin-bottom: 5px;
    }

    .document-list+.govuk-heading-l,
    .govuk-body+.govuk-heading-l,
    .govuk-body-m+.govuk-heading-l,
    .govuk-body-s+.govuk-heading-l,
    .govuk-list+.govuk-heading-l {
        padding-top: 15px;
    }

    @media(min-width: 40.0625em) {

        .document-list+.govuk-heading-l,
        .govuk-body+.govuk-heading-l,
        .govuk_body-m+.govuk-heading-l,
        .govuk-body-s+.govuk-heading-l,
        .govuk-list+.govuk-heading-l {
            padding-top: 20px;
        }
    }

    .document-list+.filter-accordion__title,
    .document-list+.govuk-heading-m,
    .document-list+.govuk-heading-s,
    .govuk-body+.filter-accordion__title,
    .govuk-body+.govuk-heading-m,
    .govuk-body+.govuk-heading-s,
    .govuk-body-m+.filter-accordion__title,
    .govuk-body-m+.govuk-heading-m,
    .govuk-body-m+.govuk-heading-s,
    .govuk-body-s+.filter-accordion__title,
    .govuk-body-s+.govuk-heading-m,
    .govuk-body-s+.govuk-heading-s,
    .govuk-list+.filter-accordion__title,
    .govuk-list+.govuk-heading-m,
    .govuk-list+.govuk-heading-s {
        padding-top: 5px;
    }

    @media(min-width: 40.0625em) {

        .document-list+.filter-accordion__title,
        .document-list+.govuk-heading-m,
        .document-list+.govuk-heading-s,
        .govuk-body+.filter-accordion__title,
        .govuk-body+.govuk-heading-m,
        .govuk-body+.govuk-heading-s,
        .govuk-body-m+.filter-accordion__title,
        .govuk-body-m+.govuk-heading-m,
        .govuk-body-m+.govuk-heading-s,
        .govuk-body-s+.filter-accordion__title,
        .govuk-body-s+.govuk-heading-m,
        .govuk-body-s+.govuk-heading-s,
        .govuk-list+.filter-accordion__title,
        .govuk-list+.govuk-heading-m,
        .govuk-list+.govuk-heading-s {
            padding-top: 10px;
        }
    }

    .document-list,
    .document-list li,
    .govuk-\!-margin-0 {
        margin: 0 !important;
    }

    .document-list li,
    .govuk-\!-padding-top-2 {
        padding-top: 10px !important;
    }

    .document-list li,
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 15px !important;
    }

    .document-list__meta-data {
        color: #505a5f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

        /* Force override of the GOV.UK default details icon */
    details.govuk-details .govuk-details__summary::before {
        
        border: none !important;
        clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%) !important;
        
        width: 16px !important;
        height: 16px !important;
        
        background-color: #000000 !important; /* Matches GOV.UK link blue, change to black if preferred */
    }

    /* Force override for the open state */
    details.govuk-details[open] > .govuk-details__summary::before {
        clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%) !important;
    }

    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }
</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/app-info">Application information</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/documents" aria-current="location">Documents</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/hys">Have your say</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0048/written-representations">Written representations</a>
                </li>
            </ul>
        </nav>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-m">Filters</h3>
            <div style="padding-bottom:10px;">
                <a href="" class="govuk-link">
                    Show all filters</a>
            </div>
            <details class="govuk-details govuk-!-margin-bottom-0" id="filter-panel">
                <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                    <a class="govuk-link govuk-link--no-underline">
                        Category
                    </a>
                </summary>
                <div style="padding-left:30px;">
                    <form class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-grid-row">
                                <div class="">
                                    <fieldset class="govuk-fieldset" aria-describedby="type-of-application-hint">
                                        <div class="govuk-checkboxes govuk-checkboxes--small">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-1" name="type" type="checkbox" value="Planning permission">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                    Application Plans and Documents (15)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Questionnaire and supporting documents (15)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-1" name="type" type="checkbox" value="Planning permission">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                    Planning Inspectorate Correspondence (1)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Applicant Correspondence (0)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Decision (1)
                                                </label>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

            <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0" id="filter-panel">
                <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                    <a class="govuk-link govuk-link--no-underline">Date submitted</a>
                </summary>
                <div style="padding-left:30px;">
                    <form class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <h4 class="govuk-fieldset__heading">
                                    From
                                </h4>
                            </legend>
                            <div id="passport-issued-hint" class="govuk-hint">
                                For example, 5 7 2022
                            </div>
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                            <legend style="margin-top:20px" class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <h4 class="govuk-fieldset__heading">
                                    To
                                </h4>
                            </legend>
                            <div id="passport-issued-hint" class="govuk-hint">
                                For example, 27 3 2023
                            </div>
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

            </details>
            <a href="written-reps-selected" class="govuk-button" style="margin-bottom:0px;">
                Apply filters
            </a>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">S62A/2024/0048</span>
        <h1 class="govuk-heading-l">Documents</h1>
        <div>
            <div id="search-hint" class="govuk-hint">
                Search by document name</div>
            <form class="govuk-form-group" style="display: flex; gap: 8px; align-items: center">
                <label class="govuk-label govuk-visually-hidden" for="keyword-search">Keyword search</label>
                <input class="govuk-input" id="keyword-search" name="keyword-search" type="text" autocomplete="off"
                    style="width:100%;">
                <button class="govuk-button" id="keyword-search-button" type="submit"
                    style="margin-bottom:0px;">Search</button>
            </form>

        </div>
        <div id="pagination" class="govuk-body">
            <p class="govuk-body">
                Showing
                <strong>1</strong>
                to
                <strong>25</strong>
                of
                <strong>32</strong>
                documents, newest first.
            </p>

            <span>
                <strong>Results per page</strong>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;

            <span class="govuk-body">25</span>

            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="govuk-link--no-visited-state" href="?itemsPerPage=50" data-pagination="50">50</a>

            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="govuk-link--no-visited-state" href="?itemsPerPage=100" data-pagination="100">100</a>

            <div style="margin-top:20px">

               <ul class="govuk-list document-list">
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Decision Notice and Statement of Reasons</a>
                        <div class="document-list__meta-data">
                            <div>9 Oct 2024</div>
                            <div>PDF</div>
                            <div>149 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">01-230526-0003_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>7 Oct 2024</div>
                            <div>PDF</div>
                            <div>687 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Bat Survey_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>4 Oct 2024</div>
                            <div>PDF</div>
                            <div>2.75 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Design and Access Statement_checked</a>
                        <div class="document-list__meta-data">
                            <div>1 Oct 2024</div>
                            <div>PDF</div>
                            <div>444 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Exisiting Elevations_checked</a>
                        <div class="document-list__meta-data">
                            <div>28 Sept 2024</div>
                            <div>PDF</div>
                            <div>646 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Existing Block Plan_checked</a>
                        <div class="document-list__meta-data">
                            <div>25 Sept 2024</div>
                            <div>PDF</div>
                            <div>76.1 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Existing Plans and Elevations_checked</a>
                        <div class="document-list__meta-data">
                            <div>23 Sept 2024</div>
                            <div>PDF</div>
                            <div>608 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">External Materials Schedule_checked</a>
                        <div class="document-list__meta-data">
                            <div>20 Sept 2024</div>
                            <div>PDF</div>
                            <div>49.9 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Howard_20240806_104158 Hard Soft Landscaping Plan levels_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>18 Sept 2024</div>
                            <div>PDF</div>
                            <div>3.39 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Justification for Development and Sustainability Statement_checked</a>
                        <div class="document-list__meta-data">
                            <div>16 Sept 2024</div>
                            <div>PDF</div>
                            <div>283 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Location Plan_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>14 Sept 2024</div>
                            <div>PDF</div>
                            <div>505 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Planning Application - 1 Wheatfield Road_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>12 Sept 2024</div>
                            <div>PDF</div>
                            <div>4.16 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Proposed Plans and Elevations (2)_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>10 Sept 2024</div>
                            <div>PDF</div>
                            <div>5.56 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Proposed Plans and Elevations_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>8 Sept 2024</div>
                            <div>PDF</div>
                            <div>4.95 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Tree Protection Statement_checked</a>
                        <div class="document-list__meta-data">
                            <div>6 Sept 2024</div>
                            <div>PDF</div>
                            <div>306 KB</div>
                            <div>1 page</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Howard_20240801_145225_Redacted</a>
                        <div class="document-list__meta-data">
                            <div>4 Sept 2024</div>
                            <div>PDF</div>
                            <div>2.4 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">S62A Questionnaire</a>
                        <div class="document-list__meta-data">
                            <div>2 Sept 2024</div>
                            <div>PDF</div>
                            <div>118 KB</div>
                            <div>5 pages</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">106 - Nature Conservation</a>
                        <div class="document-list__meta-data">
                            <div>31 Aug 2024</div>
                            <div>PDF</div>
                            <div>20.8 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">2 - Settlement Strategy</a>
                        <div class="document-list__meta-data">
                            <div>29 Aug 2024</div>
                            <div>PDF</div>
                            <div>74.5 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">34 - Highways Considerations in Development Control</a>
                        <div class="document-list__meta-data">
                            <div>28 Aug 2024</div>
                            <div>PDF</div>
                            <div>36.8 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">39 - Parking Standards General Requirements</a>
                        <div class="document-list__meta-data">
                            <div>27 Aug 2024</div>
                            <div>PDF</div>
                            <div>234 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">4 - New Housing Development in Towns</a>
                        <div class="document-list__meta-data">
                            <div>26 Aug 2024</div>
                            <div>PDF</div>
                            <div>212 KB</div>
                            <div>8 pages</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">40 - Residential Development Parking Standards</a>
                        <div class="document-list__meta-data">
                            <div>25 Aug 2024</div>
                            <div>PDF</div>
                            <div>43.6 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">69 - General Design and Layout</a>
                        <div class="document-list__meta-data">
                            <div>24 Aug 2024</div>
                            <div>PDF</div>
                            <div>19.3 KB</div>
                            <div>1 page</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">70 - Design and Layout of New Housing</a>
                        <div class="document-list__meta-data">
                            <div>23 Aug 2024</div>
                            <div>PDF</div>
                            <div>83 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">74 - Landscaping and Tree Preservation</a>
                        <div class="document-list__meta-data">
                            <div>22 Aug 2024</div>
                            <div>PDF</div>
                            <div>30.4 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Design Advice Leaflet No 1</a>
                        <div class="document-list__meta-data">
                            <div>21 Aug 2024</div>
                            <div>PDF</div>
                            <div>5.61 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Front Sheet SADC Local Plan Review 1994</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>19.1 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Harpenden Neighbourhood Plan - version for referendum Nov 2018 Combined</a>
                        <div class="document-list__meta-data">
                            <div>18 Aug 2024</div>
                            <div>PDF</div>
                            <div>4.39 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Planning history 1 Wheatfield Road</a>
                        <div class="document-list__meta-data">
                            <div>15 Aug 2024</div>
                            <div>PDF</div>
                            <div>5.11 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Revised Parking Policies and Standards January 2002</a>
                        <div class="document-list__meta-data">
                            <div>13 Aug 2024</div>
                            <div>PDF</div>
                            <div>949 KB</div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <nav class="govuk-pagination" aria-label="Pagination">
            <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="?page=1" aria-label="Page 1" aria-current="page">
                        1
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page=2" aria-label="Page 2">
                        2
                    </a>
                </li>
            </ul>

            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page=2" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden">
                            page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                        height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
                        <path
                            d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                </a>
            </div>
        </nav>
    </div>

</div>
</div>
</div>
</div>

</div>
</div>


{% endblock %}