{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
 {% if errorApplicationType %}Error: {% endif %}What type of application is it?
{% endblock %}

{% block beforeContent %}

  {% if data['application-stage'] == 'Pre-application' %}
    {% set backLink = "/current-service/back-office/create-a-case/0-application-stage" %}

  {% elif data['application-stage'] == 'Application' %}
    {% set backLink = "/current-service/back-office/create-a-case/0-application-classification" %}

  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorApplicationType %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorApplicationType, href: "#application-type" }]
      }) }}
    {% endif %}

      {% if data['application-stage'] == 'Pre-application' %}
      {% set questionHeading = "What type of application is this pre-application advice for?" %}

      {% elif data['application-stage'] == 'Application' %}
        {% set questionHeading = "What type of application is it?" %}

      {% endif %}

    <form class="form" action="/application-type-answer" method="post" novalidate>
      {{ govukRadios({
        idPrefix: "application-type",
        name: "application-type",
        fieldset: {
          legend: { 
            text: questionHeading, 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        errorMessage: { text: errorApplicationType } if errorApplicationType else null,
        items: [
          { 
            value: "Planning permission", 
            text: "Planning permission",
            checked: data['application-type'] == 'Planning permission'
          },
          { 
            value: "Outline planning permission with some matters reserved", 
            text: "Outline planning permission with some matters reserved",
            checked: data['application-type'] == 'Outline planning permission with some matters reserved'
          },
          { 
            value: "Outline planning permission with all matters reserved", 
            text: "Outline planning permission with all matters reserved",
            checked: data['application-type'] == 'Outline planning permission with all matters reserved'
          },
          { 
            value: "Approval of reserved matters following outline approval", 
            text: "Approval of reserved matters following outline approval",
            checked: data['application-type'] == 'Approval of reserved matters following outline approval'
          },
          { 
            value: "Planning permission and listed building consent (LBC) for alterations, extension or demolition of a listed building", 
            text: "Planning permission and listed building consent (LBC) for alterations, extension or demolition of a listed building",
            checked: data['application-type'] == 'Planning permission and listed building consent (LBC) for alterations, extension or demolition of a listed building'
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}