{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  What is the description of the development?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/create-a-case/9-site-area"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if errorDevDescription %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorDevDescription, href: "#dev-description" }]
        }) }}
      {% endif %}

      <form class="form" action="/dev-description-answer" method="post" novalidate>

        {{ govukTextarea({
          name: "dev-description",
          id: "dev-description",
          value: data['dev-description'], 
          label: {
              text: "What is the description of the development?",
              classes: "govuk-label--l",
              isPageHeading: true
          },
          hint: {
              text: "This will be published on the website."
          }
        }) }}
        
        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}