{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}When is the application expected to be submitted?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/current-service/back-office/create-a-case/11-notification-received-date" }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

      {% if data['application-stage'] == 'Pre-application' %}
      {% set questionHeading = "When is the pre-application advice expected to be submitted?" %}

      {% elif data['application-stage'] == 'Application' %}
        {% set questionHeading = "When is the application expected to be submitted?" %}

      {% endif %}

    <form class="form" action="/expected-submission-date-answer" method="post" novalidate>

      {{ govukDateInput({
        id: "expected-submission-date",
        namePrefix: "expected-submission-date",
        fieldset: {
          legend: {
            text: questionHeading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        errorMessage: { text: errors.expectedSubmissionDate.text } if errors.expectedSubmissionDate else null,
        
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + (" govuk-input--error" if errors.day else ""),
            value: data['expected-submission-date-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + (" govuk-input--error" if errors.month else ""),
            value: data['expected-submission-date-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + (" govuk-input--error" if errors.year else ""),
            value: data['expected-submission-date-year']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}