{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  Case created - Manage Section 62A Applications
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

{# --- CONDITIONAL PANEL FOR LBC --- #}
    {% set panelHtml %}
      Case reference number<br><strong>{{ data['newlyCreatedReference'] | default('undefined') }}</strong>
      
      {% if data['newlyCreatedLbcReference'] %}
        <br><br>LBC Case reference number<br><strong>{{ data['newlyCreatedLbcReference'] }}</strong>
      {% endif %}
    {% endset %}
    
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {# --- SUCCESS PANEL --- #}
    {{ govukPanel({
      titleText: "Case created",
      html: panelHtml
    }) }}

    {# --- NEXT STEPS --- #}
    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      You can now manage this application in your case list. Its status is <strong>New</strong>.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/current-service/back-office/cases" class="govuk-link govuk-link--no-visited-state">Return to your case list</a>
      </li>
      <li>
        <a href="/current-service/back-office/case-details?reference={{ data['newlyCreatedReference'] }}" class="govuk-link govuk-link--no-visited-state">View the details for this case</a>
      </li>
    </ul>

  </div>
</div>
{% endblock %}