{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorList and errorList.length > 0 %}Error: {% endif %}Check applicant contact details
{% endblock %}

{% block beforeContent %}
  {% if data['applicant-type'] == 'Organisation' %}
    {% set backLink = "/current-service/back-office/create-a-case/19-applicant-check" %}

  {% elif data['applicant-type'] == 'Individual' %}
    {% set backLink = "/current-service/back-office/create-a-case/18-applicant-type" %}

  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% if errorList and errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}


    {% if data['has-agent'] == 'Yes' %}
    <h1 class="govuk-heading-l">Check applicant contact details</h1>
    {% else %}
      <h1 class="govuk-heading-l">Check applicant contact details</h1>
    {% endif %}


    {# --- DYNAMIC HINT TEXT --- #}
    {% if data['has-agent'] == 'Yes' %}
      <div id="applicant-contact-body" class="govuk-body">
        You can skip adding applicant contact details if you have an agent.
      </div>
      <br>
    {% endif %}

    {% set contactList = data['applicant-contact-list'] or [] %}
    {% set orgList = data['applicant-org-list'] or [] %}

    {# --- SUMMARY LIST --- #}
    {% if contactList.length > 0 %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% for item in contactList %}
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Contact {{ loop.index }}
            </dt>
            
            <dd class="govuk-summary-list__value">
              <div>{{ item.firstName }} {{ item.lastName }}</div>
              {% if item.email %}<div>{{ item.email }}</div>{% endif %}
              {% if item.phone %}<div>{{ item.phone }}</div>{% endif %}
              
              {% if item.linkedOrg %}
                <div>
                  {% for org in orgList %}
                    {% if org.id == item.linkedOrg %}
                      {{ org.orgName }}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/edit-applicant-contact?id={{ item.id }}">
                    Change<span class="govuk-visually-hidden"> applicant contact {{ loop.index }}</span>
                  </a>
                </li>
                
                {# Show remove if there is more than 1 contact, OR if having an agent makes this section optional #}
                {% if contactList.length > 1 or data['has-agent'] == 'Yes' %}
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="/applicant-contact-remove?id={{ item.id }}">
                      Remove<span class="govuk-visually-hidden"> applicant contact {{ loop.index }}</span>
                    </a>
                  </li>
                {% endif %}
                
              </ul>
            </dd>
          </div>
        {% endfor %}
      </dl>
    {% else %}
      <p class="govuk-body">No applicant contacts found.</p>
      <br>
    {% endif %}

    {# --- BUTTONS --- #}
    {% if contactList.length > 0 %}
      {# If there are items, they can always add more or continue #}
      <form action="/applicant-contact-check-continue" method="post" novalidate>
        <p class="govuk-body">
          <a href="/edit-applicant-contact" id="add-another-contact" class="govuk-link govuk-!-font-size-19">Add another</a>
        </p>
        {{ govukButton({ text: "Continue" }) }}
      </form>

    {% else %}
      {# If the list is empty, evaluate the conditional logic #}
      {% if data['has-agent'] == 'Yes' %}
        {# Optional path: Give them the choice to skip #}
        <form action="/applicant-contact-check-continue" method="post" novalidate>
          <div class="govuk-button-group">
            {# Notice how this uses an href, making it a semantic link #}
            {{ govukButton({ 
              text: "Add details", 
              href: "/edit-applicant-contact",
              classes: "govuk-button--secondary" 
            }) }}
            {{ govukButton({ text: "Continue" }) }}
          </div>
        </form>
      {% else %}
        {# Mandatory path: Remove the <form> wrapper entirely and use an href #}
        {{ govukButton({ 
          text: "Add details", 
          href: "/edit-applicant-contact",
          id: "add-another-contact" 
        }) }}
      {% endif %}

    {% endif %}

  </div>
</div>
{% endblock %}