{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}What are the coordinates of the site?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/create-a-case/26-site-address"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form class="form" action="/site-coords-answer" method="post" novalidate>

        {% call govukFieldset({
          describedBy: "site-coords-hint", 
          legend: {
            text: "What are the coordinates of the site?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
          <div id="site-coords-hint" class="govuk-hint">Enter both an easting and a northing when using coordinates</div>

          {{ govukInput({
            label: { text: "Easting (optional)" },
            id: "site-coords-easting",
            name: "site-coords-easting",
            value: data['site-coords-easting'],
            errorMessage: errors.siteCoordsEasting if errors.siteCoordsEasting else null
          }) }}

          {{ govukInput({
            label: { text: "Northing (optional)" },
            id: "site-coords-northing",
            name: "site-coords-northing",
            value: data['site-coords-northing'],
            errorMessage: errors.siteCoordsNorthing if errors.siteCoordsNorthing else null
          }) }}

        {% endcall %}
        
        {{ govukButton({ text: "Continue" }) }}

      </form>

    </div>
  </div>
{% endblock %}