{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}

    {% if data['application-stage'] == 'Pre-application' %}
      {% set questionHeading = "Does this pre-application advice have a secondary local planning authority?" %}

    {% elif data['application-stage'] == 'Application' %}
      {% set questionHeading = "Does this application have a secondary local planning authority?" %}

    {% endif %}

  {% if errorHasSecondaryLpa %}Error: {% endif %} {{ questionHeading }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/create-a-case/2-lpa"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorHasSecondaryLpa %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorHasSecondaryLpa, href: "#has-secondary-lpa" }]
      }) }}

    {% endif %}

    {% if data['application-stage'] == 'Pre-application' %}
      {% set questionHeading = "Does this pre-application advice have a secondary local planning authority?" %}

    {% elif data['application-stage'] == 'Application' %}
      {% set questionHeading = "Does this application have a secondary local planning authority?" %}

    {% endif %}

    <form action="/has-secondary-lpa-answer" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "has-secondary-lpa",
        name: "has-secondary-lpa",
        fieldset: {
          legend: { text: questionHeading, isPageHeading: true, classes: "govuk-fieldset__legend--l" }
        },
        errorMessage: { text: errorHasSecondaryLpa } if errorHasSecondaryLpa else null,
        items: [
          { value: "Yes", text: "Yes", checked: data['has-secondary-lpa'] == 'Yes' },
          { value: "No", text: "No", checked: data['has-secondary-lpa'] == 'No' }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
      
    </form>
  </div>
</div>
{% endblock %}