{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorAgentOrgName %}Error: {% endif %}What is the name of the agent organisation?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if errorAgentOrgName %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorAgentOrgName, href: "#agent-org-name" }]
      }) }}

    {% endif %}

    <form class="form" action="/agent-org-name-answer" method="post" novalidate>

    {{ govukInput({
    label: {
        text: "What is the name of the agent organisation?",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        id: "agent-org-name",
        name: "agentOrgName",
        value: data['agentOrgName'],

        errorMessage: {
        text: "Enter the agent organisation name"
        } 
        if errorAgentOrgName else null
    }) }}
    
            {{ govukButton({
            text: "Continue"
            }) }}

      </form>

    </div>
  </div>

{% endblock %}
