{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
Check agent contact details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/current-service/back-office/create-a-case/4-3-agent-org-address" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Check agent contact details</h1>

    {% set agentContactList = data['agent-contact-list'] or [] %}

    {# --- SUMMARY LIST --- #}
    {% if agentContactList.length > 0 %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% for item in agentContactList %}
          <div class="govuk-summary-list__row">
            
            {# Key Column (Contact 1) #}
            <dt class="govuk-summary-list__key">
              Contact {{ loop.index }}
            </dt>
            
            {# Value Column (Name, Email, Phone) #}
            <dd class="govuk-summary-list__value">
              <div>{{ item.firstName }} {{ item.lastName }}</div>
              {% if item.email %}<div>{{ item.email }}</div>{% endif %}
              {% if item.phone %}<div>{{ item.phone }}</div>{% endif %}
            </dd>
            
            {# Actions Column (Change | Remove) #}
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/edit-agent-contact?id={{ item.id }}">
                    Change<span class="govuk-visually-hidden"> agent contact {{ loop.index }}</span>
                  </a>
                </li>
                
                {% if agentContactList.length > 1 %}
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="/agent-contact-remove?id={{ item.id }}">
                      Remove<span class="govuk-visually-hidden"> agent contact {{ loop.index }}</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </dd>

          </div>
        {% endfor %}
      </dl>
    {% else %}
      <p class="govuk-body">No agent contacts found</p>
      <br>
    {% endif %}

    {# --- ADD ANOTHER & CONTINUE BUTTONS --- #}
    {% if agentContactList.length > 0 %}
      <form action="/current-service/back-office/create-a-case/5-1-applicant-check" method="get">
        
        <p class="govuk-body">
          <a href="/edit-agent-contact" class="govuk-link govuk-!-font-size-19">Add another</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    {% else %}
      <form action="/edit-agent-contact" method="get">
        {{ govukButton({
          text: "Add details"
        }) }}
      </form>
    {% endif %}

  </div>
</div>
{% endblock %}