{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorApplicantOrgName %}Error: {% endif %}What is the name of the applicant organisation?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/back-office/create-a-case/5-1-applicant-check"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorApplicantOrgName %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorApplicantOrgName, href: "#applicant-org-name" }]
        }) }}
      {% endif %}

      <form class="form" action="/applicant-org-name-answer" method="post" novalidate>

        {{ govukInput({
          id: "applicant-org-name",
          name: "applicant-org-name",
          value: data['applicant-org-name'],
          label: {
            text: "What is the name of the applicant organisation?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: { text: errorApplicantOrgName } if errorApplicantOrgName else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}