{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  {% if errorConfirmRemove %}Error: {% endif %}Remove applicant contact?
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: "/current-service/back-office/create-a-case/6-1-applicant-contact-check" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorConfirmRemove %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorConfirmRemove, href: "#applicant-contact-remove" }]
      }) }}
    {% endif %}

    <form action="/applicant-contact-remove-answer" method="post" novalidate>
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "applicant-contact-remove",
        name: "applicant-contact-remove",
        fieldset: {
          legend: { 
            text: "Do you want to remove this applicant contact?", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        errorMessage: { text: errorConfirmRemove } if errorConfirmRemove else null,
        items: [
          { value: "Yes", text: "Yes" },
          { value: "No", text: "No" }
        ]
      }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}