{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}Declaration - Have your say on a development - Find a Section 62A application prototype
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/21-check-your-answers"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <h1 class="govuk-heading-l">
            Declaration
        </h1>
        
        <p class="govuk-body">You are making a written representation on a Section 62A development application. Planning Inspectors will consider your submission before a decision is made.</p>
        
        <p class="govuk-body govuk-!-margin-bottom-6">You must confirm that the information provided is accurate and true to the best of your knowledge before you submit this representation.</p>

        <form action="" method="post" novalidate>
            
            {% set itemConsentPublish = {
                value: "consent-publish",
                text: "I consent to my name, comment and supporting attachments being published on this website",
                checked: checked("declaration", "consent-publish")
            } %}
            
            {% set itemConsentContact = {
                value: "consent-contact",
                text: "The Planning Inspectorate may contact me by email about my comment and supporting attachments",
                checked: checked("declaration", "consent-contact")
            } %}
            
            {% set itemAiAccurate = {
                value: "ai-accurate",
                text: "I have checked my submission to make sure it accurately reflects my views and does not contain misleading or false information",
                checked: checked("declaration", "ai-accurate")
            } %}
            
            {% set itemPrivacy = {
                value: "privacy-notice",
                html: 'I have read and understood the <a href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice" class="govuk-link"  target="_blank" rel="noreferrer noopener">Customer Privacy Notice (opens in a new tab).</a>',
                checked: checked("declaration", "privacy-notice")
            } %}

                {% set declarationList = [
                    itemConsentPublish, 
                    itemConsentContact, 
                    itemAiAccurate, 
                    itemPrivacy
                ] %}

            {{ govukCheckboxes({
                name: "declaration",
                fieldset: {
                    legend: {
                        text: "Confirm your declarations",
                        classes: "govuk-visually-hidden"
                    }
                },
                hint: {
                    text: "Select all statements to confirm that you agree"
                },
                errorMessage: errors.declaration if errors.declaration else null,
                items: declarationList
            }) }}

            {{ govukButton({
                text: "Accept and submit"
            }) }}

        </form>

    </div>
</div>
{% endblock %}