{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  Contact - Find a local planning application made to the Planning Inspectorate
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Contact us</h1>

    </div>
   </div>   

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
        <h2 class="govuk-heading-m">Telephone</h2>

            <p class="govuk-body">If you have a representation reference number, have it with you when you call.</p>

            <p class="govuk-body">Telephone: <a href="tel:0303 444 5000">0303 444 5000</a></p>

            <p class="govuk-body">Open Monday to Friday, 9am to 4pm. Closed on weekends and bank holidays.</p>

        <h2 class="govuk-heading-m">General enquiries</h2>

            <p class="govuk-body">Use our contact form for general enquiries: <a href="#">Customer services and general enquiries</a></p>

        <h2 class="govuk-heading-m">Alternative formats</h2>

            <p class="govuk-body">Call or email us if you would like an alternative format for a document we've published.</p>

    </div>
  </div>
{% endblock %}
