{% extends "layouts/new/front-office.html" %}
{% set pageName = "Cookies - Find a local planning application made to the Planning Inspectorate" %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Cookies on the Find a local planning application made to the Planning Inspectorate
            </h1>
        </div>
    </div>

    {% if successMessage %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
                </div>

                <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Your cookie settings were saved
                </h3>
                <p class="govuk-body">
                    Government services may set additional cookies and, if so, will have their own cookie policy and banner.
                </p>
                </div>
            </div>

        </div>
    </div>

    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                Cookies are files saved on your phone, tablet or computer when you visit a website. We use strictly necessary cookies to enable essential parts of this website, and optional cookies to store information about how you use the Find a local planning application made to the Planning Inspectorate service, such as the pages you visit.
            </p>
            <h2 class="govuk-heading-m">Cookie settings</h2>
            <p class="govuk-body">We use different types of cookies.</p>
            <p class="govuk-body">
                You can choose which cookies you're happy for us to use and how the data is shared with the Planning Inspectorate.
            </p>
            <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
            <p class="govuk-body">
                We use strictly necessary cookies, also known as essential cookies, to help you use the Find a local planning application made to the Planning Inspectorate service. Strictly necessary cookies do not collect any form of personally identifiable data or track your browsing habits.
            </p>
            <p class="govuk-body">
                Strictly necessary cookies do things such as:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>remember your progress through the service</li>
                <li>remember you have seen the cookies message</li>
            </ul>
            <h2 class="govuk-heading-m">Cookies used to improve the Find a local planning application made to the Planning Inspectorate service</h2>
            <h3 class="govuk-heading-s">Analytics</h3>
            <p class="govuk-body">
                We use Google Analytics to measure how you use the Find a local planning application made to the Planning Inspectorate service so we can improve it based on user needs. These cookies provide information such as the pages you visit, how many people use our website, and what country you access our website from. We do not allow Google to use or share the data about how you use this site. View our
                <a href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice" class="govuk-link" target="_blank" rel="noreferrer">Customer Privacy Notice</a>
                for more information.
            </p>

            <form action="" method="post" novalidate>
                
                {{ govukRadios({
                    idPrefix: "accept-cookies",
                    name: "accept-cookies",
                    fieldset: {
                        legend: {
                            text: "Do you want to accept analytics cookies? By selecting ‘yes’, you agree to the Planning Inspectorate using your data to help improve the Find a local planning application made to the Planning Inspectorate service.",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        { value: "Yes", 
                          text: "Yes", 
                          checked: data['accept-cookies'] == 'Yes',
                          errorMessage: { text: errorAcceptCookies } if errorAcceptCookies else null
                        },
                        { value: "No",
                          text: "No",
                          checked: data['accept-cookies'] == 'No',
                          errorMessage: { text: errorAcceptCookies } if errorAcceptCookies else null
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Save changes"
                }) }}

            </form>
        </div>
    </div>

{% endblock %}