{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2026/00000342 - Application information - Find a Section 62A application
{% endblock %}

{% block content %}

<style>
        .filter {
            background-color: #f3f2f1;
            padding: 8px;
            border-radius: 5px;
            margin-left: 10px;
            border: 1px solid #505a5f;
            text-decoration: none;
            color: black;
        }

        .filters {
            margin-bottom: 16px;
            padding-bottom: 14px;
            border-bottom: 1px solid #b1b4b6;
        }

        .filters .govuk-details__text {
            border: none;
            padding-left: 0;
        }

        .filtersText {
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 1.1875rem;
        }

        .filter:visited {
            color: black;
        }

        .govuk-details__summary::before {
            clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
            background-color: black;
            color: black;
            width: 3px;
            height: 3px;
        }

        .govuk-details[open]>.govuk-details__summary::before {
            clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
            width: 3px;
            height: 3px;
        }

        .govuk-accordion__section-button {
            font-size: 19px !important;
            padding-bottom: 0px !important;
        }

        /* Target all accordion content padding dynamically */
        .govuk-accordion__section-content {
            padding-bottom: 0px !important;
        }

        .govuk-form-group {
            margin-bottom: 20px !important;
        }

        /* ========================================================= */
        /* MOJ SIDE NAVIGATION OVERRIDES                             */
        /* ========================================================= */
        
        .moj-side-navigation__item a {
            font-size: 19px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .moj-side-navigation__item {
            margin-bottom: 15px; 
        }
    </style>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
            <nav class="moj-side-navigation" aria-label="Side navigation">
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item">
                        <a href="/current-service/front-office/testing/s62a-2026-0000342/app-info">Application information</a>
                    </li>
                    <li class="moj-side-navigation__item">
                        <a href="/current-service/front-office/testing/s62a-2026-0000342/documents">Documents</a>
                    </li>
     
                    <li class="moj-side-navigation__item">
                        <a href="/current-service/front-office/testing/s62a-2026-0000342/application-updates">Application updates</a>
                    </li>
                    <li class="moj-side-navigation__item moj-side-navigation__item--active">
                        <a href="/current-service/front-office/testing/s62a-2026-0000342/written-representations" aria-current="location">Written representations (Comments and feedback)</a>
                    </li>
                </ul>
            </nav>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div style="margin-left:12px;">

                <h2 class="govuk-heading-m">Filters</h2>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" data-remember-expanded="false">
                    
                    <!-- 1. Submitted by Section -->
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h3 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Submitted by
                                </span>
                            </h3>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                            <div style="padding-left:30px;">
                                <form class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <div class="govuk-grid-row">
                                            <div class="">
                                                <fieldset class="govuk-fieldset">
                                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="submitted-1" name="submitted-by" type="checkbox" value="Consultee">
                                                            <label class="govuk-label govuk-checkboxes__label" for="submitted-1">
                                                                Consultee (11)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="submitted-2" name="submitted-by" type="checkbox" value="Interested party">
                                                            <label class="govuk-label govuk-checkboxes__label" for="submitted-2">
                                                                Interested party (40)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- 2. Contains attachments Section -->
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h3 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                    Contains attachments
                                </span>
                            </h3>
                        </div>
                        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                            <div style="padding-left:30px;">
                                <form class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <div class="govuk-grid-row">
                                            <div class="">
                                                <fieldset class="govuk-fieldset">
                                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="attachments-1" name="attachments" type="checkbox" value="Yes">
                                                            <label class="govuk-label govuk-checkboxes__label" for="attachments-1">
                                                                Yes (32)
                                                            </label>
                                                        </div>
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="attachments-2" name="attachments" type="checkbox" value="No">
                                                            <label class="govuk-label govuk-checkboxes__label" for="attachments-2">
                                                                No (19)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- 3. Date submitted Section -->
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h3 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                    Date submitted
                                </span>
                            </h3>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                            <div style="padding-left:30px;">
                                <form class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        
                                        <!-- From Date -->
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                            <h4 class="govuk-fieldset__heading">
                                                From
                                            </h4>
                                        </legend>
                                        <div class="govuk-hint">For example, 5 7 2022</div>
                                        <div class="govuk-date-input">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-from-day">Day</label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day" name="date-from-day" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-from-month">Month</label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month" name="date-from-month" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-from-year">Year</label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year" name="date-from-year" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- To Date -->
                                        <legend style="margin-top:20px" class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                            <h4 class="govuk-fieldset__heading">
                                                To
                                            </h4>
                                        </legend>
                                        <div class="govuk-hint">For example, 27 3 2023</div>
                                        <div class="govuk-date-input">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-to-day">Day</label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day" name="date-to-day" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-to-month">Month</label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month" name="date-to-month" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="date-to-year">Year</label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year" name="date-to-year" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <a href="" class="govuk-button" id="apply-filters" style="margin-bottom:0px;">
                    Apply filters
                </a>
            </div> 

        </div>

        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">S62A/2026/00000342</span>
            <h1 class="govuk-heading-l">Written representations</h1>
            <div style="padding-bottom: 24px;">
                <div id="search-hint" class="govuk-hint">
                    Search by keywords or by name of person or organisation who made the submission.</div>
                <form class="govuk-form-group" style="display: flex; gap: 8px; align-items: center">
                    <label class="govuk-label govuk-visually-hidden" for="keyword-search">Keyword search</label>
                    <input class="govuk-input" id="keyword-search" name="keyword-search" type="text" autocomplete="off" style="width:100%;">
                    <button class="govuk-button" id="keyword-search-button" type="submit" style="margin-bottom:0px;">Search</button>
                </form>

            </div>
            <div id="pagination" class="govuk-body">
                <p class="govuk-body">
                    Showing
                    <strong>1</strong>
                    to
                    <strong>25</strong>
                    of
                    <strong>51</strong>
                    representations, newest first.
                </p>

                <span>
                    <strong>Results per page</strong>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;

                <span class="govuk-body">25</span>

                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="govuk-link--no-visited-state" href="?itemsPerPage=50" data-pagination="50">50</a>

                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="govuk-link--no-visited-state" href="?itemsPerPage=100" data-pagination="100">100</a>
            </div>
            <div style="margin-top: 24px;">

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Bristol City Council</a>
                </p>
                <p class='govuk-body'>The change of use back to residential is supported in principle as it returns the property to its original use and contributes to housing supply in the Clifton area. However, waste management and cycle storage provisions must be clarified before approval.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Bristol City Council</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            11 Jun 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Heather Scott on behalf of Clifton and Hotwells Improvement Society</a>
                </p>
                <p class='govuk-body'>We welcome the return of this vacant commercial unit to residential use, which is much more suited to Gordon Road. Our only concern is ensuring adequate soundproofing is installed between the ground floor and the upper flats to prevent noise transference, given the internal alterations.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Heather Scott</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            08 Jun 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Environmental Compliance</a>
                </p>
                <p class='govuk-body'>No objections. Given the previous use as a pre-school and the lack of external groundworks, we do not anticipate any significant contaminated land issues for a residential conversion. See the attached memo for standard advisory notes.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Environmental Compliance</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            04 Jun 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Sophie Batchelor on behalf of Local Highways Authority</a>
                </p>
                <p class='govuk-body'>As the site is within a highly sustainable location in Clifton with excellent transport links, the zero-parking provision is acceptable under current local policies for a 2-bed flat. See attached letter.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Sophie Batchelor</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            04 Jun 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Ivan Bogoliubov on behalf of Bristol Water</a>
                </p>
                <p class='govuk-body'>Bristol Water has no comments to make regarding planning application S62A/2026/0000342 as existing connections are already in place for the property.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Ivan Bogoliubov</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            28 May 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Mark Doran on behalf of Electrical Networks</a>
                </p>
                <p class='govuk-body'>See the attached document regarding existing utility access rights and internal meter changes.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Mark Doran</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            28 May 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>Mark Youngman on behalf of Transport Planning</a>
                </p>
                <p class='govuk-body'>We require further details on the proposed location for the residential bin storage to ensure it does not obstruct the public highway or pedestrian access on Gordon Road. See attached letter.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            Mark Youngman</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            25 May 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

                <p class='govuk-body govuk-!-font-weight-bold'>
                    <a href='' class='govuk-link govuk-link--no-visited-state'>UK Power Networks</a>
                </p>
                <p class='govuk-body'>As the proposed development is an internal change of use with no external groundworks or extensions, we have no objections and standard Party Wall Act advisories do not apply to our infrastructure in this instance.</p>
                <div class='govuk-grid-row'>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Submitted by:</strong>
                            UK Power Networks</p>
                    </div>
                    <div class='govuk-grid-column-one-half'>
                        <p class='govuk-body'>
                            <strong>Date submitted:</strong>
                            22 May 2026</p>
                    </div>
                </div>

                <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
            </div>
            <nav class="govuk-pagination" aria-label="Pagination">
            <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="?page=1" aria-label="Page 1" aria-current="page">
                        1
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="?page=2" aria-label="Page 2">
                        2
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="?page=11" aria-label="Page 11">
                        3
                    </a>
                </li>
            </ul>

            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="?page=2" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden">
                            page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                        height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
                        <path
                            d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                </a>
            </div>
        </nav>
        </div>
    </div>
</div>

{% endblock %}