{% extends "layouts/new/front-office.html" %}

{% set pageName = "Written representation submitted" %}

{% block pageTitle %}
  {{ pageName }} - Have your say on a development - Find a Section 62A application prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        {# Dynamic Success Panel Macro #}
        {{ govukPanel({
            titleText: "Written representation submitted",
            html: "Your reference number<br><strong>" + data['submittedRepReference'] + "</strong>"
        }) }}

        <p class="govuk-body">We've sent you an email with your reference number. We'll be in touch if we need more information.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">When the representation period finishes, our inspectors will make a decision to follow one of these approaches:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>only consider written comments</li>
            <li>schedule a hearing to gather more feedback</li>
        </ul>

        <p class="govuk-body">If you expressed interest in attending a hearing, we'll email you details if that approach is chosen.</p>


        <div class="govuk-inset-text">
            <p class="govuk-body">Help us improve this service by <a href="#">sharing your feedback</a>.</p>
        </div>

        <p class="govuk-body govuk-!-margin-top-6">
            <a href="/current-service/front-office/testing/s62a-2026-0048/app-info" class="govuk-link">Back to the application information page</a>
        </p>

    </div>
</div>

{% endblock %}