{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/next-page-url" method="post">

        {{ govukTextarea({
          name: "developmentDescription",
          id: "developmentDescription",
          label: {
            text: "What is the description of the development?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This will be published on the website."
          },
          value: data['developmentDescription'] 
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}