{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
Check group name details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/13-what-is-the-name-of-the-first-person-you-are-representing" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check group name details</h1>

    {% set groupNameList = data['group-name-list'] or [] %}

    {# --- SUMMARY TABLE --- #}
      <table class="govuk-table govuk-!-margin-bottom-9">

        <caption class="govuk-table__caption govuk-visually-hidden">People added to the group</caption>
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Actions</th>
          </tr>
        </thead>
        
        <tbody class="govuk-table__body">
          {% for item in groupNameList %}
            <tr class="govuk-table__row">
              
              {# Name Column #}
              <td class="govuk-table__cell">
                {{ item.firstName }} {{ item.lastName }}
              </td>
              
              {# Actions Column (Change | Remove) #}
              <td class="govuk-table__cell govuk-!-text-align-right">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="/setup-next-person?id={{ item.id }}">
                      Change<span class="govuk-visually-hidden"> {{ item.firstName }} {{ item.lastName }}</span>
                    </a>
                  </li>
                  
                  {% if groupNameList.length > 1 %}
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/remove-group-person?id={{ item.id }}">
                       Remove<span class="govuk-visually-hidden"> {{ item.firstName }} {{ item.lastName }}</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {# --- ADD ANOTHER & CONTINUE BUTTONS --- #}

      <form action="/current-service/front-office/testing/s62a-2026-0048/have-your-say/16-have-you-got-attachments-to-support-your-comment" method="post" novalidate>
        
        <p class="govuk-body">
          <a href="/setup-next-person" class="govuk-link govuk-!-font-size-19">Add another person</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

  </div>
</div>
{% endblock %}