{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}Upload supporting attachments - Find a Section 62A application
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/16-have-you-got-attachments-to-support-your-comment"
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}
        
        <form method="post" action="/upload-supporting-attachments-answer" novalidate>
            <input type="hidden" name="_csrf" value="">
            
            <h1 class="govuk-heading-l">
                Upload supporting attachments
            </h1>
            
            <p class="govuk-body">Use this page to upload your supporting attachments. These will be published on the website along with your name and comment.</p>
            
            <div class="govuk-inset-text">
                Do not include in your supporting attachments any personal information that could identify you or another person.
            </div>

            <p class="govuk-body">You can upload the following attachment types: <br>
            PDF, PNG, JPG, JPEG, TIF, TIFF, DOC, DOCX, XLS, XLSX</p>

            <p class="govuk-body">Note that:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>attachments must not be compressed (ZIP attachments will not be accepted)</li>
                <li>each attachment must be under 25MB</li>
                <li>total upload size must be under 1GB</li>
            </ul>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Guidance on what not to include
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">Do not include:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>personal data such as names, addresses, contact details, signatures and photos that could identify you or anyone else</li>
                        <li>links to third party websites, except GOV.UK or chartered professional websites</li>
                        <li>sensitive information</li>
                    </ul>
                    <p class="govuk-body">Sensitive information refers to information that:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>could identify a child</li>
                        <li>relates to health</li>
                        <li>relates to crime</li>
                    </ul>
                    <p class="govuk-body">It also means any information relating to an individual's:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>race or ethnic origin</li>
                        <li>political or religious beliefs</li>
                        <li>trade union membership</li>
                        <li>genetic or biometric data</li>
                        <li>physical characteristics</li>
                        <li>mental health or sexual health</li>
                        <li>sexual orientation and sex life</li>
                    </ul>
                    <p class="govuk-body">If you include any personal data, third party links or sensitive data in your comment or supporting attachments, this will be redacted and will not be taken into account by the Planning Inspectors.</p>
                    <p class="govuk-body">If you include any racist, inflammatory or abusive language, your written representation will be rejected.</p>
                </div>
            </details>
            
            {% from "components/multi-file-upload.njk" import uploadArea %}

            {{ uploadArea({
                serverError: errors.uploadedFiles if errors.uploadedFiles else null,
                existingFiles: data['uploadedFiles']
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}