{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorAttendHearing %}Error: {% endif %}Register interest in attending a hearing - Find a local planning application made to the Planning Inspectorate
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/17-add-your-comments"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorAttendHearing %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorAttendHearing, href: "#attend-hearing" }]
      }) }}
    {% endif %}


    <h1 class="govuk-heading-l">
     Register interest to attend hearing
    </h1>

    <p class="govuk-body">
      If Planning Inspectors decide that written representations are not enough to reach a decision, a public hearing may be scheduled.
    </p>

    <p class="govuk-body">
      You do not commit to attending by choosing 'Yes', and you can change your mind later. We will send you details if a hearing is scheduled.
    </p>

    <p class="govuk-body">
      You do not have to attend for your comments to be considered.
    </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a hearing?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">A hearing is a structured, face-to-face meeting. It's run as a round-table discussion led by an independent planning inspector.</p>

        <p class="govuk-body">At the start of the hearing, the inspector will:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>explain the details of the application</li>
          <li>state the main issues to be resolved</li>
          <li>list the specific topics that need further explanation</li>
        </ul>

        <p class="govuk-body">The inspector will then lead a discussion on each topic. They will ask direct questions to both sides to better understand the case.</p>

        <p class="govuk-body">Most hearings last between half a day and a full day. They usually conclude with the inspector visiting the development site.</p>
      </div>
    </details>

    <form class="form" action="/attend-hearing-answer" method="post" novalidate>
      
      <div class="govuk-form-group {% if errorAttendHearing %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="{% if errorAttendHearing %}attend-hearing-error{% endif %}">
          
      
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to register interest in attending a hearing?
          </legend>


          {% if errorAttendHearing %}
            <p id="attend-hearing-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errorAttendHearing }}
            </p>
          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="attend-hearing" name="attend-hearing" type="radio" value="Yes" {% if data['attend-hearing'] == 'Yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="attend-hearing">
                Yes
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="attend-hearing-2" name="attend-hearing" type="radio" value="No" {% if data['attend-hearing'] == 'No' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="attend-hearing-2">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}