{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  Check your Answers - Have your say on a development - Find a Section 62A application prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <br>

    {# ========================================================= #}
    {# set variables outside list                                #}
    {# ========================================================= #}

    {# --- Groups of People HTML --- #}
    {% set groupOfPeopleHtml %}
      {% set groupOfPeopleList = data['group-name-list'] | default([]) %}
      
      {% if groupOfPeopleList.length > 0 %}
        {% set totalMembers = groupOfPeopleList.length %}
        
        {# Always show the first 3 members #}
        <ul class="govuk-list {% if totalMembers > 1 %}govuk-list--bullet{% endif %} govuk-!-margin-bottom-0">
          {% for i in range(0, 3) %}
            {% if i < totalMembers %}
              {% set person = groupOfPeopleList[i] %}
              <li>{{ person.firstName }} {{ person.lastName }}</li>
            {% endif %}
          {% endfor %}
        </ul>

        {# If there are more than 3, show toggle and create hidden list #}
        {% if totalMembers > 3 %}
          {% set extraCount = totalMembers - 3 %}
          
          {# Wrapper container to scope the JavaScript #}
          <div class="js-show-more-container" data-extra-count="{{ extraCount }}">
            
            <p class="govuk-!-margin-top-3 govuk-!-margin-bottom-0">
              {# Ensure aria-controls has a unique ID for this specific page #}
              {# use 'Show {{ extraCount }} more' to show number of hidden items #}
              <a href="#" class="govuk-link govuk-link--no-visited-state js-show-more-toggle" aria-expanded="false" aria-controls="extra-group-members-cya">Show more</a>
            </p>

            {# Hidden content block matching the aria-controls ID #}
            <div id="extra-group-members-cya" class="js-show-more-content" hidden>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-2">
                {% for i in range(3, totalMembers) %}
                  {% set person = groupOfPeopleList[i] %}
                  <li>{{ person.firstName }} {{ person.lastName }}</li>
                {% endfor %}
              </ul>
            </div>
            
          </div>
        {% endif %}

      {% else %}
        None added
      {% endif %}
    {% endset %}

    {# ========================================================= #}
    {# summary list with conditional rows                        #}
    {# ========================================================= #}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    {# --- 01: Who you are submitting for --- #}
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Who you are submitting for</dt>
    <dd class="govuk-summary-list__value">{{ data['who-submit-rep'] }}</dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/01-who-are-you-submitting-a-representation-for">Change<span class="govuk-visually-hidden"> who are you submitting a representation for?</span></a>
    </dd>
    </div>

    {# --- 02: Who are you representing (Outer conditional) --- #}
    {% if data['who-submit-rep'] == 'On behalf of another person, an organisation or group of people' %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Who are you representing?</dt>
        <dd class="govuk-summary-list__value">{{ data['who-are-you-representing'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/02-who-are-you-representing">Change<span class="govuk-visually-hidden"> who are you representing?</span></a>
        </dd>
    </div>

    {# --- 03: Are you acting as an agent (Nested conditional) --- #}
    {% if data['who-are-you-representing'] in [
    'A person', 
    'An organisation or charity that I do not work or volunteer for', 
    'A group of people'
    ] %}

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Are you an agent?</dt>
        <dd class="govuk-summary-list__value">{{ data['is-agent'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/03-are-you-acting-as-an-agent-on-behalf-of-a-client">Change<span class="govuk-visually-hidden"> are you acting as an agent on behalf of a client?</span></a>
    </dd>
    </div>

    {# --- 04: Agent organisation name (Nested conditional) --- #}
    {% if data['is-agent'] == 'Yes' %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Agent organisation name</dt>
        <dd class="govuk-summary-list__value">{{ data['agent-organisation-name'] }}</dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/04-what-is-the-name-of-the-organisation-you-work-for">Change<span class="govuk-visually-hidden"> what is the name of the organisation you work for?</span></a>
        </dd>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {# --- 05: Your full name --- #}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your full name</dt>
        <dd class="govuk-summary-list__value">{{ data['your-first-name'] }} {{ data['your-last-name'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/05-what-is-your-name">Change<span class="govuk-visually-hidden"> what is your name?</span></a>
        </dd>
    </div>

    {# --- 06: Email address --- #}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email address</dt>
        <dd class="govuk-summary-list__value">{{ data['your-email-address'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/06-what-is-your-email-address">Change<span class="govuk-visually-hidden"> what is your email address?</span></a>
        </dd>
    </div>

    {# --- 07: Represented person name (Conditional) --- #}
    {% if data['who-are-you-representing'] == 'A person' %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Represented person name</dt>
        <dd class="govuk-summary-list__value">{{ data['person-you-are-representing-first-name'] }} {{ data['person-you-are-representing-last-name'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/07-what-is-the-name-of-the-person-you-are-representing">Change<span class="govuk-visually-hidden"> what is the name of the person you are representing?</span></a>
        </dd>
    </div>
    {% endif %}

    {# --- 08: Organisation or charity name (Conditional) --- #}
    {% if data['who-are-you-representing'] == 'An organisation or charity that I work or volunteer for' %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation or charity name</dt>
        <dd class="govuk-summary-list__value">{{ data['your-org-or-charity-name'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/08-what-is-the-name-of-your-organisation-or-charity">Change<span class="govuk-visually-hidden"> what is the name of your organisation or charity?</span></a>
        </dd>
    </div>

    {# --- 09: Job title or volunteer role (Conditional) --- #}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Job title or volunteer role</dt>
        <dd class="govuk-summary-list__value">{{ data['your-job-title-or-volunteer-role'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/09-what-is-your-job-title-or-volunteer-role">Change<span class="govuk-visually-hidden"> what is your job title or volunteer role?</span></a>
        </dd>
    </div>
    {% endif %}

    {# --- 10: Name of the organisation or charity representing (Conditional) --- #}
    {% if data['who-are-you-representing'] == 'An organisation or charity that I do not work or volunteer for' %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name of the organisation or charity representing</dt>
        <dd class="govuk-summary-list__value">{{ data['org-or-charity-you-are-representing'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/10-what-is-the-full-name-of-the-organisation-or-charity-that-you-are-representing">Change<span class="govuk-visually-hidden"> what is the name of the organisation or charity that you are representing?</span></a>
        </dd>
    </div>
    {% endif %}

    {# --- 11: Group name? (Conditional) --- #}
    {% if data['who-are-you-representing'] == 'A group of people' and data['who-submit-rep'] == 'On behalf of another person, an organisation or group of people' %}

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Group name?</dt>
        <dd class="govuk-summary-list__value">{{ data['does-the-group-have-a-name'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/11-does-the-group-have-a-name">Change<span class="govuk-visually-hidden"> does the group have a name?</span></a>
        </dd>
    </div>

    {# --- 12: Group name (Conditional) --- #}
    {% if data['does-the-group-have-a-name'] == 'Yes' %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Group name</dt>
        <dd class="govuk-summary-list__value">{{ data['name-of-the-group'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/12-what-is-the-name-of-the-group">Change<span class="govuk-visually-hidden"> what is the name of the group?</span></a>
        </dd>
    </div>
    {% endif %}

    {# --- 14: Check group name details (Conditional) --- #}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Names in the group</dt>
        <dd class="govuk-summary-list__value">{{ groupOfPeopleHtml | safe }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/14-check-group-name-details">Change<span class="govuk-visually-hidden"> group name details</span></a>
        </dd>
    </div>
    {% endif %}

    {# --- 16: Have you got attachments to support your comment --- #}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Have you got attachments?</dt>
        <dd class="govuk-summary-list__value">{{ data['include-attachments'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/16-have-you-got-attachments-to-support-your-comment">Change<span class="govuk-visually-hidden"> have you got attachments to support your comment</span></a>
        </dd>
    </div>

    {# --- 18: Attachments --- #}
    {% if data['include-attachments'] == 'Yes' %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Attachments</dt>
        <dd class="govuk-summary-list__value">
          
          {% if data['uploadedFiles'] %}
            {# Split the single string back into a list of individual files #}
            {% set filesArray = data['uploadedFiles'].split('||') %}
            
            <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">
              {% for file in filesArray %}
                {# Ensure we don't print empty rows #}
                {% if file %}
                  <li>
                    <a class="govuk-link" href="#">{{ file }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          {% else %}
            None provided
          {% endif %}

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/18-upload-supporting-attachments">
            Change<span class="govuk-visually-hidden"> upload supporting attachments</span>
          </a>
        </dd>
    </div>
    {% endif %}

    {# --- 17: Add your comments --- #}
    {% set comment = data['add-your-comments'] | default('') %}
    
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Tell us about application</dt>
        <dd class="govuk-summary-list__value">
        
        {% if comment.length > 100 %}
            <p class="govuk-body">{{ comment | truncate(500, true, "... ") }}<a class="govuk-link govuk-link--no-visited-state" style="max-width: none; white-space: nowrap;" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/17-add-your-comments">Read more</a></p>
            
        {% else %}
            {# show normally if less than specified characters #}
            {{ comment | nl2br | safe }}
        {% endif %}
        
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/17-add-your-comments">Change<span class="govuk-visually-hidden"> add your comments</span></a>
        </dd>
    </div>

    {# --- 19: Attend hearing --- #}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Attend hearing?</dt>
        <dd class="govuk-summary-list__value">{{ data['attend-hearing'] }}</dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/have-your-say/19-would-you-like-to-attend-a-hearing">Change<span class="govuk-visually-hidden"> would you like to attend a hearing if one takes place</span></a>
        </dd>
    </div>

    </dl>

    {{ govukButton({
      text: "Continue",
      href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/declaration"
    }) }}

  </div>
</div>
{% endblock %}

{% block pageScripts %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Grab all toggle links on the page
    const toggleLinks = document.querySelectorAll('.js-show-more-toggle');

    toggleLinks.forEach(link => {
      link.addEventListener('click', (event) => {
        // Prevent the link from jumping the page to the top
        event.preventDefault(); 

        // Find the specific container and content for this exact link
        const container = link.closest('.js-show-more-container');
        const content = container.querySelector('.js-show-more-content');
        
        // Grab the count we saved in the data attribute earlier
        const extraCount = container.dataset.extraCount; 

        // Check current state
        const isExpanded = link.getAttribute('aria-expanded') === 'true';

        if (isExpanded) {
          // Hide it
          content.setAttribute('hidden', '');
          link.setAttribute('aria-expanded', 'false');
          // use `Show ${extraCount} more` to show number of hidden items
          link.innerText = `Show more`;
        } else {
          // Show it
          content.removeAttribute('hidden');
          link.setAttribute('aria-expanded', 'true');
          link.innerText = 'Hide';
        }
      });
    });
  });
</script>

{% endblock %}