{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2026/0048 - Application information - Find a Section 62A application
{% endblock %}

{% block content %}

<style>
    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }
</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0048/app-info">Application information</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0048/documents" aria-current="location">Documents</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2026-0048/hys">Have your say</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0048/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2026-0048/written-representations">Written representations (Comments and feedback)</a>
                </li>
            </ul>
        </nav>
    </div>
   {% set details %}
        <p> At the Planning Inspectorate, we value your privacy. This statement outlines how we process your personal
            data.</p>

        <p>
            When you submit a written representation on a Section 62A application, we’ll ask for your
            name and email address.

        </p>

        <p>Your name and written representation will be published on the <a
                href="#">Find a Section 62A
                application service</a>. We will only use your email address to communicate with you about your
            submission and will not use your data for any other, unrelated purpose. </p>

        <p>We’ll process all of your data in line with our legal obligation under The Town and Country Planning (Section 62A
            Applications) (Procedure and Written Representations) Order 2025</a>.

        <p>You can read full details of how we process your data in our <a href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice" target="_blank" rel="noreferrer noopener">
            GOV.UK Customer Privacy Notice (opens in a new tab)</a>.</p>


        <p>You have the right to access and correct your data. To do this, contact the Planning Inspectorate Senior Data
            Protection Manager at <a
                href="#">dataprotection@planninginspectorate.gov.uk.</a>
        </p>


        {% endset %}


    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">S62A/2026/0048</span>
        <h1 class="govuk-heading-l">
            Have your say
        </h1>

        <p>Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>send us your comments about this application</li>
            <li>share any supporting attachments</li>
        </ul>

        <p>This will make up your written representation.</p>

        <p>We'll consider these before we make a decision on an application and we'll publish your name and comments on this website unless you have asked for your name to be withheld.</p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p>We'll ask for your:
            <ul class="govuk-list govuk-list--bullet">
                <li>full name</li>
                <li>email address</li>
            </ul>
        </p>
        <p>If you're commenting on behalf of someone else, we may ask for:
            <ul class="govuk-list govuk-list--bullet">
                <li>the name of the charity or organisation you work for</li>
                <li>your job title or volunteer role</li>
                <li>the name of the person or organisation you are representing</li>
                <li>the names in your group representation</li>
            </ul>
        </p>

        <p>If you cannot complete your submission in one sitting, the session will last for 24 hours until you have to re-enter all your information.</p>

        <h3 class="govuk-heading-m">
            Using artificial intelligence (AI) in written representations
        </h3>

        <p class="govuk-body">
            If you use AI tools to help draft your written representation, check it carefully before you submit. Make sure the content accurately reflects your views
            and does not introduce any false or misleading information.
        </p>


        {{ govukDetails({
        summaryText: "How we process your data",
        html: details
        }) }}


        {% from "govuk/components/button/macro.njk" import govukButton %}

         {{ govukInsetText({
            text: "You must submit your comment and any supporting attachments by 11:59pm on 22 September 2026."
        }) }}

        <a href="/have-your-say-start-ur" class="govuk-button govuk-button--start">Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
  </svg></a>


    </div>
</div>
{% endblock %}