{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2025/0138 - Application information - Find a Section 62A application
{% endblock %}

{% block content %}

{# ========================================================= #}
{# CUSTOM STYLES                                             #}
{# ========================================================= #}

<style>
    .govuk-task-list__summary-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
    }

    .govuk-task-list__name {
        margin: 0;
    }

    .govuk-task-list__accordion {
        margin-bottom: 0;
        padding: 0.5em 0;
        border-bottom: none;
    }

    .summary-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .govuk-details__summary {
        width: 96%;
    }

    .pins-modded-summary-full-width {
        margin: 10px 0;
    }

    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }

    /* ========================================================= */
    /* APPLICATION STAGE STATUS TAG STYLING                      */
    /* ========================================================= */
    
    .pins-modded-summary-full-width .govuk-details__summary {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 0; 
    }

    .pins-modded-summary-full-width .govuk-details__summary-text {
        display: block;
        flex-grow: 1;
        width: 100%;
    }
</style>

{# ========================================================= #}
{# PAGE CONTENT                                              #}
{# ========================================================= #}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/app-info" aria-current="location">Application information</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/documents">Documents</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/hys">Have your say</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="#">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="#">Written representations</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">S62A/2025/0138</span>
        <h1 class="govuk-heading-xl">Application information</h1>

        <h2 class="govuk-heading-m">About this application</h2>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type of application</dt>
            <dd class="govuk-summary-list__value">Outline planning permission with some matters reserved</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Local planning authority</dt>
            <dd class="govuk-summary-list__value">Cherwell LPA</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Applicant name</dt>
            <dd class="govuk-summary-list__value">Home Office</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site address</dt>
            <dd class="govuk-summary-list__value">Campsfield Immigration Removal Centre (IRC), Evenlode Crescent, Kiddlington, OX5 1RE</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Description of the proposed development</dt>
            <dd class="govuk-summary-list__value">Outline Planning Application with all matters reserved (except for access) for the expansion of Campsfield IRC comprising the development of new accommodation blocks and ancillary supporting accommodation, the conversion of existing site infrastructure, demolition of existing structures, creation of additional car parking...</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Stage</dt>
            <dd class="govuk-summary-list__value">Accepted</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Application form</dt>
            <dd class="govuk-summary-list__value">
              To view the full application, go to the <a href="documents-static" class="govuk-link">Documents section</a>.
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Important dates</h2>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          rows: [
            { key: { text: "Application accepted date" }, value: { text: "1 January 2026" } },
            { key: { text: "Representation period" }, value: { text: "3 April 2026 at 12:00am to 30 April 2026 at 11:59pm" } },
            { key: { text: "Decision date" }, value: { html: "1 June 2026" } }
          ]
        }) }}

        <h2 class="govuk-heading-m">Procedure details</h2>

        {{ govukSummaryList({
          rows: [
            { key: { text: "Procedure type" }, value: { text: "Hearing" } },
            { key: { text: "Hearing date" }, value: { text: "1 July 2026" } },
            { key: { text: "Hearing venue" }, value: { html: "Chelsea Town Hall" } }
          ]
        }) }}

        <h2 class="govuk-heading-m">Application decision</h2>

        {{ govukSummaryList({
          rows: [
            { key: { text: "Decision date" }, value: { text: "1 August 2026" } },
            { key: { text: "Decision outcome" }, value: { text: "-" } }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 class="govuk-heading-m">Have your say</h2>

        <p class="govuk-body">Use this service to submit a written representation with your views on this Crown
            Development application. A written representation includes your comment and any supporting documents.
            Written representations will be considered by the Planning Inspectors before a decision is made on an
            application.</p>
        <p class="govuk-body">Your name and written representation will be published on this website.</p>
        <p class="govuk-body govuk-!-margin-0">The representation period is open from:</p>
        <br>
        <p class="govuk-body">31 January 2026 at 12:00am to 31 March 2026 11:59pm.</p>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Have your say",
          href: "/start"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">Application stage</h2>
        <p class="govuk-body">This application is at the <strong>accepted</strong> stage.</p>

        <div id="project-stage-pre-application" class="govuk-!-margin-top-6">
            <details class="govuk-details pins-modded-summary-full-width">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Pre-application</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The pre-application process for Crown Development applications is handled by the Ministry of
                        Housing, Communities and Local Government (MHCLG).</p>
                    <p>Together, the applicant and MHCLG identify any issues there may be with the:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>development plan</li>
                        <li>National Planning Policy Framework</li>
                        <li>planning practice guidance documents</li>
                        <li>issues raised by pre-application community consultation</li>
                    </ul>
                    <p>These will be addressed in the application submission.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-acceptance">
            <details class="govuk-details pins-modded-summary-full-width">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Accepted</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--grey -white-space--nowrap">Not started</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">The Planning Inspectorate (PINS) checks that the application is complete. For
                        example, that the right documents and fees have been added.</p>
                    <p class="govuk-body">The Secretary of State assesses whether the application is of national
                        importance. Once this is confirmed, the application is accepted for consideration and is
                        published.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-consultation">
            <details class="govuk-details pins-modded-summary-full-width">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Consultation</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--grey -white-space--nowrap">Not started</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The relevant Local Planning Authority (LPA) publicises the fact that a Crown Development
                        application has been made. The LPA notifies anyone who has been consulted.</p>
                    <p>The Planning Inspectorate (PINS) accepts written representations from statutory consultees and
                        other interested parties.</p>
                    <p>The time limit for submitting written representations is no less than 21 days from the date the
                        application is accepted. Any representations submitted after this date may not be taken into
                        account.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-procedure-decision">
            <details class="govuk-details pins-modded-summary-full-width">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Procedure decision</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--grey -white-space--nowrap">Not started</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The procedure is the method of decision process the Planning Inspectorate will use to make a
                        decision about the proposed development.<br>The Planning Inspectorate will keep the procedure
                        choice, including combined procedures, under review. Subject to any notification and procedural
                        requirement, the procedure may be changed at any point before the decision is issued.</p>
                    <p>The planning inspector will determine how the application should proceed. The possible procedures
                        are:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>written representations</li>
                        <li>hearing</li>
                        <li>inquiry</li>
                    </ul>
                    <p>The decision will be communicated to the applicant, relevant Local Planning Authority (LPA) and
                        anyone who submitted comments during the representations period.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-reporting">
            <details class="govuk-details pins-modded-summary-full-width">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Reporting and decision</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--grey -white-space--nowrap">Not started</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The inspector uses the evidence to write a decision report about the outcome of the application.</p>
                    <p>The Planning Inspectorate (PINS) issues a formal decision notice including a statement with the
                        reasons for the decision.</p>
                    <p>If the application is approved, the decision will also list any necessary conditions.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-post-decision">
            <details class="govuk-details pins-modded-summary-full-width">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Post-decision</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--grey -white-space--nowrap">Not started</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>Where permission has been granted on a Crown Development application, the Local Planning
                        Authority (LPA) is responsible for monitoring the implementation of the permission. The LPA must
                        ensure that it is carried out in accordance with the plans and any planning conditions.</p>
                    <p>To challenge a decision on a Crown Development application, an application must be made to the
                        High Court. This must be made within 6 weeks of the day the decision is issued.</p>
                </div>
            </details>
        </div>

        <br>
        <p class="govuk-body">Get more
            <a class="govuk-link" href="https://www.gov.uk/guidance/planning-applications-s62a">information about
                Section 62A applications</a>.
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Contact Us</h2>
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">If you have a representation reference number, have it with you when you call.</p>
        <p class="govuk-body">Telephone: 0303 444 5000</p>
        <p class="govuk-body">
            Open Monday to Friday: 9am to 4pm.
            <br>
            Closed on weekends and bank holidays.
        </p>

        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body">
            <a class="govuk-link" href="mailto:section62anonmajor@planninginspectorate.go.uk">section62anonmajor@planninginspectorate.go.uk</a>
        </p>
        <p class="govuk-body">When writing an email, quote the application reference in the subject line.</p>
        <p class="govuk-body">We aim to respond within 10 working days.</p>

        <h3 class="govuk-heading-s">Alternative formats</h3>
        <p class="govuk-body">Call or email to ask for project documents in alternative formats such as PDF, large
            print, easy read, audio recording or braille. 
            <br>
            <br>
            For letters, write to Section 62A Applications Team, Planning Inspectorate, c/o QUADIENT, 69 Buckingham Avenue, Slough, SL1 4PN.</p>
    </div>
</div>

{% endblock %}