{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2025/0138 - Application information - Find a Section 62A application
{% endblock %}

{% block content %}

{# ========================================================= #}
{# CUSTOM STYLES                                             #}
{# ========================================================= #}

<style>
    .govuk-task-list__summary-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
    }

    .govuk-task-list__name {
        margin: 0;
    }

    .govuk-task-list__accordion {
        margin-bottom: 0;
        padding: 0.5em 0;
        border-bottom: none;
    }

    .summary-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .govuk-details__summary {
        width: 96%;
    }

    .pins-modded-summary-full-width {
        margin: 10px 0;
    }

    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }

    /* ========================================================= */
    /* APPLICATION STAGE STATUS TAG STYLING                      */
    /* ========================================================= */
    
    .pins-modded-summary-full-width .govuk-details__summary {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 0; 
    }

    .pins-modded-summary-full-width .govuk-details__summary-text {
        display: block;
        flex-grow: 1;
        width: 100%;
    }
</style>

{# ========================================================= #}
{# PAGE CONTENT                                              #}
{# ========================================================= #}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/app-info" aria-current="location">Application information</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/documents">Documents</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2025-0138/written-representations">Written representations</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">

                <p class="govuk-notification-banner__heading">
                    Latest update — 14 Jan 2025

                </p>
                <p>
                    Decision issued - available to view under the application information tab
                </p>
                <p>
                    <a href="/current-service/front-office/testing/s62a-2025-0138/application-updates">
                        View all updates
                    </a>
                </p>

            </div>
        </div>


        <span class="govuk-caption-xl">S62A/2025/0138</span>
       <h1 class="govuk-heading-xl">Application information</h1>

        <h2 class="govuk-heading-m">About this application</h2>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type of application</dt>
            <dd class="govuk-summary-list__value">Full Planning Application</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Applicant name</dt>
            <dd class="govuk-summary-list__value">Bristol Design Properties Ltd</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site address</dt>
            <dd class="govuk-summary-list__value">26 Sturdon Road, Bristol, Bristol, BS3 2BA</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Description of the proposed development</dt>
            <dd class="govuk-summary-list__value">Change of use from a dwellinghouse used by a single person or household (Use Class C3a) to a small dwellinghouse in multiple occupation (Use Class C4), 
                                                including the erection of a cycle and refuse/recycling stores.</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Case officer</dt>
            <dd class="govuk-summary-list__value">Section 62A Applications Team</dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Procedure</dt>
            <dd class="govuk-summary-list__value">Written Representations</dd>
          </div>
        </dl>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <h2 class="govuk-heading-m">Key dates</h2>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          rows: [
            { key: { text: "Date application valid" }, value: { text: "20 November 2025" } },
            { key: { text: "Date by when representations must be made" }, value: { text: "30 December 2025" } },
            { key: { text: "Hearing date and venue" }, value: { text: "N/A" } },
            { key: { text: "Target decision" }, value: { text: "15 January 2026" } },
            { key: { text: "Decision date" }, value: { text: "14 January 2026" } }
          ]
        }) }}

         <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <h2 class="govuk-heading-m">Decision</h2>

        <ul class="govuk-list govuk-list--bullet">
                 <li><a class="govuk-link" href="#">Decision Notice and Statement of Reasons</a> (PDF, 180 KB, 11 pages)</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 class="govuk-heading-m">Make a representation</h2>

        <p class="govuk-body">The written representations period has ended.</p>
        <p class="govuk-body">You can <a href="/current-service/front-office/testing/s62a-2025-0138/written-representations">view the written representations </a>for this application.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <h2 class="govuk-heading-m">Application stage</h2>
        <p class="govuk-body">This application is at the <strong>post decision</strong> stage.</p>

        <div id="project-stage-pre-application" class="govuk-!-margin-top-6">
            <details class="govuk-details pins-modded-summary-full-width govuk-!-margin-bottom-2">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Pre-application</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The pre-application process for Section 62A applications is handled by the Planning Inspectorate.</p>
                    <p>The applicant sends the notice of intent to PINS with information on:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>who the applicant is</li>
                        <li>the site address</li>
                        <li>the size of the development</li>
                        <li>expected submission date</li>
                        <li>Listed Building Consent status</li>
                        <li>and any likely issues with the development</li>
                    </ul>
                    <p>These will be addressed in the application submission.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-acceptance">
            <details class="govuk-details pins-modded-summary-full-width govuk-!-margin-bottom-2">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Accepted</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">The Planning Inspectorate (PINS) checks that the application is complete. For
                        example, that the right documents and fees have been added.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-consultation">
            <details class="govuk-details pins-modded-summary-full-width govuk-!-margin-bottom-2">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Consultation</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The relevant Local Planning Authority (LPA) publicises the fact that a Section 62A application
                        application has been made. The LPA notifies anyone who has been consulted.</p>
                    <p>The Planning Inspectorate (PINS) accepts written representations from statutory consultees and
                        other interested parties.</p>
                    <p>The time limit for submitting written representations is no less than 21 days from the date the
                        application is accepted. Any representations submitted after this date may not be taken into
                        account.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-procedure-decision">
            <details class="govuk-details pins-modded-summary-full-width govuk-!-margin-bottom-2">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Procedure decision</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The procedure is the method of decision process the Planning Inspectorate will use to make a
                        decision about the proposed development.</p>
                    <p>The Planning Inspectorate will keep the procedure choice, including combined procedures, 
                        under review. Subject to any notification and procedural requirement, the procedure may be changed 
                        at any point before the decision is issued.</p>
                    <p>The planning inspector will determine how the application should proceed. The possible procedures
                        are:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>written representations</li>
                        <li>hearing</li>
                    </ul>
                    <p>The decision will be communicated to the applicant, relevant Local Planning Authority (LPA) and
                        anyone who submitted comments during the representations period.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-reporting">
            <details class="govuk-details pins-modded-summary-full-width govuk-!-margin-bottom-2">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Reporting and decision</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>The inspector uses the evidence to write a decision report about the outcome of the application.</p>
                    <p>The Planning Inspectorate (PINS) issues a formal decision notice including a statement with the
                        reasons for the decision.</p>
                    <p>If the application is approved, the decision will also list any necessary conditions.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div id="project-stage-post-decision">
            <details class="govuk-details pins-modded-summary-full-width govuk-!-margin-bottom-2">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        <div class="summary-content">
                            <span>Post-decision</span>
                            <div>
                                <strong class="govuk-tag govuk-tag--green -white-space--nowrap">Completed</strong>
                            </div>
                        </div>
                    </div>
                </summary>
                <div class="govuk-details__text">
                    <p>Where permission has been granted on a Section 62A application, the Local Planning
                        Authority (LPA) is responsible for monitoring the implementation of the permission. The LPA must
                        ensure that it is carried out in accordance with the plans and any planning conditions.</p>
                    <p>To challenge a decision on a Section 62A application, an application must be made to the
                        High Court. This must be made within 6 weeks of the day the decision is issued.</p>
                </div>
            </details>
        </div>

        <br>
        <p class="govuk-body">Get more
            <a class="govuk-link" href="https://www.gov.uk/guidance/planning-applications-s62a">information about
                Section 62A applications</a>.
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <h2 class="govuk-heading-m">Contact us</h2>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Ways to contact us
                </span>
            </summary>
            
            <div class="govuk-details__text">
                
                <h3 class="govuk-heading-s">Telephone</h3>
                <p class="govuk-body">If you have a representation reference number, have it with you when you call.</p>
                <p class="govuk-body">Telephone: 0303 444 5000</p>
                <p class="govuk-body">
                    Open Monday to Friday: 9am to 4pm.
                    <br>
                    Closed on weekends and bank holidays.
                </p>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">Email</h3>
                <p class="govuk-body">When writing an email, quote the application reference number S62A/2024/0048 in the subject line.</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="#">section62anonmajor@planninginspectorate.go.uk</a>
                </p>
                <p class="govuk-body">We aim to respond within 10 working days.</p>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">Address</h3>
                <p class="govuk-body">
                    Section 62A Applications Team,
                    <br>
                    The Planning Inspectorate,
                    <br>
                    3rd Floor,
                    <br>
                    Temple Quay House,
                    <br>
                    2 The Square, Temple Quay,
                    <br>
                    Bristol, BS1 6PN
                </p>

            </div> 
        </details>

        <h3 class="govuk-heading-s">Alternative formats</h3>
        <p class="govuk-body">Call or email to ask for project documents in alternative formats such as PDF, large
            print, easy read, audio recording or braille. 
    </div>
</div>

{% endblock %}