{% extends "layouts/new/back-office.html" %}
{% set currentPage = "details" %}

{% block pageTitle %}
  {{ currentCase.reference | default('Case Not Found') }} - Case Details - Manage Planning Applications
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all applications",
    href: "/current-service/back-office/cases"
  }) }}
{% endblock %}

{% block content %}
          

{# ========================================================= #}
{# 1. FIND THE SPECIFIC CASE FROM THE URL QUERY              #}
{# ========================================================= #}
{% set currentCase = null %}
{% for case in data.cases %}
  {% if case.reference == data.reference %}
    {% set currentCase = case %}
  {% endif %}
{% endfor %}

{# ========================================================= #}
{# 2. FORMAT COMPLEX HTML VARIABLES (Addresses, Dates, etc)  #}
{# ========================================================= #}

{# Date Formatter #}
{% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

{# audit log for created date #}
{% if currentCase and currentCase.auditLog and currentCase.auditLog.length > 0 %}
  {% set creationLog = currentCase.auditLog | last %}
  {% set formattedDate = creationLog.date | replace("<br>", " at ") %}
{% else %}
  {% set formattedDate = "Not recorded" %}
{% endif %}


{# ========================================================= #}
{# 3. MAIN PAGE LAYOUT                                       #}
{# ========================================================= #}

{% if currentCase.linkedCaseReference %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application is connected to a
            <a class="govuk-notification-banner__link" href="/current-service/back-office/tab-view/02-details?reference={{ currentCase.linkedCaseReference }}">
              {{ currentCase.linkedCaseType }} application
            </a>.
          </p>
        </div>
        </div>
      </div>
    </div>

    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <h1 class="govuk-heading-l">
      {{ currentCase.reference | default('Case Not Found') }}
    </h1>

      <div class="govuk-button-group">

      {{ govukButton({
        text: "Manage documents",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Publish Application"
      }) }}
      </div>

  </div>
</div>

{% include "/components/side-nav/side-nav.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{% if currentCase.applicationStage == "Application" %}
    
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Last updated</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lastModified | default('-') }}</dd>
          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Created date</dt>
            <dd class="govuk-summary-list__value">{{ formattedDate | default('-') }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Category</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.category | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.category %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Procedure</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.procedure | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.procedure %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.status | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Stage</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.progressStage | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.progressStage %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">LPA reference</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lpaReference | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.lpaReference %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Green belt</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.greenBelt | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.greenBelt %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Health and safety issues</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.healthSafetyIssues | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.healthSafetyIssues %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Community Infrastructure Levy (CIL) liable</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.cilLiable | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.cilLiable %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CIL amount</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.cilAmount | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.cilAmount %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Biodiversity net gain (BNG) exempt</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.bngExempt | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.bngExempt %}Change{% else %}Add{% endif %}</a></dd>
          </div>

        </dl>

{% else %}

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Last updated</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.lastModified | default('-') }}</dd>
          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">Created date</dt>
            <dd class="govuk-summary-list__value">{{ formattedDate | default('-') }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.status | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change</a></dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Green belt</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.greenBelt | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.greenBelt %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Health and safety issues</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.healthSafetyIssues | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.healthSafetyIssues %}Change{% else %}Add{% endif %}</a></dd>
          </div>

        </dl>

{% endif %}

  </div>
</div>

{% endblock %}