{% extends "layouts/new/back-office.html" %}
{% set currentPage = "eia" %}

{% block pageTitle %}
  {{ currentCase.reference | default('Case Not Found') }} - Case Details - Manage Planning Applications
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all applications",
    href: "/current-service/back-office/cases"
  }) }}
{% endblock %}

{% block content %}
          

{# ========================================================= #}
{# 1. FIND THE SPECIFIC CASE FROM THE URL QUERY              #}
{# ========================================================= #}
{% set currentCase = null %}
{% for case in data.cases %}
  {% if case.reference == data.reference %}
    {% set currentCase = case %}
  {% endif %}
{% endfor %}

{# ========================================================= #}
{# 2. FORMAT COMPLEX HTML VARIABLES (Addresses, Dates, etc)  #}
{# ========================================================= #}

{# Date Formatter #}
{% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

{% set environmentStatementReceivedDateHtml = "-" %}
{% if currentCase.environmentStatementReceivedDate.year and currentCase.environmentStatementReceivedDate.month and currentCase.environmentStatementReceivedDate.day %}
  {% set day = currentCase.environmentStatementReceivedDate.day | int %}
  {% set monthIndex = currentCase.environmentStatementReceivedDate.month | int %}
  {% set year = currentCase.environmentStatementReceivedDate.year %}
  {% set environmentStatementReceivedDateHtml = day ~ " " ~ monthNames[monthIndex] ~ " " ~ year %}
{% endif %}


{# ========================================================= #}
{# 3. MAIN PAGE LAYOUT                                       #}
{# ========================================================= #}

{% if currentCase.linkedCaseReference %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application is connected to a
            <a class="govuk-notification-banner__link" href="/current-service/back-office/case-details?reference={{ currentCase.linkedCaseReference }}">
              {{ currentCase.linkedCaseType }} application
            </a>.
          </p>
        </div>
        </div>
      </div>
    </div>

    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <h1 class="govuk-heading-l">
      {{ currentCase.reference | default('Case Not Found') }}
    </h1>

      <div class="govuk-button-group">

      {{ govukButton({
        text: "Manage documents",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Publish Application"
      }) }}
      </div>

  </div>
</div>

{% include "/components/side-nav/side-nav.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EIA screening</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.eiaScreening | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.eiaScreening %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          {% if currentCase.eiaScreening == "Yes" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EIA screening outcome</dt>
            <dd class="govuk-summary-list__value">{{ currentCase.eiaScreeningOutcome | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.eiaScreeningOutcome %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date environment statement was received</dt>
            <dd class="govuk-summary-list__value">{{ environmentStatementReceivedDateHtml | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.environmentStatementReceivedDateHtml.day %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          {% endif %}

        </dl>

  </div>
</div>

{% endblock %}