{% extends "layouts/new/back-office.html" %}
{% set currentPage = "non-residential" %}

{% block pageTitle %}
  {{ currentCase.reference | default('Case Not Found') }} - Case Details - Manage Planning Applications
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all applications",
    href: "/current-service/back-office/cases"
  }) }}
{% endblock %}

{% block content %}
          

{# ========================================================= #}
{# 1. FIND THE SPECIFIC CASE FROM THE URL QUERY              #}
{# ========================================================= #}
{% set currentCase = null %}
{% for case in data.cases %}
  {% if case.reference == data.reference %}
    {% set currentCase = case %}
  {% endif %}
{% endfor %}

{# ========================================================= #}
{# 2. FORMAT COMPLEX HTML VARIABLES (Addresses, Dates, etc)  #}
{# ========================================================= #}

{# Date Formatter #}
{% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

{# ========================================================= #}
{# 3. MAIN PAGE LAYOUT                                       #}
{# ========================================================= #}

{% if currentCase.linkedCaseReference %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application is connected to a
            <a class="govuk-notification-banner__link" href="/current-service/back-office/tab-view/14-non-residential?reference={{ currentCase.linkedCaseReference }}">
              {{ currentCase.linkedCaseType }} application
            </a>.
          </p>
        </div>
        </div>
      </div>
    </div>

    {% endif %}

    {# --- SUCCESS BANNER START --- #}
    {% if flashMessage %}
      {% set bannerHtml %}
        <h3 class="govuk-notification-banner__heading">
          {{ flashMessage }}
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        type: "success",
        html: bannerHtml
      }) }}
    {% endif %}
    {# --- SUCCESS BANNER END --- #}


    {# --- ERROR SUMMARY START --- #}
    {% if errorPublishValidation %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: errorPublishValidation,
            href: "#"
          }
        ]
      }) }}

      </div>
    </div>
    {% endif %}
    {# --- ERROR SUMMARY END --- #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <h1 class="govuk-heading-l">
      {{ currentCase.reference | default('Case Not Found') }}
    </h1>

      <div class="govuk-button-group">

      <form method="post" action="/current-service/back-office/manage-documents/main-folder" novalidate>
      {{ govukButton({
        text: "Manage documents",
        classes: "govuk-button--secondary"
      }) }}
      </form>

     {% if currentCase.applicationStage == "Application" %}
        <form method="post" action="/publish-status-answer-14-non-residential?reference={{ currentCase.reference }}" novalidate>
          
          {% if currentCase.publishStatus == "Yes" %}
            
            {{ govukButton({
              id: "publish-button",
              text: "Unpublish application",
              classes: "govuk-button--warning"
            }) }}

          {% else %}
            
            {{ govukButton({
              id: "publish-button",
              text: "Publish application"
            }) }}

          {% endif %}

        </form>
      {% endif %}
      </div>

  </div>
</div>

{% include "/components/side-nav/side-nav.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Non-residential floorspace change </dt>
            <dd class="govuk-summary-list__value">{{ currentCase.nonResidentialFloorspaceChange | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.nonResidentialFloorspaceChange %}Change{% else %}Add{% endif %}</a></dd>
          </div>

        </dl>

  </div>
</div>

{% endblock %}