{% extends "layouts/new/back-office.html" %}
{% set currentPage = "pre-application" %}

{% block pageTitle %}
  {{ currentCase.reference | default('Case Not Found') }} - Case Details - Manage Planning Applications
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all applications",
    href: "/current-service/back-office/cases"
  }) }}
{% endblock %}

{% block content %}
          

{# ========================================================= #}
{# 1. FIND THE SPECIFIC CASE FROM THE URL QUERY              #}
{# ========================================================= #}
{% set currentCase = null %}
{% for case in data.cases %}
  {% if case.reference == data.reference %}
    {% set currentCase = case %}
  {% endif %}
{% endfor %}

{# ========================================================= #}
{# 2. FORMAT COMPLEX HTML VARIABLES (Addresses, Dates, etc)  #}
{# ========================================================= #}

{# Date Formatter #}
{% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

{% set preApplicationReceivedDateHtml = "-" %}
{% if currentCase.preApplicationReceivedDate.year and currentCase.preApplicationReceivedDate.month and currentCase.preApplicationReceivedDate.day %}
  {% set day = currentCase.preApplicationReceivedDate.day | int %}
  {% set monthIndex = currentCase.preApplicationReceivedDate.month | int %}
  {% set year = currentCase.preApplicationReceivedDate.year %}
  {% set preApplicationReceivedDateHtml = day ~ " " ~ monthNames[monthIndex] ~ " " ~ year %}
{% endif %}

{% set preApplicationAdviceIssuedHtml = "-" %}
{% if currentCase.preApplicationAdviceIssued.year and currentCase.preApplicationAdviceIssued.month and currentCase.preApplicationAdviceIssued.day %}
  {% set day = currentCase.preApplicationAdviceIssued.day | int %}
  {% set monthIndex = currentCase.preApplicationAdviceIssued.month | int %}
  {% set year = currentCase.preApplicationAdviceIssued.year %}
  {% set preApplicationAdviceIssuedHtml = day ~ " " ~ monthNames[monthIndex] ~ " " ~ year %}
{% endif %}


{# ========================================================= #}
{# 3. MAIN PAGE LAYOUT                                       #}
{# ========================================================= #}

{% if currentCase.linkedCaseReference %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This application is connected to a
            <a class="govuk-notification-banner__link" href="/current-service/back-office/case-details?reference={{ currentCase.linkedCaseReference }}">
              {{ currentCase.linkedCaseType }} application
            </a>.
          </p>
        </div>
        </div>
      </div>
    </div>

    {% endif %}

    {# --- SUCCESS BANNER START --- #}
    {% if flashMessage %}
      {% set bannerHtml %}
        <h3 class="govuk-notification-banner__heading">
          {{ flashMessage }}
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        type: "success",
        html: bannerHtml
      }) }}
    {% endif %}
    {# --- SUCCESS BANNER END --- #}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <h1 class="govuk-heading-l">
      {{ currentCase.reference | default('Case Not Found') }}
    </h1>

      <div class="govuk-button-group">

      {{ govukButton({
        text: "Manage documents",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Publish Application"
      }) }}
      </div>

  </div>
</div>

{% include "/components/side-nav/side-nav.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{% if currentCase.applicationStage == "Application" %}
    
        <dl class="govuk-summary-list">

          {% if currentCase.preApplicationRequested in ['Yes - PINS', 'Yes - Council'] %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Pre-application received date</dt>
            <dd class="govuk-summary-list__value">{{ preApplicationReceivedDateHtml | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.preApplicationReceivedDate.day %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Pre-application advice issued date</dt>
            <dd class="govuk-summary-list__value">{{ preApplicationAdviceIssuedHtml | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.preApplicationAdviceIssued.day %}Change{% else %}Add{% endif %}</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Pre-application reference</dt>
            
            <dd class="govuk-summary-list__value">
              {% if currentCase.preApplicationRequested == "Yes - PINS" %}
                
                {% if currentCase.preApplicationReferencePins %}
                  <a class="govuk-link" href="/current-service/back-office/tab-view/01-overview?reference={{ currentCase.preApplicationReferencePins }}" rel="noreferrer noopener" target="_blank">
                    {{ currentCase.preApplicationReferencePins }}
                  </a>
                {% else %}
                  <span class="govuk-hint">-</span>
                {% endif %}

              {% elif currentCase.preApplicationRequested == "Yes - Council" %}
                
                {% if currentCase.preApplicationReferenceCouncil %}
                  {{ currentCase.preApplicationReferenceCouncil }}
                {% else %}
                  <span class="govuk-hint">-</span>
                {% endif %}

              {% else %}
                {{ '-' }}
              {% endif %} 
            </dd>
            
            <dd class="govuk-summary-list__actions">
              {% if currentCase.preApplicationRequested == "Yes - PINS" %}
                
                <a class="govuk-link" href="/pre-app-ref-pins-change?reference={{ currentCase.reference }}">
                  {% if currentCase.preApplicationReferencePins %}Change{% else %}Add{% endif %}
                  <span class="govuk-visually-hidden"> pre-application reference</span>
                </a>

              {% elif currentCase.preApplicationRequested == "Yes - Council" %}
                
                <a class="govuk-link" href="/pre-app-ref-council-change?reference={{ currentCase.reference }}">
                  {% if currentCase.preApplicationReferenceCouncil %}Change{% else %}Add{% endif %}
                  <span class="govuk-visually-hidden"> pre-application reference</span>
                </a>

              {% endif %}
            </dd>
          </div>
        
          {% endif %}

        </dl>

{% else %}

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Pre-application advice issued date</dt>
            <dd class="govuk-summary-list__value">{{ preApplicationAdviceIssuedHtml | default('-') }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">{% if currentCase.preApplicationAdviceIssued.day %}Change{% else %}Add{% endif %}</a></dd>
          </div>

        </dl>

{% endif %}

  </div>
</div>

{% endblock %}