{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  Error - Find a local planning application made to the Planning Inspectorate
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Error 404</h1>

    </div>
   </div>   

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">Your representation cannot be submitted as the deadline to submit a representation has passed.</p>


    </div>
  </div>
{% endblock %}
