{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2024/0048 - Application information - Find a Section 62A application
{% endblock %}

{% block content %}

<style>
    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }
</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/app-info">Application information</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/documents" aria-current="location">Documents</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/written-representations">Written representations</a>
                </li>
            </ul>
        </nav>
    </div>

   <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">S62A/2024/0057</span>
      <h1 class="govuk-heading-l">Application updates</h1>

      <!--timeline starts here -->

      <d
<div class="moj-timeline">
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">1 November 2024</h2>
    </div>
    <div class="moj-timeline__description">
      <p class="govuk-!-margin-0">
        Decision Notice and Statement of Reasons      
      </p>
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">27 September 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Procedure is Written Representations<br>
      PINS to Applicant confirming procedure
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">6 September 2024</h2>
    </div>
    <div class="moj-timeline__description">
      All documents, excluding the hearing notice (if one is required) and decision once made, relating to this case published after 05 September 2024 
      will now be available on the additional documents page. 
      https://www.gov.uk/guidance/section-62a-planning-application-s62a20240057-former-friends-school-field-mount-pleasant-road-saffron-walden-cb11-3eb-additional-documents
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">4 September 2024</h2>
    </div>
    <div class="moj-timeline__description">
      correction to site address - Mount Pleasant Road, not Mount Pleasant Lane
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">30 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Historic Environment Adviser
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">29 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Applicant email and schedule of accommodation<br>
      6 Interested party representations<br>
      4 Consultee representations
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">20 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      2 Consultees<br>
      Date by when representations must be made updated to 20 September 2024
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">19 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Screening direction
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">19 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      23 documents added under Consultees
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">19 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      Design and Access and Justification Statement July 2024 Part 2 of 2<br>
      Desk Study Report June 2024 Appendix A - Site Walkover Photos<br>
      Questionnaire & supporting documents added
    </div>
  </div>

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">12 August 2024</h2>
    </div>
    <div class="moj-timeline__description">
      First published.
    </div>
  </div>
</div>

      </div>
    </div>

  {% endblock %}