{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  S62A/2024/0057 - Documents - Find a Section 62A application
{% endblock %}

{% block content %}
<style>
    .document-list li,
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 15px !important;
    }

    .document-list li {
        border-top: 1px solid #b1b4b6;
    }

    .document-list__meta-data {
        color: #505a5f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .document-list,
    .govuk-list {
        color: #0b0c0c;
    }

    .document-list,
    .govuk-list {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .document-list,
    .govuk-list {
        padding-left: 0;
        list-style-type: none;
    }

    .document-list .document-list,
    .document-list .govuk-list,
    .govuk-list .document-list,
    .govuk-list .govuk-list {
        margin-top: 10px;
    }

    .document-list>li,
    .govuk-list>li {
        margin-bottom: 5px;
    }

    .document-list+.govuk-heading-l,
    .govuk-body+.govuk-heading-l,
    .govuk-body-m+.govuk-heading-l,
    .govuk-body-s+.govuk-heading-l,
    .govuk-list+.govuk-heading-l {
        padding-top: 15px;
    }

    @media(min-width: 40.0625em) {

        .document-list+.govuk-heading-l,
        .govuk-body+.govuk-heading-l,
        .govuk_body-m+.govuk-heading-l,
        .govuk-body-s+.govuk-heading-l,
        .govuk-list+.govuk-heading-l {
            padding-top: 20px;
        }
    }

    .document-list+.filter-accordion__title,
    .document-list+.govuk-heading-m,
    .document-list+.govuk-heading-s,
    .govuk-body+.filter-accordion__title,
    .govuk-body+.govuk-heading-m,
    .govuk-body+.govuk-heading-s,
    .govuk-body-m+.filter-accordion__title,
    .govuk-body-m+.govuk-heading-m,
    .govuk-body-m+.govuk-heading-s,
    .govuk-body-s+.filter-accordion__title,
    .govuk-body-s+.govuk-heading-m,
    .govuk-body-s+.govuk-heading-s,
    .govuk-list+.filter-accordion__title,
    .govuk-list+.govuk-heading-m,
    .govuk-list+.govuk-heading-s {
        padding-top: 5px;
    }

    @media(min-width: 40.0625em) {

        .document-list+.filter-accordion__title,
        .document-list+.govuk-heading-m,
        .document-list+.govuk-heading-s,
        .govuk-body+.filter-accordion__title,
        .govuk-body+.govuk-heading-m,
        .govuk-body+.govuk-heading-s,
        .govuk-body-m+.filter-accordion__title,
        .govuk-body-m+.govuk-heading-m,
        .govuk-body-m+.govuk-heading-s,
        .govuk-body-s+.filter-accordion__title,
        .govuk-body-s+.govuk-heading-m,
        .govuk-body-s+.govuk-heading-s,
        .govuk-list+.filter-accordion__title,
        .govuk-list+.govuk-heading-m,
        .govuk-list+.govuk-heading-s {
            padding-top: 10px;
        }
    }

    .document-list,
    .document-list li,
    .govuk-\!-margin-0 {
        margin: 0 !important;
    }

    .document-list li,
    .govuk-\!-padding-top-2 {
        padding-top: 10px !important;
    }

    .document-list li,
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 15px !important;
    }

    .document-list__meta-data {
        color: #505a5f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
        /* Force override of the GOV.UK default details icon */
    details.govuk-details .govuk-details__summary::before {
        
        border: none !important;
        clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%) !important;
        
        width: 16px !important;
        height: 16px !important;
        
        background-color: #000000 !important; /* Matches GOV.UK link blue, change to black if preferred */
    }

    /* Force override for the open state */
    details.govuk-details[open] > .govuk-details__summary::before {
        clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%) !important;
    }

    /* ========================================================= */
    /* MOJ SIDE NAVIGATION OVERRIDES                             */
    /* ========================================================= */
    
    .moj-side-navigation__item a {
        font-size: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .moj-side-navigation__item {
        margin-bottom: 15px; 
    }
</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/app-info">Application information</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/documents" aria-current="location">Documents</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/application-updates">Application updates</a>
                </li>
                <li class="moj-side-navigation__item">
                    <a href="/current-service/front-office/testing/s62a-2024-0057/written-representations">Written representations</a>
                </li>
            </ul>
        </nav>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m">Filters</h3>
            <div style="padding-bottom:10px;">
                <a href="" class="govuk-link">
                    Show all filters</a>
            </div>
            <details class="govuk-details govuk-!-margin-bottom-0" id="filter-panel">
                <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                    <a class="govuk-link govuk-link--no-underline">
                        Category
                    </a>
                </summary>
                <div style="padding-left:30px;">
                    <form class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-grid-row">
                                <div class="">
                                    <fieldset class="govuk-fieldset" aria-describedby="type-of-application-hint">
                                        <div class="govuk-checkboxes govuk-checkboxes--small">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-1" name="type" type="checkbox" value="Planning permission">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                    Application Plans and Documents (84)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Questionnaire and supporting documents (34)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Applicant submission (37)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-1" name="type" type="checkbox" value="Planning permission">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                    Planning Inspectorate Correspondence (2)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Applicant Correspondence (2)
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="Outline planning permission with some matters reserved">
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Decision (1)
                                                </label>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

            <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0" id="filter-panel">
                <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                    <a class="govuk-link govuk-link--no-underline">Date submitted</a>
                </summary>
                <div style="padding-left:30px;">
                    <form class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <h4 class="govuk-fieldset__heading">
                                    From
                                </h4>
                            </legend>
                            <div id="passport-issued-hint" class="govuk-hint">
                                For example, 5 7 2022
                            </div>
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                            <legend style="margin-top:20px" class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <h4 class="govuk-fieldset__heading">
                                    To
                                </h4>
                            </legend>
                            <div id="passport-issued-hint" class="govuk-hint">
                                For example, 27 3 2023
                            </div>
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

            </details>
            <a href="written-reps-selected" class="govuk-button" style="margin-bottom:0px;">
                Apply filters
            </a>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">S62A/2024/0057</span>
        <h1 class="govuk-heading-l">Documents</h1>
        <div>
            <div id="search-hint" class="govuk-hint">
                Search by document name</div>
            <form class="govuk-form-group" style="display: flex; gap: 8px; align-items: center">
                <label class="govuk-label govuk-visually-hidden" for="keyword-search">Keyword search</label>
                <input class="govuk-input" id="keyword-search" name="keyword-search" type="text" autocomplete="off"
                    style="width:100%;">
                <button class="govuk-button" id="keyword-search-button" type="submit"
                    style="margin-bottom:0px;">Search</button>
            </form>

        </div>
        <div id="pagination" class="govuk-body">
            <p class="govuk-body">
                Showing
                <strong>1</strong>
                to
                <strong>25</strong>
                of
                <strong>152</strong>
                documents, newest first.
            </p>

            <span>
                <strong>Results per page</strong>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;

            <span class="govuk-body">25</span>

            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="govuk-link--no-visited-state" href="?itemsPerPage=50" data-pagination="50">50</a>

            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="govuk-link--no-visited-state" href="?itemsPerPage=100" data-pagination="100">100</a>

            <div style="margin-top:20px">

                <ul class="govuk-list document-list">
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Decision Notice and Statement of Reasons</a>
                        <div class="document-list__meta-data">
                            <div>26 Sept 2024</div>
                            <div>PDF</div>
                            <div>211 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Uttlesford_District_Council_Local_Impact_Report.pdf</a>
                        <div class="document-list__meta-data">
                            <div>21 Sept 2024</div>
                            <div>PDF</div>
                            <div>1.2 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Saffron_Walden_Town_Council_Consultation_Response.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Sept 2024</div>
                            <div>PDF</div>
                            <div>245 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">ECC_Lead_Local_Flood_Authority_Comments.pdf</a>
                        <div class="document-list__meta-data">
                            <div>18 Sept 2024</div>
                            <div>PDF</div>
                            <div>310 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Historic_England_Advisory_Letter.pdf</a>
                        <div class="document-list__meta-data">
                            <div>16 Sept 2024</div>
                            <div>PDF</div>
                            <div>180 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Essex_Police_Designing_Out_Crime_Report.pdf</a>
                        <div class="document-list__meta-data">
                            <div>12 Sept 2024</div>
                            <div>PDF</div>
                            <div>420 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Sport_England_Objection_Notice.pdf</a>
                        <div class="document-list__meta-data">
                            <div>10 Sept 2024</div>
                            <div>PDF</div>
                            <div>215 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Active_Travel_England_Assessment.pdf</a>
                        <div class="document-list__meta-data">
                            <div>05 Sept 2024</div>
                            <div>PDF</div>
                            <div>340 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Thames_Water_Drainage_Informative.pdf</a>
                        <div class="document-list__meta-data">
                            <div>02 Sept 2024</div>
                            <div>PDF</div>
                            <div>195 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">ECC_Highways_Authority_Transport_Review.pdf</a>
                        <div class="document-list__meta-data">
                            <div>30 Aug 2024</div>
                            <div>PDF</div>
                            <div>512 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">CPRE_Essex_Objection_Statement.pdf</a>
                        <div class="document-list__meta-data">
                            <div>28 Aug 2024</div>
                            <div>PDF</div>
                            <div>288 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">National_Highways_No_Objection_Letter.pdf</a>
                        <div class="document-list__meta-data">
                            <div>26 Aug 2024</div>
                            <div>PDF</div>
                            <div>150 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">The_Gardens_Trust_Consultation_Response.pdf</a>
                        <div class="document-list__meta-data">
                            <div>25 Aug 2024</div>
                            <div>PDF</div>
                            <div>120 KB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Mount_Pleasant_Lane_Design_and_Access_Statement.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>14.5 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">S62A_Application_Form_Redacted.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>1.1 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Site_Location_Plan_Mount_Pleasant_Lane.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>2.4 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Proposed_Site_Layout_Former_Friends_School.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>5.6 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Transport_Assessment_Part_1.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>8.9 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Preliminary_Ecological_Appraisal.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>3.2 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Flood_Risk_Assessment_and_Drainage_Strategy.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>4.7 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Arboricultural_Impact_Assessment.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>6.1 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Heritage_Statement_Former_Friends_School.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>7.8 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Noise_Impact_Assessment.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>2.3 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Statement_of_Community_Involvement.pdf</a>
                        <div class="document-list__meta-data">
                            <div>20 Aug 2024</div>
                            <div>PDF</div>
                            <div>1.9 MB</div>
                        </div>
                    </li>
                    <li>
                        <a class="govuk-link" href="" rel="noreferrer">Phase_1_Contaminated_Land_Desk_Study.pdf</a>
                        <div class="document-list__meta-data">
                            <div>17 Aug 2024</div>
                            <div>PDF</div>
                            <div>5.4 MB</div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <nav class="govuk-pagination" aria-label="Pagination">
            <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="?page=1" aria-label="Page 1" aria-current="page">
                        1
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page=2" aria-label="Page 2">
                        2
                    </a>
                </li>
                <li class="govuk-pagination__item govuk-pagination__item--ellipsis">
                    ⋯
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page=11" aria-label="Page 11">
                        11
                    </a>
                </li>
            </ul>
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page=2" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden">
                            page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                        height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
                        <path
                            d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                </a>
            </div>
        </nav>
    </div>

</div>
</div>
</div>
</div>

</div>
</div>


{% endblock %}