{% extends "layouts/new/back-office.html" %}

{% block pageTitle %}
  Review representation - {{ rep.reference }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back to manage representations", href: "/current-service/back-office/manage-representations/manage-representations" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">{{ rep.reference }}</span>
        Review representation
    </h1>

    {# ========================================================= #}
    {# PRE-RENDERED HTML SNIPPETS                                #}
    {# ========================================================= #}

    {# --- Date Mapping Array --- #}
    {% set monthNames = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}

    {# --- Date Received HTML --- #}
    {% set dateReceivedHtml %}
      {% if rep.submissionDate and rep.submissionDate.year %}
        {% set rDay = rep.submissionDate.day | int %}
        {% set rMonth = rep.submissionDate.month | int %}
        {% set rYear = rep.submissionDate.year %}
        {{ rDay ~ " " ~ monthNames[rMonth] ~ " " ~ rYear }}
      {% elif rep.backupIso %}
        {{ rep.backupIso | toGovukDate }}
      {% else %}
        Not provided
      {% endif %}
    {% endset %}

    {# --- Groups of People HTML --- #}
    {% set groupOfPeopleHtml %}
      {% if rep.representedGroup and rep.representedGroup.members.length > 0 %}
        <ul class="govuk-list {% if rep.representedGroup.members.length > 1 %}govuk-list--bullet{% endif %}">
          {% for person in rep.representedGroup.members %}
            <li>{{ person.firstName }} {{ person.lastName }}</li>
          {% endfor %}
        </ul>
      {% else %}
        None added
      {% endif %}
    {% endset %}

    {# --- Postal Address HTML --- #}
    {% set addressHtml %}
      {% if rep.postalAddress %}
        {{ rep.postalAddress.line1 }}<br>
        {% if rep.postalAddress.line2 %}{{ rep.postalAddress.line2 }}<br>{% endif %}
        {{ rep.postalAddress.town }}<br>
        {% if rep.postalAddress.county %}{{ rep.postalAddress.county }}<br>{% endif %}
        {{ rep.postalAddress.postcode }}
      {% endif %}
    {% endset %}

    {# ========================================================= #}
    {# SUMMARY LIST                                              #}
    {# ========================================================= #}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      {# --- 00: Reference --- #}
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">Reference</dt>
        <dd class="govuk-summary-list__value">
          {{ rep.reference }}
        </dd>
      </div>

      {# --- 01: Date received --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What date was the representation received?</dt>
        <dd class="govuk-summary-list__value">
          {{ dateReceivedHtml }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="edit-date-received?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> date received</span></a>
        </dd>
      </div>

      {# --- 02: How received --- #}
      {% if rep.howReceived %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">How was this representation received?</dt>
        <dd class="govuk-summary-list__value">{{ rep.howReceived }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="edit-how-received?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> method received</span></a>
        </dd>
      </div>
      {% endif %}

      {# --- 03: Reason not using online service (Conditional) --- #}
      {% if rep.reasonNotOnline %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reason for not using the online service</dt>
        <dd class="govuk-summary-list__value">{{ rep.reasonNotOnline }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="edit-reason-not-online?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> reason not using online service</span></a>
        </dd>
      </div>
      {% endif %}

      {# --- 04: Type of representation --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Representation type</dt>
        <dd class="govuk-summary-list__value">{{ rep.type | default('-') }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="edit-type?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> type of representation</span></a>
        </dd>
      </div>

      {# --- 05: Source of representation --- #}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Who you are submitting for</dt>
        <dd class="govuk-summary-list__value">{{ rep.submitterType }}</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="edit-source?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> source of representation</span></a>
        </dd>
      </div>

      {# --- Conditional: BEHALF OF LOGIC --- #}
      {% if rep.submitterType == 'On behalf of another person, an organisation or group of people' %}
        
        {# 14: Who are they representing? #}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Who are you representing?</dt>
            <dd class="govuk-summary-list__value">{{ rep.representing }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-representing?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> who are you representing?</span></a>
            </dd>
        </div>

        {# 15 & 16: Agent questions (Only for Person, Org they don't work for, or Group) #}
        {% if rep.representing in ['A person', 'An organisation or charity that I do not work or volunteer for', 'A group of people'] %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Are you acting as an agent on behalf of a client?</dt>
              <dd class="govuk-summary-list__value">{{ rep.isAgent }}</dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit-is-agent?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> submitted by agent?</span></a>
              </dd>
          </div>

          {% if rep.isAgent == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Agent organisation name</dt>
              <dd class="govuk-summary-list__value">{{ rep.agentOrgName }}</dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="edit-agent-org?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> agent organisation name</span></a>
              </dd>
            </div>
          {% endif %}
        {% endif %}

      {% endif %}


      {# --- 06: Submitter full name --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your full name</dt>
          <dd class="govuk-summary-list__value">{{ rep.submitterName }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-submitter-name?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> submitter name</span></a>
          </dd>
      </div>

      {# --- 07: Preferred contact method --- #}
      {% if rep.contactMethod == 'Post' %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What is your contact preference?</dt>
          <dd class="govuk-summary-list__value">{{ rep.contactMethod | default('-') }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-contact-method?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> contact method</span></a>
          </dd>
      </div>
      {% endif %}

      {# --- 08: Email address --- #}
      {% if rep.submitterEmail %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your email address</dt>
          <dd class="govuk-summary-list__value">{{ rep.submitterEmail }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-email?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> email address</span></a>
          </dd>
      </div>
      {# --- 09: Postal address (If chosen) --- #}
      {% elif rep.contactMethod == 'Post' %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your postal address</dt>
          <dd class="govuk-summary-list__value">{{ addressHtml | safe }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-postal-address?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> postal address</span></a>
          </dd>
      </div>
      {% endif %}


      {# --- Conditional: ENTITY DETAILS --- #}
      {% if rep.submitterType == 'On behalf of another person, an organisation or group of people' %}
        
        {# 17: Person #}
        {% if rep.representing == 'A person' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Represented person name</dt>
            <dd class="govuk-summary-list__value">{{ rep.representedPerson.firstName }} {{ rep.representedPerson.lastName }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-represented-person?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> represented person name</span></a>
            </dd>
        </div>
        {% endif %}

        {# 18 & 19: Org work for #}
        {% if rep.representing == 'An organisation or charity that I work or volunteer for' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Your organisation or charity name</dt>
            <dd class="govuk-summary-list__value">{{ rep.representedOrgWorkFor.name }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-represented-org-work?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> organisation name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Your job title or volunteer role</dt>
            <dd class="govuk-summary-list__value">{{ rep.representedOrgWorkFor.role }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-represented-org-role?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> role or job title</span></a>
            </dd>
        </div>
        {% endif %}

        {# 20: Org DO NOT work for #}
        {% if rep.representing == 'An organisation or charity that I do not work or volunteer for' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name of the organisation or charity representing</dt>
            <dd class="govuk-summary-list__value">{{ rep.representedOrgOther }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-represented-org-other?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> organisation representing</span></a>
            </dd>
        </div>
        {% endif %}

        {# 21 & 22: Group #}
        {% if rep.representing == 'A group of people' %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Your group name</dt>
            <dd class="govuk-summary-list__value">{{ rep.representedGroup.name }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-group-name?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> group name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Names in the group</dt>
            <dd class="govuk-summary-list__value">{{ groupOfPeopleHtml | safe }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-group-members?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> group name details</span></a>
            </dd>
        </div>
        {% endif %}

      {% endif %}

      {# --- 10: The Representation Comment --- #}
      {% set comment = rep.comment | default('') %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Tell us about application</dt>
          <dd class="govuk-summary-list__value">
          {% if comment.length > 100 %}
              <p class="govuk-body">{{ comment | truncate(100, true, "...") }}</p>
              <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Read full comment</span>
                </summary>
                <div class="govuk-details__text">
                    {{ comment | nl2br | safe }}
                </div>
              </details>
          {% else %}
              {{ comment | nl2br | safe }}
          {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-comment?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> comment</span></a>
          </dd>
      </div>

      {# --- 11: Hearing --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Would you like to be heard at a hearing?</dt>
          <dd class="govuk-summary-list__value">{{ rep.wantsHearing | default('-') }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-hearing?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> hearing preference</span></a>
          </dd>
      </div>

      {# --- 12: Attachments Included? --- #}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Attachments uploaded?</dt>
          <dd class="govuk-summary-list__value">{{ rep.hasAttachments }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-has-attachments?repRef={{ rep.reference }}">Edit<span class="govuk-visually-hidden"> attachments included</span></a>
          </dd>
      </div>

      {# --- 13: Uploaded Files (If Yes) --- #}
      {% if rep.hasAttachments == 'Yes' %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Attachments</dt>
          <dd class="govuk-summary-list__value">
            {# Because we saved attachments as an array in the POST route, we can loop over it directly #}
            {% if rep.attachments and rep.attachments.length > 0 %}
              <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">
                {% for file in rep.attachments %}
                  <li><a class="govuk-link" href="#">{{ file }}</a></li>
                {% endfor %}
              </ol>
            {% else %}
              None provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-attachments?repRef={{ rep.reference }}">
              Edit<span class="govuk-visually-hidden"> upload attachments</span>
            </a>
          </dd>
      </div>
      {% endif %}

    </dl>

    <p class="govuk-body">
          <a href="/withdraw-representation-start" class="govuk-link govuk-!-font-size-19" id="withdraw-representation-link">Withdraw representation</a>
    </p>

    {{ govukButton({
      text: "Continue",
      href: "",
      classes: "govuk-button"
    }) }}

  </div>
</div>

{% endblock %}