{% extends "layouts/new/front-office.html" %}

{% set activePage = "all-applications" %}

{% block pageTitle %}
  All Section 62A applications - Find a Section 62A application - GOV.UK
{% endblock %}

{% block beforeContent %}
    <div style="width:100vw; margin-left:calc(-50vw + 50%); background:#00847E; padding: 40px 0;">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 style="color:white;" class="govuk-heading-xl pins-info-heading govuk-!-margin-bottom-6">
                        Welcome to Find a Section 62A application
                    </h1>
                    <p style="color:white" class="govuk-body pins-info-body">
                        Here you can find more information about Section 62A applications. These are planning applications that have been sent to the Planning Inspectorate instead of their local planning authority after designation.
                    </p>
                    <p style="color:white" class="govuk-body pins-info-body govuk-!-margin-bottom-0">
                        This site is managed by the Planning Inspectorate, the government agency responsible for handling Section 62A applications.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <style>
        /* Tooltip text */
        #tooltiptext {
            visibility: hidden;
            background-color: white;
            color: #000;
            text-align: left;
            margin: 10px;
            padding: 16px;
            border-radius: 4px;
            left: 48%;
            position: absolute;
            z-index: 1;
        }

        #tooltiptext:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-color: #ffffff transparent;
            border-width: 10px 10px 0;
            bottom: -10px;
            left: 50%;
            margin-left: -10px;
        }

        #tooltip {
            background-image: url("https://www.ordnancesurvey.co.uk/img-assets/products/overview-england-wales.x4fa67183.xe4e2d2f0.jpg");
            background-size: cover;
            height: 700px;
            width: 100%;
            background-color: rgb(188, 214, 188);
            text-align: center;
            padding-top: 400px;
        }

        .layout-slots__divider { color: #ffffff; }
        a { color: #1d70b8; }
        .grey-box { display: none; }
        .govuk-main-wrapper { padding-top: 0; }

        .filter {
            background-color: #f3f2f1;
            padding: 8px;
            border-radius: 5px;
            margin-left: 10px;
            border: 1px solid #505a5f;
            text-decoration: none;
            color: black;
        }

        .filters {
            margin-bottom: 16px;
            padding-bottom: 14px;
            border-bottom: 1px solid #b1b4b6;
        }

        .filters .govuk-details__text {
            border: none;
            padding-left: 0;
        }

        .filtersText {
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 1.1875rem;
        }

        .filter:visited { color: black; }

        .govuk-header,
        .govuk-header__container {
            background-color: rgb(7, 71, 69);
            border-bottom: 10px solid #00847f;
        }

        .greybg {
            box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0;
        }

        .listbox {
            border: 1px solid rgb(147, 147, 147);
            padding: 16px;
            margin: 12px;
            transform: translateY(600px);
            position: absolute;
            background-color: white;
            width: 554px;
        }

        .govuk-details__summary::before {
            clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
            background-color: black;
            color: black;
            width: 3px;
            height: 3px;
        }

        .govuk-details[open] > .govuk-details__summary::before {
            clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
            width: 3px;
            height: 3px;
        }
    </style>

    {# Calculate total cases: dynamic cases + 3 static examples #}
    {% set dynamicCasesCount = publishedCases | length %}
    {% set totalCases = dynamicCasesCount + 3 %}

    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l" style="margin-top: -40px;">
                    All Section 62A applications
                </h2>
                
                <p class="govuk-body">
                    Showing
                    <strong>1</strong>
                    to
                    <strong>{{ totalCases }}</strong>
                    of
                    <strong>{{ totalCases }}</strong>
                    results
                </p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            <div class="govuk-grid-column-full">

                <div class="pins-table__container">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
                            List of all published Section 62A applications
                        </caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header" style="width: 15%;">Application reference</th>
                                <th scope="col" class="govuk-table__header" style="width: 60%;">Applicant name</th>
                                <th scope="col" class="govuk-table__header" style="width: 25%;">Local planning authority</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">

                            {% if dynamicCasesCount > 0 %}
                                {% for case in publishedCases | reverse %}
                                
                                    {% set displayApplicantName = "Not provided" %}

                                    {% if case.hasAgent == "Yes" %}
                                      {% if case.agentOrgName %}
                                        {% set displayApplicantName = case.agentOrgName %}
                                      {% elif case.agentContacts and case.agentContacts.length > 0 %}
                                        {% set displayApplicantName = case.agentContacts[0].firstName + " " + case.agentContacts[0].lastName %}
                                      {% endif %}
                                    {% elif case.applicantOrgs and case.applicantOrgs.length > 0 %}
                                      {% set displayApplicantName %}
                                        {%- for org in case.applicantOrgs -%}
                                          {{ org.orgName }}{% if not loop.last %}, {% endif %}
                                        {%- endfor -%}
                                      {% endset %}
                                    {% elif case.applicantContacts and case.applicantContacts.length > 0 %}
                                      {% set displayApplicantName = case.applicantContacts[0].firstName + " " + case.applicantContacts[0].lastName %}
                                    {% endif %}

                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">
                                            <a class="govuk-link" href="application-information?reference={{ case.reference }}">
                                                {{ case.reference | default('Reference not set') }}
                                            </a>
                                        </th>
                                        <td class="govuk-table__cell">{{ displayApplicantName | safe }}</td>
                                        <td class="govuk-table__cell">{{ case.lpa | default('Not provided') }}</td>
                                    </tr>
                                    
                                {% endfor %}
                            {% endif %}

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a class="govuk-link" href="/current-service/front-office/testing/s62a-2026-0048/app-info">
                                        S62A/2026/0048
                                    </a>
                                </th>
                                <td class="govuk-table__cell">Colin Franzmann</td>
                                <td class="govuk-table__cell">St Albans City and District Council</td>
                            </tr>
                            
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a class="govuk-link" href="/current-service/front-office/testing/s62a-2025-0138/app-info">
                                        S62A/2025/0138
                                    </a>
                                </th>
                                <td class="govuk-table__cell">Bristol Design Properties Ltd</td>
                                <td class="govuk-table__cell">Bristol City Council</td>
                            </tr>
                            

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a class="govuk-link" href="/current-service/front-office/testing/s62a-2024-0057/app-info">
                                        S62A/2024/0057
                                    </a>
                                </th>
                                <td class="govuk-table__cell">Chase New Homes</td>
                                <td class="govuk-table__cell">Uttlesford District Council</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}