{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorIncludeAttachments %}Error: {% endif %}Do you want to include any supporting attachments with your comment? - Find a Section 62A application
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/16-add-your-comments"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorIncludeAttachments %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorIncludeAttachments, href: "#include-attachments" }]
      }) }}
    {% endif %}

    <form class="form" action="/include-attachments-answer" method="post" novalidate>
      
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "include-attachments",
        name: "include-attachments",
        fieldset: {
          legend: { 
            text: "Do you want to include any supporting attachments with your comment?", 
            isPageHeading: true, 
            classes: "govuk-fieldset__legend--l" 
          }
        },
        hint: 
            { text: "Include any relevant attachments such as reports, photographs or previous submissions." 
        },
        errorMessage: { text: errorIncludeAttachments } if errorIncludeAttachments else null,
        items: [
          { 
            value: "Yes", 
            text: "Yes", 
            checked: data['include-attachments'] == 'Yes' 
          },
          { 
            value: "No", 
            text: "No", 
            checked: data['include-attachments'] == 'No' 
          }
        ]
      }) }}
      
      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}