{% extends "layouts/main.njk" %}

{% set pageTitle = "Feature: publish documents" %}

{% block content %}

<a href="/index" class="govuk-back-link">Back to prototype home</a>

<h1 class="govuk-heading-l">Publish documents</h1>


<p class="govuk-body"><a class="govuk-link"
    href="https://app.mural.co/t/allpins6990/m/allpins6990/1788505257233/11287eb438144da6c20e6d43e26521db7fd347bd"
    class="govuk-link">Mural link</a></p>
<p class="govuk-body">This feature allows back office users to publish documents:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Back office users can select documents to publish from file view.</li>
  <li>Users must add a category to allow filtering on the front office.</li>
</ul>

<a href="publish-documents/v1/folder.html" class="govuk-button" data-module="govuk-button">
  Publish documents flow
</a>

<ul class="govuk-list">
  <li><a href="v1/folder.html">Folder before publish</a></li>
  <li><a href="v1/categorise.html">Folder before publish</a></li>
</ul>

{% endblock %}