{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "#"
}) }}

{% endblock %}

{% block pageTitle %}
 Section 62A Planning Application
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Housing, local and community",
      href: "#"
    },
    {
      text: "Planning and building",
      href: "#"
    },
    {
      text: "Planning permission and appeals",
      href: "#"
    }
  ]
}) }}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
        To see cases submitted after 1 January 2026, go to
        <a class="govuk-notification-banner__link" href="https://pins-app-prototype-s62a.azurewebsites.net/current-service/front-office/all-applications">Find a local planning application made to the Planning Inspectorate</a>.
        </p>
    </div>
    </div>

</div>
</div>

<style>
    .govuk-section-title {
        font-size: 1.5rem;
        line-height: 1.25;
    }
    .app-metadata {
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
    margin-bottom: 30px;
    }
    .app-metadata__list {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 20px;
        row-gap: 10px;
        margin: 0;
    }
    .app-metadata__term,
    .app-metadata__definition {
        margin: 0;
    }

    .app-get-emails {
        border: 1px solid #0b0c0c;
        padding: 10px 15px;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 30px;
    }
    
    .app-get-emails:hover {
        background-color: #f3f2f1; /* Slight grey hover state for better UX */
    }

    .app-get-emails__icon {
        margin-right: 15px;
        fill: #0b0c0c; /* GOV.UK Black */
    }

    .app-metadata-details {
        margin-top: 5px; /* Tightens the gap below the date */
        margin-bottom: 0;
    }
    
    .app-metadata-details .govuk-details__summary-text {
        font-size: 16px; /* Matches govuk-body-s */
    }
    
    .app-metadata-details .govuk-details__text {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Collection</span>
        Section 62A Planning Applications in Bristol City Council
    </h1>

    <p class="govuk-section-title govuk-!-margin-bottom-8">
        A list of planning applications in Bristol City Council received by the Planning Inspectorate under section 62A of the Town and Country Planning Act (1990).
    </p>

    <div class="app-metadata">
    <dl class="app-metadata__list govuk-body-s">
        <dt class="app-metadata__term">From:</dt>
        <dd class="app-metadata__definition">
          <a href="/government/organisations/planning-inspectorate" class="govuk-link"><strong>Planning Inspectorate</strong></a>
        </dd>
        
        <dt class="app-metadata__term">Published:</dt>
        <dd class="app-metadata__definition">2 April 2024</dd>
        
        <dt class="app-metadata__term">Last updated:</dt>
        <dd class="app-metadata__definition">
            <div>27 January 2026</div>
            <details class="govuk-details app-metadata-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Show all updates
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body-s govuk-!-margin-bottom-2">
                        <strong>27 January 2026</strong><br>
                        Added new environmental impact report.
                    </p>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">
                        <strong>14 January 2026</strong><br>
                        First published.
                    </p>
                </div>
            </details>
        </dd>
    </dl>
    </div>

    <div style="margin-top: 60px;">
        <a href="#" class="app-get-emails">
        <svg class="app-get-emails__icon" xmlns="http://www.w3.org/2000/svg" height="20" width="18" aria-hidden="true" focusable="false" viewBox="0 0 16 18">
            <path d="M8 18c1.1 0 2-.9 2-2H6c0 1.1.9 2 2 2zm6-5V8c0-3.07-1.64-5.64-4.5-6.32V1c0-.55-.45-1-1-1s-1 .45-1 1v.68C4.64 2.36 3 4.93 3 8v5l-2 2v1h14v-1l-2-2z"></path>
        </svg>
        <span class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Get emails about this page</span>
        </a>
    </div>

    <ul class="govuk-list govuk-list--spaced">
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0150 265-267 Church Road, Bristol, BS5 9HU</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0148 The Landing (Ground Floor Café), 125 Redcliff Street, Bristol, BS1 6HU</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0151 15 Sterncourt Road, Stapleton, Bristol, BS16 1LB</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0149 703 Fishponds Road, Fishponds, Bristol, BS16 3UH</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0147 Land to rear of 372-374 Southmead Road, Bristol, BS10 5LP</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0145 33 Brockworth Crescent, Stapleton, Bristol, BS16 1HQ</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0144 115 Hampton Road, Redland, Bristol, BS6 6JG</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0141 16-18 Cherry Lane, Bristol, BS1 3NG</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2025/0139 Castle House, Brentry Avenue, Bristol, BS5 0DL</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0135 42 Gloucester Road, Bishopston, Bristol, BS7 8AR</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0134 Unit 4, St Philips Central, Albert Road, Bristol, BS2 0XJ</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0130 12-14 High Street, Shirehampton, Bristol, BS11 0DP</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0128 Land adjacent to 55 Kings Weston Lane, Lawrence Weston, Bristol, BS11 0UR</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0125 89 Queens Road, Clifton, Bristol, BS8 1QS</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0122 First Floor Flat, 14 Cotham Hill, Bristol, BS6 6OX</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0119 220-224 West Street, Bedminster, Bristol, BS3 3NB</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0115 The Old Brewery, 70-72 Ashton Road, Bristol, BS3 2EA</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Section 62A Planning Application: S62A/2026/0111 Site of former petrol station, 105 Bath Road, Brislington, Bristol, BS4 3UH</a>
    </li>
    </ul>

    <p class="govuk-body">For guidance, see <a href="https://www.gov.uk/government/publications/planning-applications-process-section-62a-authorities-in-special-measures">Planning Applications Process: Section 62A Authorities in Special Measures</a>.</p>

    





  </div>
</div>
{% endblock %}