{% extends "layouts/main.njk" %}

{% set pageName = "Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Section 62A Prototype</h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Prototypes
    </h2>
    <!--tab headings-->
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#current-service">Current service</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#features">Upcoming features</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#feature-archive">Feature archive</a>
      </li>
    </ul>
    <!--tab content-->

    <!--CURRENT SERVICE-->
    <div class="govuk-tabs__panel" id="current-service">
      <h2 class="govuk-heading-l">Current service</h2>
      <p class="govuk-body">Prototype version of the service: data is not stored and some features may not work.</p>
      <h3 class="govuk-heading-m">Front office</h3>
      <h4 class="govuk-heading-s">Main site</h4>
      <ul class="govuk-list">
        <li>
          <a href="/current-service/front-office/all-applications">Visit the prototype front office</a>
        </li>
      </ul>
      <h4 class="govuk-heading-s">UR Testing Cases</h4>
      <ul class="govuk-list">
        <li>
          <a href="/current-service/front-office/testing/s62a-2026-0048/app-info">S62A/2026/0048 (Mock ongoing case)</a>
        </li>
         <li>
          <a href="/current-service/front-office/testing/s62a-2025-0138/app-info">S62A/2025/0138</a>
        </li>
        <li>
          <a href="/current-service/front-office/testing/s62a-2024-0057/app-info">S62A/2024/0057</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Back office</h3>
      <h4 class="govuk-heading-s">Case management</h4>
      <ul class="govuk-list">
        <li>
          <a href="/current-service/back-office/cases">Case list</a>
        </li>
        <li>
          <a href="/">Case details (in development)</a>
        </li>
      </ul>
      <h4 class="govuk-heading-s">Create a case</h4>
      <ul class="govuk-list">
        <li>
          <a href="/create-case-start"> Start a new case</a>
        </li>
        <li>
          <details class="govuk-details govuk-!-margin-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Create a case individual pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/0-application-stage">Is this a pre-application or an application?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/0-application-classification">Is this a major or non-major application?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/1-application-type">What type of application is it?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/2-1-lpa">Which local planning authority is this [application/pre-application advice] related to?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/2-2-lpa-contact">What are the local planning authority's contact details?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/3-1-has-secondary-lpa">Does this application have a secondary local planning authority?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/3-2-secondary-lpa-input">Which secondary local planning authority is this application related to?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/3-3-secondary-lpa-contact">What are the secondary local planning authority's contact details?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/4-1-has-agent">Is the applicant using an agent?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/4-2-agent-org-name">What is the name of the agent organisation?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/4-3-agent-org-address">What is the address of the agent organisation?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/4-4-agent-check">Check agent contact details</a>
                </li>
                <li>
                  <a
                    href="/edit-agent-contact?">What are the agent's contact details?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/agent-contact-remove?id=agent-">Do you want to remove this agent contact?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/5-0-applicant-type?">Is the applicant an organisation or an individual?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/5-1-applicant-check">Check applicant organisation details</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/edit-applicant-org">What is the name of the applicant organisation?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/5-3-applicant-org-address">What is the address of the applicant organisation?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/applicant-org-remove?id=org-">Do you want to remove this applicant organisation?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/6-1-applicant-contact-check">Check applicant contact details</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/edit-applicant-contact">What are the applicant's contact details?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/applicant-contact-remove?id=app-con-">Do you want to remove this applicant contact?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/7-site-address">What is the site address?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/8-site-coords">What are the coordinates of the site?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/9-site-area">What is the area of the site?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/10-dev-description">What is the description of the development?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/11-notification-received-date">When was the notification of intent submitted? (optional)</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/12-exp-submission-date">When is the [application/pre-application advice] expected to be submitted?</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/13-check-your-answers">Check your answers</a>
                </li>
                <li>
                  <a
                    href="/current-service/back-office/create-a-case/14-case-created-success">Case created</a>
                </li>
              </ol>
            </div>
          </details>
        </li>
      </ul>
    </div>

       <!--FEATURES-->

        <div class="govuk-tabs__panel" id="features">
          <ul class="govuk-task-list">
            <h2 class="govuk-heading-l">Upcoming features</h2>

            <p class="govuk-body">These features are in progress.</p>

            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/current-service/front-office/testing/experimental/index.html">Have your say landing page</a>
                <div class="govuk-task-list__hint">Iterations on HYS landing page with latest Crown designs and AI policy
            </div>
              </div>
              <div class="govuk-task-list__status">
                <strong class="govuk-tag govuk-tag--blue">In progress</strong>
              </div>
            </li>


          </ul>
          </div>


{% endblock %}
