{% extends "layouts/new/front-office.html" %}

{% block pageTitle %}
  {% if errorYourEmailAddress %}Error: {% endif %}What is your email address?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/current-service/front-office/testing/s62a-2026-0048/have-your-say/05-what-is-your-name"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorYourEmailAddress %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorYourEmailAddress, href: "#your-email-address" }]
        }) }}
      {% endif %}

      <form class="form" action="/your-email-address-answer" method="post" novalidate>

        {{ govukInput({
          id: "your-email-address",
          name: "your-email-address",
          spellcheck: false,
          value: data['your-email-address'],
          label: {
            text: "What is your email address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "We will only use this email address to contact you about your representation if we need to. We will not publish your email address." 
        },
          errorMessage: { text: errorYourEmailAddress } if errorYourEmailAddress else null
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}